<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{brand.ExploreInfluencer.title}"></title>
<link rel="stylesheet" th:href="@{/static/css/datatables.min.css}">
<link rel="stylesheet"
	th:href="@{/static/css/select.dataTables.min.css}">
<th:block th:insert="header" />
</head>
<body>
	<div id="wrapper" class="">
		<th:block th:insert="Admin/NavPanel" />
		<div id="page-content-wrapper">
			<div class="container-wrapper">
				<!-- Nav tabs -->
				<div class="tabs-wrapper">
					<ul class="nav classic-tabs tabs-red" role="tablist">
						<li class="nav-item"><a class="nav-link waves-light active"
							data-toggle="tab" href="#brand_approval" role="tab"
							th:text="#{Admin.BrandManagement.tab.BrandApproval}"></a></li>
						<li class="nav-item"><a class="nav-link waves-light"
							data-toggle="tab" href="#reports" role="tab">REPORTS</a></li>
						<!-- <li class="nav-item"><a class="nav-link waves-light"
							data-toggle="tab" href="#db_update" role="tab">DB UPDATE</a></li> -->
					</ul>
				</div>
				<!-- Tab panels -->
				<div class="tab-content card">
					<div class="tab-pane fade in show active" id="brand_approval"
						role="tabpanel">
						<!--<h5> Approval</h5>-->
						<div class="clearfix">
							<table id="brand_approval_table"
								class="table table-sm table-striped table-hover">
								<thead>
									<tr class="text-primary">
										<th
											th:text="#{Admin.BrandManagement.BrandApproval.table.BrandName}"></th>
										<th
											th:text="#{Admin.BrandManagement.BrandApproval.table.EmailID}"></th>
										<th class="text-center">CreatedOn</th>
										<th class="text-center"
											th:text="#{Admin.BrandManagement.BrandApproval.table.Status}"></th>
										<th class="text-center">SubscriptionName</th>
										<th class="text-center">Subscription</th>
										<th class="text-center">Approve</th>
										<th class="text-center">Remove</th>
										<th class="text-center"
											th:text="#{Admin.BrandManagement.BrandApproval.table.Action}"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:id="'row'+${brand.key.userId}"
										th:each="brand : ${brandList}">
										<td class="text-left" th:text="${brand.brandName}"></td>
										<td class="text-left" th:text="${brand.email}"></td>
										<td class="text-left"
											th:text="|${T(io.smartfluence.util.ThymeUtils).getDate(brand.createdAt)}|"></td>
										<td class="text-left" th:text="${brand.key.userStatus}"></td>
										<td class="text-left" th:text="${brand.subscriptionName}"></td>

										<td th:id="'subscription'+${brand.key.userId}"
											class="text-center disabled"><th:block>
												<select th:class="${brand.key.userId}">
													<option value="">--Select--</option>
													<option
														th:value="${sub.key.subscriptionType}+'|'+${sub.key.subscriptionId}"
														th:text="${sub.subscriptionName}"
														th:each="sub : ${subscriptions}"></option>
												</select>
											</th:block></td>
										<td th:id="'approve'+${brand.key.userId}"
											class="text-center text-primary disabled"><th:block>
												<span class="text-primary p-2"
													th:onclick="|approveBrand('${brand.key.userId}','${brand.key.userStatus}')|"><i
													class="fas fa-check cur-pointer" style="font-size: 1.5rem;"></i></span>
											</th:block></td>
										<td th:id="'remove'+${brand.key.userId}"
											class="text-center disabled"><th:block>
												<span class="text-danger p-2 "
													th:onclick="|declineBrand('${brand.key.userId}','${brand.key.userStatus}')|"><i
													class="fas fa-times cur-pointer" style="font-size: 1.5rem;"></i></span>
											</th:block></td>
										<td th:onclick="|edit('${brand.key.userId}')|"
											class="text-center">
											<button th:id="'editInfluencer'+${brand.key.userId}"
												class="btn btn-primary btn-sm m-0  waves-effect waves-light">Edit</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="tab-pane fade in show" id="reports" role="tabpanel">
						<div class="clearfix">
							<div class="row">
								<div class="col-md-4">
									<div class="md-form">
										<label for="startDate" class="active">Start Date<span
											class="text-danger"> *</span></label> <input type="date"
											id="startDate" name="startDate" required="required"
											class="form-control">
									</div>
								</div>
								<div class="col-md-4">
									<div class="md-form">
										<label for="endDate" class="active">End Date<span
											class="text-danger"> *</span></label> <input type="date" id="endDate"
											name="endDate" required="required" class="form-control">
									</div>
								</div>
								<div class="col-md-4">
									<div class="md-form">
										<label class="active">Report Type<span
											class="text-danger"> *</span></label> <select id="reportType"
											class="mdb-select form-control">
											<option value="" hidden="true">Select Report</option>
											<option value="usage_history">Usage Report</option>
											<option value="mail_history">Email Report</option>
											<option value="search_history">Search History</option>
										</select>
									</div>
								</div>
							</div>
							<!-- <br> -->
							<div class="row">
								<div
									style="display: flex; justify-content: center; width: 100%;">
									<button onclick="openDownloadReportModal(false)"
										class="btn btn-primary btn-sm m-0  waves-effect waves-light">Search</button>
								</div>
							</div>
						</div>
					</div>
					<!--Panel 4-->
					<!-- <div class="tab-pane fade in show" id="db_update" role="tabpanel">
						<h5> Approval</h5>
						<div class="clearfix">
							<table id="dbUpdateHistory"
								class="table table-sm table-striped table-hover">
								<thead class="text-primary">
									<tr>
										<th>Start Time</th>
										<th>End Time</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="dbHistory: ${dbUpdateHistories}">
										<tr>
											<td th:text="${dbHistory.startDate}"></td>
											<td th:text="${dbHistory.endDate}"></td>
											<td th:text="${dbHistory.status}"></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="downloadReportModal" tabindex="-1"
		role="dialog" aria-labelledby="" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-primary">Download Report</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="text-align: center;">
					<span id="fileReadyMessage"></span>
					<div class="" style="display: inline-block"
						id="reportMessageLoader">
						<div class="loader"></div>
					</div>
					<span id="downloadReport" class="d-none">Your file is ready.
						Click <span style="cursor: pointer; color: #2f008d;"
						onclick="downloadReport()">here</span> to download.
					</span>
				</div>
			</div>
		</div>
	</div>

	<th:block th:insert="footer" />
	<script type="text/javascript" th:src="@{/static/js/datatables.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/js/dataTables.select.min.js}">
		
	</script>
	<script type="text/javascript"
		th:src="@{/static/script/admin/brand_management.js}">
		
	</script>
</body>
</html>