<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Smartfluence</title>
    <th:block th:insert="header" />
</head>
<body>
<div class="container-fluid clearfix">
    <div class="row justify-content-md-center">
        <div class="w-100">
            <section class="form-light">
                <!--Form without header-->
                <div class="text-center">
                    <!--Header-->
                    <div class="">
                        <a class="navbar-brand" href="#"><img
                                th:src="@{/static/img/new-logo-transparent.png}"></a>
                    </div>
                    <h1 class="mt-5">
                        Password is created successfully. Go back to <a th:href="@{/}">Sign
                        In</a>
                    </h1>
                </div>
            </section>
        </div>
    </div>
</div>
<th:block th:insert="footer" />
</body>
</html>