<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Smartfluence | Create Password for your Smartfluence
        account</title>
    <th:block th:insert="header" />
</head>
<body >
<div class="text-center">
    <a class="navbar-brand" href="#"><img
            th:src="@{/static/img/new-logo-transparent.png}"></a>
</div>
<section style="padding:60px 0;  display:flex;
justify-content:center; align-items:center;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form id="resetpasswordForm" autocomplete="off"
                      class="needs-validation" th:classappend="${fieldError}"
                      th:object=${ResetPasswordModal} th:action="@{/create-password}"
                      method="post" novalidate="novalidate">
                    <!--Form without header-->
                    <div class="text-center">
                        <!--Header-->

                        <h3 class="mb-4">
                            Create new password<br> If you had already created
                            your password, go back to <a th:href="@{/}">Sign In</a>
                        </h3>
                    </div>
                    <div  style="textAlign:center">
                        <div class="md-form">
                            <input type="password" id="password" name="password"
                                   maxlength="50" required="required" pattern=".{8,}"
                                   class="form-control"> <label for="password">Password</label>
                            <span data-toggle="#password" class="field-icon password-toggle"><i
                                    class="far fa-eye-slash"></i></span>
                            <div class="invalid-feedback">Password should contain at
                                least 8 characters</div>
                        </div>
                        <div class="md-form">
                            <input type="password" id="confirmPassword" name="confirmPassword"
                                   maxlength="50" required="required" pattern=".{8,}"
                                   class="form-control"> <label for="confirmpassword">Confirm
                            Password</label> <span data-toggle="#confirmPassword"
                                                   class="field-icon password-toggle"><i
                                class="far fa-eye-slash"></i></span>
                            <div class="invalid-feedback">Password should contain at
                                least 8 characters</div>
                        </div>
                        <div class="md-form">
                            <div class="col-md-12 text-center p-0">
                                <button type="submit" id="createpassword" name="createPassword"
                                        onclick="resetPassword" style="color: #fff !important;"
                                        class="btn btn-primary btn-block btn-rounded z-depth-1">Create
                                    Password</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<th:block th:insert="footer" />
<script type="text/javascript"
        th:src="@{/static/script/createPassword.js}"></script>
</body>
</html>