<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!-- <div class="footer pt-3 mdb-color primary mt-3">
	<div class="row d-flex justify-content-center">
		<p class="font-small white-text mb-1">or Sign up with:</p>
	</div>
	<div class="row mb-1 d-flex justify-content-center">
		Facebook
		<a th:href=@{https://${eureka.instance.home}/login/facebook} class="fa-lg p-2 m-2 fb-ic"><i
			class="fab fa-facebook-f white-text fa-lg"> </i></a>
		Instagram
		<a class="fa-lg p-2 m-2 tw-ic"><i
			class="fab fa-instagram white-text fa-lg"> </i></a>
	</div>
</div> -->
</html>