<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<div class="tab-pane fade  in active show" id="panelLogin"
	role="tabpanel">
	<form id="signInForm" autocomplete="off" class="needs-validation"
		action="/login" method="post" novalidate="novalidate">
		<div class="col-md-12 text-primary row">
			<h5 class="mx-auto" style="margin: auto; font-weight: bolder;">Welcome
				back!</h5>
		</div>
		<div class="md-form">
			<input type="email" id="username" name="username" required="required"
				class="form-control" autofocus=""> <label for="username"
				class="">Business Email</label>
			<div class="invalid-feedback">Please choose a valid email.</div>
		</div>
		<div class="md-form">
			<input type="password" id="password" name="password" maxlength="50"
				required="required" pattern=".{8,}" class="form-control"> <label
				for="password" class="">Password</label> <span
				data-toggle="#password" class="field-icon password-toggle"><svg
					class="svg-inline--fa fa-eye-slash fa-w-18" aria-hidden="true"
					data-prefix="far" data-icon="eye-slash" role="img"
					xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
					data-fa-i2svg="">
											<path fill="currentColor"
						d="M272.702 359.139c-80.483-9.011-136.212-86.886-116.93-167.042l116.93 167.042zM288 392c-102.556 0-192.092-54.701-240-136 21.755-36.917 52.1-68.342 88.344-91.658l-27.541-39.343C67.001 152.234 31.921 188.741 6.646 231.631a47.999 47.999 0 0 0 0 48.739C63.004 376.006 168.14 440 288 440a332.89 332.89 0 0 0 39.648-2.367l-32.021-45.744A284.16 284.16 0 0 1 288 392zm281.354-111.631c-33.232 56.394-83.421 101.742-143.554 129.492l48.116 68.74c3.801 5.429 2.48 12.912-2.949 16.712L450.23 509.83c-5.429 3.801-12.912 2.48-16.712-2.949L102.084 33.399c-3.801-5.429-2.48-12.912 2.949-16.712L125.77 2.17c5.429-3.801 12.912-2.48 16.712 2.949l55.526 79.325C226.612 76.343 256.808 72 288 72c119.86 0 224.996 63.994 281.354 159.631a48.002 48.002 0 0 1 0 48.738zM528 256c-44.157-74.933-123.677-127.27-216.162-135.007C302.042 131.078 296 144.83 296 160c0 30.928 25.072 56 56 56s56-25.072 56-56l-.001-.042c30.632 57.277 16.739 130.26-36.928 171.719l26.695 38.135C452.626 346.551 498.308 306.386 528 256z"></path></svg>
				<!-- <i class="far fa-eye-slash"></i> --></span>
				<div class="invalid-feedback">Password should contain at least
					8 characters</div>
		</div>
		<div style="color: #dc3545; text-align: center;"
			th:unless="${session['SPRING_SECURITY_LAST_EXCEPTION']}==null"
			th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></div>
		<div class="md-form">
			<div class="col-md-12 text-center p-0">
				<button type="submit" id="login" name="login"
					style="color: #fff !important;"
					class="btn btn-primary btn-block z-depth-1 waves-effect waves-light">Log
					in</button>
			</div>
		</div>
		<div class="col-md-12 mt-3 p-0">
			<a class="form-inline mr-5 waves-effect waves-light"
				href="#resetPassword" data-toggle="modal"
				data-target="#resetPassword">Forgot
				Password?&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</a>
		</div>
		<div style="margin-top: 20px; margin-bottom: 20px;">
			Don't have an account? <a id="signUp" href="#">Sign Up</a>
		</div>
	</form>
</div>
<!--Panel 1-->

<script type="text/javascript">
	function formCallBack(obj) {
		if (obj.id == 'forgotForm') {
			submitForgotPassword(obj);
		}
	}
</script>
</html>