.original_select > select{
	display:none !important;
}
.multiselect-dropdown.dropdown-menu{
    position: relative;
    float: none;	
}

.ms_button{
	overflow: visible;
	min-width:12em !important;
	width:auto !important;
}
.checkbox label{
	padding-top:0% !important;
}
.multiselect-dropdown>li>a{
	padding:0px 1em 0px 1em !important;
}
.multiselect-dropdown>li>a>div{
	padding-left:1em !important;
}