.m-select-hidden {
    display: none !important;
}

.m-select-input-container {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.m-select-input {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    display: block;
    width: 100%;
    background-clip: padding-box;
    padding: .3rem 0 .55rem;
    background-color: transparent;
    height: auto;
    margin: 0 0 .5rem;

    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #bdbdbd !important;
    -webkit-border-radius: 0;
    border-radius: 0;

}

.m-select-input:focus {
    -webkit-box-shadow: 0 1px 0 0 #4285f4;
    box-shadow: 0 1px 0 0 #4285f4;
    border-bottom: 1px solid #bdbdbd;
}

.m-select-input:focus+.m-select-label {
    color: #4285f4;
}

.m-select-label {
    font-size: .8rem!important;
    -webkit-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    transform: translateY(-140%);
    position: absolute;
    top: .65rem;
    left: 0;
    -webkit-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: text;
    color: #757575;
    display: inline-block;
    margin-bottom: .5rem;
}

.m-select-options-container {
    position: relative;
    top: -24px;
    display: none;
}

.m-select-options-container.active {
    display: block;
}

.m-select-list {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    display: block;
    padding: .5rem;
    user-select: none;
    list-style-type: none;
    z-index: 999;
    will-change: width, height;
    min-width: 15rem;
    max-height: 15rem;
    overflow-y: auto;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    background-color: #fff;
    margin: 0;
    width: 100% !important;
}

.m-select-list li {
    text-align: left;
    cursor: pointer;
    margin: 0 !important;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.m-select-list li:hover {
    background: #8cefef;
    border-radius: 3px;
    box-shadow: 0px 0px 8px -6px;
}

.m-select-list li * {
    cursor: pointer;
}
.m-select-list li .form-check{
	padding: 0;
}
.m-select-list li [type=checkbox]+label{
	width: 100% !important;
	top: 5px !important;
	left:0 !important;
	white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem!important;
}