

.sf-stripe .input+label {
	position: absolute;
	-webkit-transition: .2s ease-out;
	transition: .2s ease-out;
	cursor: text;
	color: #757575;
	font-size: .8rem;
	display: inline-block;
	margin-bottom: .5rem;
	transform: translateY(-140%);
	background-clip:padding-box;
}

.sf-stripe .input {
	border-bottom: 1px solid #ced4da;
	padding-top: 1.25rem;
    margin: 0 0 .5rem;
    background-clip:padding-box;
}

.sf-stripe .input.focused {
	box-shadow: 0 1px 0 0 #2f008d;
	border-bottom: 1px solid #2f008d;
}

.sf-stripe .input.focused+label {
	font-size: .8rem;
	transform: translateY(-140%);
	color: #2f008d;
}

.sf-stripe #brand-icon {
	position: absolute;
	bottom: 0;
	right: 0;
	color: grey;
}

.cc {
	width: 1.5em;
}

.cc-card {
	content: url(/static/img/stripe-cards/card.svg);
}

.cc-error {
	content: url(/static/img/stripe-cards/error.svg);
}

.cc-visa {
	content: url(/static/img/stripe-cards/visa.svg);
	opacity: 0.75;
}

.cc-mastercard {
	content: url(/static/img/stripe-cards/mastercard.svg);
	opacity: 0.75;
}

.cc-amex {
	content: url(/static/img/stripe-cards/amex.svg);
	opacity: 0.75;
}

.cc-discover {
	content: url(/static/img/stripe-cards/discover.svg);
	opacity: 0.75;
}

.cc-diners {
	content: url(/static/img/stripe-cards/diners.svg);
	opacity: 0.75;
}

.cc-jcb {
	content: url(/static/img/stripe-cards/jcb.svg);
	opacity: 0.75;
}

.cc-unionpay {
	content: url(/static/img/stripe-cards/unionpay.svg);
	opacity: 0.75;
}