html,
body,
#page-content-wrapper {
	height: 100%;
}

#wrapper #page-content-wrapper-bg {
	width: 0%;
	height: 0%;
	background: rgba(0, 0, 0, 0);
	position: absolute;
	left: -10%;
	overflow: hidden;
	transition: background 0.2s;
	z-index: 50;
}

#wrapper.active #page-content-wrapper-bg {
	width: 110%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: -10%;
	overflow: hidden;
	transition: background 0.2s;
}

input::-webkit-input-placeholder {
	color: #b8b8b8 !important;
}

input::-moz-placeholder {
	color: #b8b8b8 !important;
}

input:-ms-input-placeholder {
	color: #b8b8b8 !important;
}

input::-ms-input-placeholder {
	color: #b8b8b8 !important;
}

input::placeholder {
	color: #b8b8b8 !important;
}

#sidebar_menu li a.disabled,
.sidebar-nav li a.disabled {
	color: #c3c3c3 !important;
}

.mdb-select {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #bdbdbd;
	border-radius: 0;
	outline: 0;
	min-height: 2.1rem;
	width: 100%;
	font-size: 1rem;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.mdb-select:active {
	border-bottom: 1px solid #d3b5e5;
	-webkit-box-shadow: 0 1px 0 0 #d3b5e5;
	box-shadow: 0 1px 0 0 #d3b5e5;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #d3b5e5;
}

::-webkit-scrollbar-thumb {
	background-color: #d3b5e5;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #E4E4E4;
}

body {
	scrollbar-face-color: #d3b5e5;
	scrollbar-3dlight-color: #d3b5e5;
	scrollbar-highlight-color: #d3b5e5;
	scrollbar-track-color: #E4E4E4;
	scrollbar-arrow-color: black;
	scrollbar-shadow-color: #d3b5e5;
	scrollbar-dark-shadow-color: #d3b5e5;
}

/* input, textarea, select {
	padding: 0 !important;
} */

.field-icon {
	cursor: pointer !important;
	position: absolute !important;
	z-index: 3;
	font-size: 18px;
	top: 20%;
	right: 0%;
	color: rgb(159, 159, 159);
}

.field-icon svg {
	color: rgb(159, 159, 159);
}

.field-icon svg:hover {
	color: rgb(132, 132, 132);
}

.field-icon svg:active {
	color: rgb(100, 100, 100);
}

form input:focus:invalid {
	box-shadow: 0 1px 0 0 red !important;
	border-bottom: 1px solid #dc3545 !important;
}

form [type=checkbox]:focus:invalid+label:before,
form [type=radio]:focus:invalid+label:before {
	border: 1.5px solid #dc3545 !important;
}

.needs-validation.was-validated [type=checkbox]:invalid+label:before,
.needs-validation.was-validated [type=radio]:invalid+label:before {
	border: 1.5px solid #dc3545 !important;
}

.dataTables_length select {
	width: 50% !important;
	font-size: 14px;
}

.explore-gradient {
	width: 100% !important;
	/*height: 5em !important;*/
	top: 0;
	position: fixed;
	z-index: 5 !important;
	background: rgba(255, 255, 255, 0.9);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%,
			rgba(255, 255, 255, 0.75) 85%, rgba(255, 255, 255, 0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255,
					255, 0.9)), color-stop(85%, rgba(255, 255, 255, 0.75)),
			color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%,
			rgba(255, 255, 255, 0.75) 85%, rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%,
			rgba(255, 255, 255, 0.75) 85%, rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%,
			rgba(255, 255, 255, 0.75) 85%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%,
			rgba(255, 255, 255, 0.75) 85%, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
			endColorstr='#ffffff', GradientType=0);
	z-index: 5;
	z-index: 5 !important
}

.search-more {
	width: 10rem !important;
}

.search-more.no-more {
	opacity: .65;
	pointer-events: none !important;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .16), 0 0 10px 0 rgba(0, 0, 0, .12);
	border: 2px solid #616161 !important;
	background-color: transparent !important;
	color: #616161 !important;
}

.show-more,
.show-more div,
.show-more span,
.no-more,
.no-more label {
	display: block !important;
}

.no-more label {
	color: initial;
}

.show-more span {
	position: relative;
	top: -6px;
	height: 6px;
}

.carousel .carousel-indicators li {
	border: #17a2b8 1px solid !important;
}

.carousel .carousel-indicators li.active {
	background-color: #17a2b8 !important;
}

#contents .carousel {
	padding-bottom: 8%;
	min-height: 430px;
}

.carousel-control-prev,
.carousel-control-next {
	padding-bottom: 8%;
}

.carousel-loader,
.country-loader,
.state-loader,
.interests-loader {
	width: 100% !important;
	position: absolute !important;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	background: #17a2b8;
	color: #fff;
	font-size: xx-large;
	opacity: .65;
	left: 0;
}

.carousel-loader {
	height: 430px !important;
}

.country-loader,
.state-loader,
.interests-loader {
	height: 248px !important;
}

.left,
.right {
	width: 48%;
}

.right {
	float: right;
}

.slider-main {
	margin-bottom: 2.5rem;
}

.slider-main .tooltip-main.tooltip {
	opacity: 1;
}

.slider-main .tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.slider-main .tooltip .tooltip-arrow {
	top: -5px;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000;
	transform: rotateX(180deg);
}

.slider-main>.slider-left {
	text-align: right;
	padding-right: 8px;
}

.slider-main>.slider-right {
	padding-left: 8px;
}

.slider-handle {
	background-color: #fff !important;
	background-image: linear-gradient(to bottom, #fff 0, #fff 100%) !important;
	background-image: -webkit-linear-gradient(top, #fff 0, #fff 100%) !important;
	background-image: -o-linear-gradient(top, #fff 0, #fff 100%) !important;
	border: 1px solid #2f008d !important;
}

.slider-track-low,
.slider-track-high {
	background: #00000010 !important;
}

.slider-selection {
	background-image: -webkit-linear-gradient(top, #d3b5e5 0, #d3b5e5 100%) !important;
	background-image: -o-linear-gradient(top, #d3b5e5 0, #d3b5e5 100%) !important;
	background-image: linear-gradient(to bottom, #d3b5e5 0, #d3b5e5 100%) !important;
}

.scramble-progress {
	color: #2f008d !important;
}

.blurred-name {
	filter: blur(3px) !important;
	max-width: 8.3rem !important;
	overflow: hidden !important;
	text-overflow: clip !important;
	overflow-wrap: normal !important;
	display: inline-block;
	margin: 0;
}

.view-name {
	display: inline-block;
	position: absolute;
	top: 0;
}

.explore-form {
	width: 100%;
	left: 0;
	z-index: 10;
	transition: all .4s ease 0s;
	/*margin-top:60px;*/
}

.label {
	font-size: .8rem;
	cursor: text;
	color: #757575;
}

.disabled .sub_icon {
	color: #c3c3c3 !important;
}

.cursorPointer {
	cursor: pointer;
}

.profile .card {
	transition: all .2s ease-in-out;
	border: .3px solid #E4E4E4;
}

.profile:hover {
	/* transform: scale(1.05); */

}

.profile .card:hover {
	border: .3px solid rgb(47, 0, 141);
	box-shadow: rgba(47, 0, 141, 1) 0px 0px 5px 0px,
		rgba(47, 0, 141, 0.2) 0px 0px 10px;
}

.slide-explore-Influencer {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height .4s cubic-bezier(.02, .01, .47, 1);
	-moz-transition: max-height .4s cubic-bezier(.02, .01, .47, 1);
	-ms-transition: max-height .4s cubic-bezier(.02, .01, .47, 1);
	-o-transition: max-height .4s cubic-bezier(.02, .01, .47, 1);
	transition: max-height .4s cubic-bezier(.02, .01, .47, 1);
}

.slide-explore-Influencer.expand {
	max-height: 170px !important;
	overflow: visible;
}

.inf-grid {
	-webkit-transition: margin-top 1s;
	-moz-transition: margin-top 1s;
	-ms-transition: margin-top 1s;
	-o-transition: margin-top 1s;
	transition: margin-top 1s;
}

/*.inf-grid.expand {
	margin-top: 20rem !important;
} */

.expand.expandAudience {
	margin-top: 20rem !important;
}

.expand.expandInfluencer {
	margin-top: 15rem !important;
}

.view-filter {
	margin: 0 auto;
	margin-bottom: -1rem;
	width: 88px;
	text-align: center;
}

.arrow {
	width: 1.25rem;
	height: 1.25rem;
	display: inline-block;
	position: relative;
	margin: 0 1rem;
	top: 6px;
}

.arrow span {
	top: 0.5rem;
	position: absolute;
	width: 0.75rem;
	height: 0.1rem;
	background-color: #d3b5e5;
	display: inline-block;
	transition: all 0.4s ease;
}

.arrow span:nth-child(odd) {
	left: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(-45deg);
}

.arrow span:nth-child(even) {
	right: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(45deg);
}

.arrow.active span:nth-child(odd) {
	-webkit-transform: rotate(-45deg);
	transform: rotate(45deg);
}

.arrow.active span:nth-child(even) {
	-webkit-transform: rotate(45deg);
	transform: rotate(-45deg);
}

.view-filter.slide-anim {
	animation: slide-down-up 1s infinite 0s linear;
}

.sub_icon {
	margin-right: 1.2rem;
}

.sub_icon.badge {
	margin-top: 4%;
	font-size: 14px;
	text-indent: 0;
	margin-right: .75rem;
	border-radius: 10rem;
	color: #212529 !important;
	background-color: #f8f9fa !important;
	transition: 1s;
}

.name-reveal {
	top: -0.4em;
	position: relative;
	left: .5em;
	font-size: 1.3em;
}

.bs-tooltip-right {
	padding-left: 1em;
}

.bs-tooltip-right .arrow {
	left: -0.6em;
}

.bs-tooltip-left .arrow {
	right: -1.1em;
}

.tooltip-inner {
	max-width: 27em;
}

.profile-edit {
	margin-left: 1.5%;
	margin-top: 0.3%;
}

.disabled-grey {
	background-color: #f5f5f5;
}

.password {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height 1s;
	-moz-transition: max-height 1s;
	-ms-transition: max-height 1s;
	-o-transition: max-height 1s;
	transition: max-height 1s;
}

.expand-password {
	max-height: 90px !important;
}

.mh-20e {
	min-height: 20em;
}

.roll-in-blurred-left {
	-webkit-animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.border-bottom-transparent {
	border-bottom: 1px solid #E5E5E5;
}

.border-top-transparent {
	border-top: 1px solid #E5E5E5;
}

.border-left-transparent {
	border-left: 1px solid #E5E5E5;
}

.border-right-transparent {
	border-right: 1px solid #E5E5E5;
}

.dashboard-form {
	width: 100%;
	left: 0;
	z-index: 10;
	transition: all .4s ease 0s;
}

.min-dashboard {
	position: fixed !important;
	max-height: 73px !important;
	top: -1em;
	-webkit-transition: max-height 5s;
	-moz-transition: max-height 5s;
	-ms-transition: max-height 5s;
	-o-transition: max-height 5s;
	transition: max-height 5s;
}

.dashboard-title {
	color: #6fb8c3;
}

.min-dashboard-title {
	font-size: 18px;
}

.campaign {
	transition: all .2s ease-in-out;
}

.campaign:hover {
	transform: scale(1.05);
}

.campaign .card:hover {
	border: .3px solid rgb(47, 0, 141);
	box-shadow: rgba(47, 0, 141, 1) 0px 0px 5px 0px,
		rgba(47, 0, 141, 0.2) 0px 0px 10px;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.scale-down-center {
	-webkit-animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-down-center 0.2s cubic-bezier(0, 0.460, 0.450, 0.940) both;
}

.shake-top {
	animation: shake-top .8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.shake-vertical {
	animation: shake-vertical .8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.sub_icon.badge.shake-horizontal {
	animation: shake-horizontal .8s 2s both;
	background-color: gold !important;
	background-image: linear-gradient(to right bottom, gold, yellow, gold);
	transition: 1s;
}

}

/* custom checkbox */
.round [type=radio]+label:before {
	border-radius: 15px !important;
}

.round [type=checkbox]+label:before {
	border-radius: 15px !important;
}

.round [type=radio]:checked+label:before,
.round [type=checkbox]:checked+label:before {
	top: 0;
	left: 0;
	width: 17px;
	height: 17px;
	border-style: solid;
	border-width: 2px;
	border-color: #2f008d;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transform-origin: initial;
	-ms-transform-origin: initial;
	transform-origin: initial;
	background: #2f008d;
}

.round [type=radio]+label:after,
.round [type=checkbox]+label:after {
	display: none;
	content: "";
	position: absolute;
	-webkit-transition: .2s;
	transition: .2s;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border-style: solid;
	border-width: 2px;
	border-color: #fff;
	border-width: 0 2.4px 2.4px 0;
	top: 2px;
	left: 5px;
	width: 6px;
	height: 10px;
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border-radius: 0px;
}

.round [type=checkbox]+label:after {
	top: 4px !important;
}

.round [type=radio]:checked+label:after,
.round [type=checkbox]:checked+label:after {
	display: block;
}

.round [type=checkbox]:disabled+label:before,
.round [type=radio]:disabled+label:before {
	background-color: rgb(235, 235, 228);
	border-color: rgb(235, 235, 228);
}

/* custom checkbox ends */
.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}

.lds-ellipsis div {
	position: absolute;
	top: 27px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: #2f008d;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
	left: 6px;
	animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
	left: 6px;
	animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
	left: 26px;
	animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
	left: 45px;
	animation: lds-ellipsis3 0.6s infinite;
}

.textBox {
	height: 30px;
	overflow: hidden;
	padding: 5px;
	position: relative;
}

.textBox span {
	position: absolute;
	white-space: nowrap;
	transform: translateX(0);
	transition: 1s;
}

.card:hover #campaignId {
	transform: translateX(calc(200px - 100%));
}

.submit-bid {
	position: absolute;
	top: 2em;
	right: 2em;
	padding-left: 2em !important;
	padding-right: 2em !important;
}

.explore-card {
	box-shadow: none;
	border: 1px solid rgba(0, 0, 0, .12);
}

.explore-card::before {
	/* background-image:
		url(https://www.hotelchamp.com/wp-content/uploads/Influencer-.png); */
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-color: #fdfdfd;
	opacity: 1;
	background-position-y: -1rem;
	background-position-x: 1rem;
	background-size: 100%;
	background-blend-mode: luminosity;
	background-position-x: 1rem;
}

.submitBidTable th,
.submitBidTable td {
	border: 1px solid #bcbcbc;
	border-collapse: collapse;
}

.m-progress {
	justify-content: center;
}

.m-progress .round {
	padding-left: 5%;
	padding-right: 5%;
	display: inline-block;
	padding: 0.5em 0 0 0 !important;
	text-align: center !important;
}

.m-progress .round>label {
	padding-left: 25px;
}

.m-progress .round:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	border-bottom: 1px solid #b5b5b5;
	width: 100%;
}

.child-table-campaign table td,
.child-table-campaign table th {
	border-top: none;
	border-bottom: 1px solid #dee2e6;
}

.carousel-control-prev {
	width: 1rem;
	padding-bottom: 0;
	margin-right: 1rem;
	margin-left: 1rem;
	left: -0.5%;
}

.carousel-control-next {
	width: 1rem;
	padding-bottom: 0;
	margin-right: 1rem;
	margin-left: 1rem;
	right: -0.5%;
}

.round [type=radio]+label.skip:before,
.round [type=checkbox]+label.skip:before {
	border-color: #ffee23;
	background-color: #ffee23;
}

.round [type=radio]+label.skip:after,
.round [type=checkbox]+label.skip:after {
	border-color: #ffffff;
	background-color: #ffee23;
}

.legend-container {
	height: 100%;
	justify-content: center;
}

.legend-container>ul.chart-legend {
	list-style-type: none;
	padding-inline-start: 0;
	margin: auto;
	width: 100%;
	justify-content: center;
}

.legend-container>ul.chart-legend>li {
	margin-bottom: 1rem;
}

.legend-container>ul.chart-legend>li .chart-legend-icon {
	left: -5px;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	position: relative;
	display: inline-block;
	margin: 0;
}

.h-fill {
	height: -moz-fill-available;
	height: -o-fill-available;
	height: -webkit-fill-available;
	height: fill-available;
}

.chart-container {
	min-height: 16em;
}

.chart-container>div {
	min-height: 100% !important;
}

.card-subtitle {
	font-size: 0.65em;
	line-height: 0.65em;
}

.f-08 {
	font-size: 0.8em;
}

.gold {
	color: gold !important;
}

.card.flat {
	box-shadow: none !important;
	border: 0.5px solid rgba(0, 0, 0, .12) !important;
}

.border-top-flat {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.side-nav-container {}

.side-nav-wrapper {
	-ms-flex: 0 0 14.333333%;
	flex: 0 0 14.333333%;
	max-width: 23.333333%;
	float: left;
	background-image: linear-gradient(#c1f1ff, #cecece);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.side-nav-container.right-panel .side-nav-wrapper {
	float: right;
}

.side-nav-panel {
	list-style: none;
	display: flex;
	flex-direction: column;
	padding-left: 0;
	flex-wrap: wrap;
	flex-flow: wrap;
	align-self: flex-end;
	width: auto;
	-webkit-box-shadow: inset 0 -2px 3px rgba(203, 196, 130, .06);
	box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
	width: auto;
}

.side-nav-item {
	width: 100%;
	flex: 1 0 100%;
}

.side-nav-item.active {
	background: white;
	box-shadow: inset 2px 0px 0 #2f008d
}

.side-nav-container.right-panel .side-nav-item.active {
	background: white;
	box-shadow: inset -2px 0px 0 #2f008d
}

.side-nav-link {
	display: block;
	padding: 10px 18px;
	font-size: 13px;
	color: #2f008d;
	text-align: center;
	border-radius: 0;
	text-transform: uppercase;
}

.side-nav-content>.tab-pane {
	border-left: none !important;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-right: #f8f7ee;
	display: none;
}

.side-nav-content>.tab-pane.active {
	display: flex;
}

.side-nav-container.right-panel .side-nav-content>.tab-pane {
	border-right: 1px solid #f8f7ee !important;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-left: 0.5px solid rgba(0, 0, 0, .12) !important;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	display: none;
	min-height: 25em;
}

.side-nav-container.right-panel .side-nav-content>.tab-pane.active {
	display: flex;
}

.chartWrapper {
	position: relative;
}

.chartWrapper>canvas {
	position: relative;
	left: 0;
	top: -10px;
	pointer-events: none;
}

.chartAreaWrapper {
	overflow-y: scroll;
}

.chartAreaWrapper2 {}

#estPricePerInfluencerAxes,
#costPerEngagementAxes,
#costPerFollowerAxes {
	background-color: white;
}

.infoIcon {
	position: absolute;
	display: inline-block;
	color: #2f008d;
	cursor: pointer;
	right: 0px;
}

.infoIcon .projCostPerEngInfo {
	visibility: hidden;
	width: 174px;
	background-color: black;
	color: #fff;
	left: -141px;
	top: 25px;
	text-align: left;
	border-radius: 6px;
	padding: 5px 5px;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	font-size: 0.8em;
}

.infoIcon .last-info {
	visibility: hidden;
	width: 174px;
	left: -142px;
	top: 25px;
	background-color: black;
	color: #fff;
	text-align: left;
	border-radius: 6px;
	padding: 5px 5px;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 25px;
	font-size: 0.8em;
}

.infoIcon:hover .projCostPerEngInfo {
	visibility: visible;
}

.infoIcon:hover .last-info {
	visibility: visible;
}

.loader {
	border: 4px solid #f3f3f3;
	border-radius: 50%;
	border-top: 3px solid #2f008d;
	width: 21px;
	height: 21px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	display: inline-block;
	margin: -31%;
}

/* .loader::before {
	content: "";
	display: inline-block;
	background: #2f008d;
	width: 0.23em;
	height: 0.8em;
	border-width: 0;
	position: absolute;
	transform: rotate(45deg);
	top: 2.7em;
	right: 1.8em;
} */
.pagination .page-item.active .page-link {
	background-color: #2f008d !important;
}

.pagination .page-item .page-link {
	box-shadow: none !important;
}

.totalEngagementInfoIcon {
	position: absolute;
	display: inline-block;
	color: #2f008d;
	cursor: pointer;
}

.totalEngagementInfoIcon .totalEngagementInfo {
	visibility: hidden;
	width: 174px;
	background-color: black;
	color: #fff;
	left: -149px;
	top: 25px;
	text-align: left;
	border-radius: 6px;
	padding: 5px 5px;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	font-size: 0.8em;
}

.totalEngagementInfoIcon:hover .totalEngagementInfo {
	visibility: visible;
}

.typeahead {
	border: 2px solid #FFF;
	border-radius: 4px;
	padding: 8px 12px;
	max-width: 93%;
	min-width: 93%;
	background: white;
	color: white;
}

.tt-menu {
	width: 300px;
}

ul.typeahead {
	margin: 0px;
	padding: 10px 0px;
}

ul.typeahead.dropdown-menu li a {
	padding: 10px !important;
	border-bottom: white 1px solid;
	color: black;
}

ul.typeahead.dropdown-menu li:last-child a {
	border-bottom: 0px !important;
}

.bgcolor {
	max-width: 550px;
	min-width: 290px;
	max-height: 340px;
	padding: 100px 10px 130px;
	border-radius: 4px;
	text-align: center;
	margin: 10px;
}

.demo-label {
	font-size: 1.5em;
	color: white;
	font-weight: 500;
	color: white;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
	text-decoration: none;
	background-color: #d3b5e5 !important;
	outline: 0;
}

.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

table.dataTable.hover tbody>tr.selected:hover,
table.dataTable.hover tbody>tr>.selected:hover,
table.dataTable.display tbody>tr.selected:hover,
table.dataTable.display tbody>tr>.selected:hover {
	background-color: rgba(57, 192, 186, .195) !important;
}

.postStat-btn {
	background-color: #2f008d;
}

.postStat-btn:hover {
	background-color: #2d9994;
}

.tooltip {
	z-index: 500 !important;
}

.search-left {
	-webkit-animation: search-left 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	animation: search-left 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.search-right {
	-webkit-animation: search-right 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	animation: search-right 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.tilt-in-fwd-tr {
	-webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.noScrollBar {
	-ms-overflow-style: none;
	/* Internet Explorer 10+ */
	scrollbar-width: none;
	/* Firefox */
}

.noScrollBar::-webkit-scrollbar {
	display: none;
	/* Safari and Chrome */
}

.table_campaign input[type=checkbox],
#offerType input[type=checkbox] {
	visibility: visible;
	left: 0px;
	position: relative;
}

tr.text-theme th {
	color: #02ab9c;
	font-size: 17px;
	border-bottom: 0px !important;
}

table.table-sm td {
	padding: 0.4rem 0.3rem;
	vertical-align: middle;
}

tr.table-header th:last-child {
	padding-right: 0 !important;
}

tr.table-header th:last-child,
td:last-child {
	text-align: right;
}

.checkbox-container>div {
	margin-right: 60px;
}

.checkbox-container {
	display: flex;
	margin: 30px 0 15px;
	margin-top: 0px;
	flex-wrap: wrap;
	margin-left: 5px;
}

input.offerTypeCheckBox {
	left: -5px !important;
	top: 2px;
}

tr.text-primary.table-header th {
	font-size: 17.5px;
}

.theme svg path {
	fill: #2f008d;
}

button#dropdownMenuButton {
	margin: 0;
}



table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after,
table.dataTable thead .sorting_desc::after,
table.dataTable thead .sorting_asc_disabled::after,
table.dataTable thead .sorting_desc_disabled::after {
	left: -0.5em;
	content: "\2193" !important;
	right: inherit !important;
	top: 10px !important;
    opacity: 1 !important;
}
table.dataTable thead .sorting::before,
table.dataTable thead .sorting_asc::before,
table.dataTable thead .sorting_desc::before,
table.dataTable thead .sorting_asc_disabled::before,
table.dataTable thead .sorting_desc_disabled::before {
	left: -0.9em ;
	content: "\2193" !important;
	right: inherit !important;
	top: 10px !important;
	transform: scaleY(-1);
    opacity: 1 !important;
	bottom:inherit !important;
}
table.table_campaign>thead>tr>th:first-child {
	width: 5% !important;
}

table.table_campaign>thead>tr>th:nth-child(2) {
	width: 18%
}

table.table_campaign>thead>tr>th {
	width: 12%
}

table.table_campaign>thead>tr>th:last-child {
	width: 20%
}

:focus-visible {
	outline: -webkit-focus-ring-color auto 0px !important;
}

body {
	overflow-x: hidden !important;
}

.w-75 {
	width: 75px;
	background: #fff;
	border: 1px solid #bbb4b4;
	border-radius: 2px;
	text-align: center;
}

.mx-2 {
	margin: '0 5px'
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown > span.dot-icon {
	cursor: pointer;
	padding: 0 30px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 4px 4px;
	z-index: 9;
	right:0;
}

.dropdown:hover .dropdown-content {
	display: block;
	opacity: 1 !important;
}

ul.dropdown-content li {
	list-style: none;
	padding: 8px;
	white-space: nowrap
}

.tabs-red {
	background-color: #fff !important;
	box-shadow: none;
	margin-bottom: 1px;
}

ul.nav.classic-tab.tabs-red li a.active {
	background: #2f008d;
	color: #fff !important;
	font-weight: 400;
}

ul.nav.classic-tab.tabs-red li.nav-item {
	text-transform: uppercase;
	font-size: 13px;
	border: 0px !important;
	margin-bottom: 1px;
}

ul.nav.classic-tab.tabs-red li a {
	padding: 0.8rem 2rem;
}

ul.nav.classic-tab.tabs-red li a:hover {
	color: #2f008d;
}

.tab-style {
	box-shadow: none;
}

.tab-style li {
	border: 0px !important;
}

.tab-style .nav-link.active{
	background: #2f008d;
	color: #fff !important;
	font-weight: 400;
}

.tab-style li.nav-item {
	text-transform: uppercase;
	font-size: 13px;
	border: 0px !important;
	margin-bottom: 1px;
}

.tab-style .nav-link{
	text-transform: uppercase;
	font-size: 13px;
	border: 0px !important;
	margin-bottom: 1px;
	color:#2f008d !important;
	padding: 0.8rem 1rem !important;
}

.btn-explore{
	   align-items: center;
}
.btn-explore a:last-child{
	margin-left: 20px;
}
table.dataTable.stripe tbody>tr.odd.selected, table.dataTable.stripe tbody>tr.odd>.selected, table.dataTable.display tbody>tr.odd.selected, table.dataTable.display tbody>tr.odd>.selected {
    background-color: #d8f3f1 !important;
}
table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: #d8f3f1 !important;
}
table.dataTable>tbody>tr.selected>* {
    box-shadow: inset 0 0 0 9999px #d8f3f1 !important;
    color: #2f008d !important;
}
div#productPopup>div + div {
    margin-top: 40px;
}	
.fullWidth li{
	width: 20%;
	text-align: center;
}
.fullWidth{
	width: 100%;
	text-align: center;
}

textarea {
	padding-left:10px !important;
}
/* .card{
	box-shadow: none !important;
	border:1px solid gainsboro;
} */

p#termsConditionStandardData {
    padding: 10px 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
td {
    height: 52px;
    box-sizing: border-box !important;
}
/* .nav-tabs{
	margin-right: 0;
} */