.toast-container {
	position: fixed;
	width: 100%;
	left: 0;
	background-color: #51A351;
	padding: 1rem;
	opacity: 0.8;
	z-index: 99999999999;
	font-family: sans-serif;
	font-size: small;
	text-align: center;
	top: -5rem;
	-webkit-transition: top 0.2s ease-in-out;
	-moz-transition: top 0.2s ease-in-out;
	-ms-transition: top 0.2s ease-in-out;
	-o-transition: top 0.2s ease-in-out;
	transition: top 0.2s ease-in-out;
}

.toast-container:hover {
	opacity: 1;
}

.toast-container.active, .toast-container:hover {
	top: 0;
	-webkit-transition: top 0.5s ease-in-out;
	-moz-transition: top 0.5s ease-in-out;
	-ms-transition: top 0.5s ease-in-out;
	-o-transition: top 0.5s ease-in-out;
	transition: top 0.5s ease-in-out;
}
.toast-container.active.toast-force-close, .toast-container.toast-force-close:hover{
	top: -5rem;
}

.toast-container.toast-message-success {
	background-color: #51A351;
}

.toast-container.toast-message-error {
	background-color: #BD362F;
}

.toast-container.toast-message-info {
	background-color: #2F96B4;
}

.toast-container.toast-message-warning {
	background-color: #F89406;
}

.toast-container>.toast-message-container {
	color: #fff;
}

.toast-container>.toast-message-close {
	position: fixed;
	font-size: 1.2rem;
	right: 0;
	margin-right: 0.2rem;
	margin-left: 0.2rem;
	padding: 0.5em;
	top: -5rem;
	padding-left: 1em;
	padding-right: 1em;
	cursor: pointer;
	-webkit-transition: top 0.2s ease-in-out;
	-moz-transition: top 0.2s ease-in-out;
	-ms-transition: top 0.2s ease-in-out;
	-o-transition: top 0.2s ease-in-out;
	transition: top 0.2s ease-in-out;
}

.toast-container.active>.toast-message-close, .toast-container:hover>.toast-message-close
	{
	top: 0;
	-webkit-transition: top 0.5s ease-in-out;
	-moz-transition: top 0.5s ease-in-out;
	-ms-transition: top 0.5s ease-in-out;
	-o-transition: top 0.5s ease-in-out;
	transition: top 0.5s ease-in-out;
}
.toast-container.active.toast-force-close>.toast-message-close, .toast-container.toast-force-close:hover>.toast-message-close{
	top: -5rem;
}