
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!--Panel 2-->

<div class="tab-pane fade in show" id="aboutyou" role="tabpanel">
	<form autocomplete="off" class="needs-validation" id="aboutYouForm"
		th:action="@{/influencer/influencer-preference}" method="post"
		novalidate="novalidate">

		<div class="row">
			<div class="col-sm-6 p-2">
				<div class="img-wrapper">
					<h5 class="text-" th:text="#{Influencer.Settings.aboutyou.label}"></h5>
				</div>

				<div class="md-form">

					<input type="text" id="description" class="form-control"
						required="required" name="description" maxlength="200"> <label
						for="description"
						th:text="#{Influencer.Settings.aboutyou.label.field}"></label>
					<div class="invalid-feedback"
						th:text="#{Influencer.Settings.aboutyou.label.field.ivalidMsg}"></div>
				</div>

				<div class="md-form pt-0" id="industry">
					<label for="dropInd" class="active"
						th:text="#{Influencer.Settings.aboutyou.label.industry}"></label>
					<select onfocus='this.size=10;' onblur='this.size=1;'
						onchange='this.size=1; this.blur();' class="form-control"
						name="industry">
						<option value="" disabled selected
							th:text="#{Influencer.Settings.aboutyou.label.industry.selectOption}"></option>
						<th:block th:each="entry : ${industries}">
							<option th:value="${entry.industry}" th:text="${entry.industry}"></option>
						</th:block>
					</select>
					<div class="invalid-feedback"
						th:text="#{Influencer.Settings.aboutyou.label.industry.selectOption.invalidMsg}"></div>
				</div>

				<div class="mt-4">
					<div class="md-form" id="location">
						<label for="dropLocation" class="active"
							th:text="#{Influencer.Settings.aboutyou.label.location}"></label>
						<select onfocus='this.size=10;' onblur='this.size=1;'
							onchange='this.size=1; this.blur();' class="form-control"
							name="location">
							<option value="" disabled selected
								th:text="#{Influencer.Settings.aboutyou.label.location.selectOption}"></option>
							<th:block th:each="entry : ${locations}">
								<option th:value="${entry.location}" th:text="${entry.location}"></option>
							</th:block>
						</select>
						<div class="invalid-feedback"
							th:text="#{Influencer.Settings.aboutyou.label.location.selectOption.invalidMsg}"></div>
					</div>
				</div>
				<div class="img-wrapper mt-4">
					<h5 class="text-" th:text="#{Influencer.Settings.partnerships}"></h5>
				</div>

				<!--  	<div class="md-form">
					<input type="text" id="mention-BrandWorkedWith"
						class="form-control" required="required"
						name="mentionBrandWorkedWith"> <label for="brand"
						th:text="#{Influencer.Settings.descriptionBrand}"></label>
					<div class="invalid-feedback"
						th:text="#{Influencer.Settings.aboutyou.label.recentPartnerships.title.invalidMsg}"></div>
				</div> -->


				<div class="md-form" id="">
					<a class="btn-floating btn-primary btn-sm waves-effect"><i
						class="fa fa-plus"></i></a> <label
						style="padding-left: 60px; padding-top: 6px"
						th:text="#{Influencer.Settings.descriptionAdd}"></label>
				</div>

			</div>
			<div class="col-sm-6 p-2">
				<div class="img-wrapper">
					<h5 class="text-left"
						th:text="#{Influencer.Settings.aboutyou.label.askingPrices.title}"></h5>
				</div>

				<table class="table table-sm table-striped table-hover">
					<thead>
						<tr class="text-primary">

							<th>Platform</th>
							<th>Type</th>
							<th>Duration</th>
							<th>Asking Price</th>

						</tr>

					</thead>

					<tbody>
						<tr class="text-primary">
							<td>INSTAGRAM</td>
							<td>STORY</td>
							<td>2 Hour</td>
							<td><input type="text-box" id="askingPriceStory2Hr"
								class="form-control" required="required" name="instaStory2Hr">
								<label for="askingPriceStory2Hr"></label>
								<div class="invalid-feedback"
									th:text="#{Influencer.Settings.aboutyou.label.askingPrices.invalidMsg}"></div></td>

						</tr>
						<tr class="text-primary">
							<td>INSTAGRAM</td>
							<td>STORY</td>
							<td>24 Hours</td>
							<td><input type="text-box" id="askingPriceStory24Hr"
								class="form-control" required="required" name="instaStory24Hr">
								<label for="askingPriceStory24Hr"></label>
								<div class="invalid-feedback"
									th:text="#{Influencer.Settings.aboutyou.label.askingPrices.invalidMsg}"></div></td>
						</tr>
						<tr class="text-primary">
							<td>INSTAGRAM</td>
							<td>POST</td>
							<td>24 Hours</td>
							<td><input type="text-box" id="askingPricePost24Hr"
								class="form-control" required="required" name="instaPost24Hr">
								<label for="askingPricePost24Hr"></label>
								<div class="invalid-feedback"
									th:text="#{Influencer.Settings.aboutyou.label.askingPrices.invalidMsg}"></div></td>
						</tr>
						<tr class="text-primary">
							<td>INSTAGRAM</td>
							<td>POST</td>
							<td>1 WEEK</td>
							<td><input type="text-box" id="askingPricePost1Week"
								class="form-control" required="required" name="instaPost1W">
								<label for="askingPricePost1Week"></label>
								<div class="invalid-feedback"
									th:text="#{Influencer.Settings.aboutyou.label.askingPrices.invalidMsg}"></div></td>
						</tr>
						<tr class="text-primary">
							<td>INSTAGRAM</td>
							<td>POST</td>
							<td>PERMANENT</td>
							<td><input type="text-area" id="askingPricePostPremanent"
								class="form-control" required="required" name="instaPostPerm">
								<label for="askingPricePostPremanent"></label>
								<div class="invalid-feedback"
									th:text="#{Influencer.Settings.aboutyou.label.askingPrices.invalidMsg}"></div></td>
						</tr>
					</tbody>
				</table>
				<!--<div class="clearfix">
								<a class="btn-floating btn-primary btn-sm waves-effect pull-right"><i class="fa fa-plus"></i></a>
							</div>  -->
			</div>
		</div>

		<!--Footer-->
		<!--/Form without header-->

		<!--Section: Live preview-->


		<div class="clearfix">
			<!--Grid column-->
			<div class="pull-right">
				<!--  <a href="" class="btn btn-outline-primary waves-effect"
				data-toggle="tab" role="tab"> Profile <i
				class="fa fa-long-arrow-right ml-2"></i></a>-->
				<button type="submit" class="btn btn-primary z-depth-1"
					id="aboutYou">
					Profile</a>
				</button>
				<a href="Influencer-onboard-profile.html"></a>
			</div>
		</div>
	</form>
	
	<!--Grid column-->
	<!--Grid column-->
</div>


<!--/.Panel 2-->
</html>
