<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<div class="tab-pane fade in show active" id="connect" role="tabpanel">
	<form id="connectForm" autocomplete="off" class="needs-validation"
		th:classappend="${fieldError}" th:object=${influencerConnectModal}
		th:action="@{/influencer/social-connect}" method="post"
		novalidate="novalidate">
		<div class="row">
			<div class="col-sm-3 p-2">
				<h5 th:text="#{Influencer.Settings.ConnectYourAccount}"></h5>

				<div class="list-group list-no-border">

					<div class="list-group-item">
						<div class="md-form">
							<input required="required"
								pattern="@([A-Za-z0-9_])+(\\.?([A-Za-z0-9_]))*"
								name="instagramHandle" type="text" id="instagramHandle"
								class="form-control">
							<div class="invalid-feedback">Enter your valid Instagram
								handle</div>
							<label for="instagramHandle"
								th:text="#{Influencer.Settings.Connect.InstagramHandle.label}"></label>

						</div>
					</div>
					<div class="list-group-item">

						<!-- Instagram -->
						<i class="fab fa-instagram prefix text-primary mr-1"></i>
						Instagram


					</div>
					<div class="list-group-item">
						<!-- Facebook -->
						<i class="fab fa-facebook-f prefix text-primary mr-1"></i>
						Facebook
					</div>
					<div class="list-group-item">
						<!-- Twitter-->
						<i class="fab fa-twitter prefix text-primary mr-1 "></i> Twitter
					</div>
					<div class="list-group-item">
						<!-- Youtube-->
						<i class="fab fa-youtube prefix text-primary mr-1"></i> Youtube
					</div>
					<div class="list-group-item">
						<!-- linkedin-->
						<i class="fab fa-linkedin prefix text-primary mr-1"></i> Linkedin
					</div>
				</div>

				<!-- <button class="btn m-0 p-0 btn-block btn-primary"><i class="fa fa-chevron-down pl-1"></i></button> -->
			</div>
		</div>
		<!--Footer-->
		<!--/Form without header-->
		<!--Section: Live preview-->

		<div class="clearfix">
			<!--Grid column-->
			<div class="pull-right">
				<button type="submit" class="btn btn-outline-primary">
					about you<i class="fa fa-long-arrow-right ml-2"></i>
				</button>

				<!--  onclick="saveInstagramHandle()" <button type="button" class="btn btn-primary z-depth-1">Profile</a></button>
								<a href="Influencer-onboard-profile.html">Profile</a>-->
			</div>
			<!--Grid column-->
		</div>
	</form>
</div>
</html>
