<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<link rel="apple-touch-icon" sizes="57x57"
      th:href="@{/static/favicon/apple-icon-57x57.png}">
<link rel="apple-touch-icon" sizes="60x60"
      th:href="@{/static/favicon/apple-icon-60x60.png}">
<link rel="apple-touch-icon" sizes="72x72"
      th:href="@{/static/favicon/apple-icon-72x72.png}">
<link rel="apple-touch-icon" sizes="76x76"
      th:href="@{/static/favicon/apple-icon-76x76.png}">
<link rel="apple-touch-icon" sizes="114x114"
      th:href="@{/static/favicon/apple-icon-114x114.png}">
<link rel="apple-touch-icon" sizes="120x120"
      th:href="@{/static/favicon/apple-icon-120x120.png}">
<link rel="apple-touch-icon" sizes="144x144"
      th:href="@{/static/favicon/apple-icon-144x144.png}">
<link rel="apple-touch-icon" sizes="152x152"
      th:href="@{/static/favicon/apple-icon-152x152.png}">
<link rel="apple-touch-icon" sizes="180x180"
      th:href="@{/static/favicon/apple-icon-180x180.png}">
<link rel="icon" type="image/png" sizes="192x192"
      th:href="@{/static/favicon/android-icon-192x192.png}">
<link rel="icon" type="image/png" sizes="32x32"
      th:href="@{/static/favicon/favicon-32x32.png}">
<link rel="icon" type="image/png" sizes="96x96"
      th:href="@{/static/favicon/favicon-96x96.png}">
<link rel="icon" type="image/png" sizes="16x16"
      th:href="@{/static/favicon/favicon-16x16.png}">

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage"
      th:content="@{/static/favicon/ms-icon-144x144.png}">

<head lang="en">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&display=swap" rel="stylesheet">
    <title>Influencer Campaign Details</title>
</head>

<body>
    <div class="container px-0">
        <div id="app"></div>
        <script src="/static/built/bundle.js"></script>
    </div>
</body>

</html>