<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div id="sidebar-wrapper" class="active">
	<div class="clearfix">
		<a id="menu-toggle" href="#">
			<div class="container pull-right">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</div>
		</a>
	</div>
	<a th:href="@{#}"> <span class="logo h-auto"> <img id="logo"
			style="width: 45px; height: 45px; padding-right: 3.5px;"
			th:src="@{/static/img/new_Icon.png}">
	</span>
	</a>
	<ul class="sidebar-nav" id="sidebar">
		<li><a th:href="@{#}" class="waves-effect"
			th:classappend="${home}">Home Dashboard<span class="sub_icon "><i
					class="fas fa-tachometer-alt"></i></span>
		</a></li>
		<li><a href="@{#}" class="waves-effect" th:classappend="${jobs}">Manage
				Jobs <span class="sub_icon"><i class="fas fa-sitemap"></i></span>
		</a></li>
		<li><a th:href="@{/influencer/settings}" class="waves-effect"
			th:classappend="${settings}">Settings <span class="sub_icon "><i
					class="fas fa-cog"></i></span>
		</a></li>
		<li><a th:href="@{#}" class="waves-effect"
			th:classappend="${contact}">Contact <span class="sub_icon "><i
					class="fas fa-phone"></i></span></a></li>
		<li><a th:href="@{/logout}" class="waves-effect">Logout <span
				class="sub_icon "><i class="fas fa-sign-out-alt"></i></span></a></li>
	</ul>
</div>
</html>