<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<div class="tab-pane fade in" id="profile" role="tabpanel">
	<form id="profileForm" autocomplete="off" class="needs-validation"
		th:classappend="${fieldError}" th:object=${influencerProfileModal}
		th:action="@{/influencer/profile}" method="post"
		novalidate="novalidate">
		<div class="row">
			<div class="col-md-12">
				<!--Section: Live preview-->
				<section class="form-light">
					<!--Form without header-->
					<div class="mx-4">
						<!--Header-->
						<div class="text-left">
							<!--<h3 class="text-primary mb-5">Billing Information</h3>-->
							<div class="col-sm-3 p-2">
								<h5
									th:text="#{Influencer.Settings.Profile.CampaignDetails.heading}">
									Details</h5>
							</div>
						</div>
						<!--Body-->
						<div class="row">
							<div class="col-md-6 col-md-offset-6">
								<div class="md-form">
									<input type="text" name="paypalEmail" required="required"
										id="paypalEmail" class="form-control"
										pattern="\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+">
									<label for="paypalEmail"
										th:text="#{Influencer.Settings.Profile.PaypalEmail.input}">Paypal
										Email</label>
									<div class="invalid-feedback">Enter your valid Paypal
										Email id</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="md-form">
									<input type="text" name="address1" required="required"
										id="address1" class="form-control"> <label
										for="address1"
										th:text="#{Influencer.Settings.Profile.Address.input}">Address
										1</label>
									<div class="invalid-feedback">Enter your Address 1</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="md-form">
									<input type="text" name="address2" required="required"
										id="address2" class="form-control"> <label
										for="address2"
										th:text="#{Influencer.Settings.Profile.Address2.input}">Address
										2</label>
									<div class="invalid-feedback">Enter your Address 2</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="md-form">
									<input type="text" name="city" required="required" id="city"
										class="form-control"> <label for="city"
										th:text="#{Influencer.Settings.Profile.City.input}">City</label>
									<div class="invalid-feedback">Enter your City</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="md-form">
									<input type="text" name="state" id="state" required="required"
										class="form-control"> <label for="state"
										th:text="#{Influencer.Settings.Profile.StateProvinceRegion.input}">State
										/ Province / Region</label>
									<div class="invalid-feedback">Enter your State / Province
										/ Region</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6 col-md-offset-6">
								<div class="md-form">
									<div class="md-form">
										<input type="text" name="country" id="country"
											required="required" class="form-control"> <label
											for=""
											country""
												th:text="#{Influencer.Settings.Profile.Country.input}">Country</label>
										<div class="invalid-feedback">Enter your Country</div>
									</div>
									<!-- <label for="dropLocation" class="active" required="required"
											th:text="#{Influencer.Settings.Profile.Country.input}">Country</label> -->
									<!-- <select id="country" required="required" name="country"
											class="select dropdown-primary mt-3 p-2 form-control"
											onfocus='this.size=10;' onblur='this.size=1;'
											onchange='this.size=1; this.blur();'>
											<option value="" hidden="true"
												th:text="#{Influencer.Settings.Profile.Country.select}"></option>
											<th:block th:each="country: ${Countries}">
												<option th:value="${country.id}"
													th:text="${country.country}"></option>
											</th:block>
										</select> -->

								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="md-form">
									<input type="text" id="dob" name="dob"
										data-inputmask-alias="datetime"
										data-inputmask-inputformat="dd/mm/yyyy"
										style="text-transform: uppercase;" class="form-control"
										required="required"> <label for="dob"
										th:text="#{Influencer.Settings.Profile.DateOfBirth.input}">Date
										of Birth</label>
									<div class="invalid-feedback">Enter your Date of Birth</div>
								</div>
							</div>
							<div class="col-md-6">
								<label for="field-goal" class="active"
									th:text="#{Influencer.Settings.Profile.Gender.select}">Gender</label>
								<select id="genderDrop" required="required" name="gender"
									class="select dropdown-primary mt-3 p-2 form-control"
									onfocus='this.size=3;' onblur='this.size=1;'
									onchange='this.size=1; this.blur();'>
									<option value="" hidden="true">Select</option>
									<option value="MALE">Male</option>
									<option value="FEMALE">Female</option>
								</select>
								<div class="invalid-feedback">Select your Gender</div>
							</div>
						</div>


						<!-- <div class="md-form">
							<a class="btn-floating btn-primary btn-sm waves-effect"><i
								class="fa fa-plus"></i></a> <label
								style="padding-left: 60px; padding-top: 6px">Add
								additional payment type</label>
						</div> -->
					</div>
					<br> <br>
					<!--/Form without header-->
				</section>
				<!--Section: Live preview-->
				<div class="clearfix">
					<!--Grid column-->
					<div class="pull-right">
						<button type="submit" id="Explore" name="Explore"
							class="btn btn-outline-primary"
							th:text="#{Influencer.Settings.Profile.Explore.button}">
							<i class="fa fa-long-arrow-right ml-2"></i>
						</button>
						<!-- 						<a href="#" class="btn btn-outline-primary" role="button"
							th:text="#{Influencer.Settings.Profile.Explore.button}">
							Explore<i class="fa fa-long-arrow-right ml-2"></i>
						</a> -->
						<!--<button type="button" class="btn btn-primary z-depth-1">Profile</a></button>
											<a href="Influencer-onboard-profile.html">Profile</a>-->
					</div>
					<!--Grid column-->
					<!--Grid column-->
				</div>
			</div>
		</div>
	</form>
</div>
</html>