<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{Influencer.Settings.title}"></title>
<th:block th:insert="header" />
</head>
<body>
	<div id="wrapper " class="active">
		<th:block th:insert="Influencer/NavPanel" />
		<!-- Page content -->
		<div id="page-content-wrapper">
			<div class="container-wrapper">
				<div class="tabs-wrapper">
					<ul class="nav classic-tabs tabs-red rounded-0" role="tablist">
						<li class="nav-item"><a class="nav-link waves-light active"
							data-toggle="tab" href="#connect" role="tab"
							th:text="#{Influencer.Settings.connect}"></a></li>
						<li class="nav-item"><a class="nav-link waves-light"
							data-toggle="tab" href="#aboutyou" role="tab"
							th:text="#{Influencer.Settings.aboutyou}"></a></li>
						<li class="nav-item"><a class="nav-link waves-light"
							data-toggle="tab" href="#profile" role="tab"
							th:text="#{Influencer.Settings.profile}"> </a></li>
					</ul>
				</div>


				<!-- Tab panels -->
				<div class="tab-content card">
					<!--Panel 1-->
					<th:block th:insert="Influencer/Connect" />
					<!--/.Panel 1-->
					<!--Panel 2-->
					<th:block th:insert="Influencer/AboutYou" />
					<!--/.Panel 2-->
					<!-- Panel 3  -->
					<th:block th:insert="Influencer/Profile" />
					<!-- /. Panel3 -->
				</div>
			</div>
		</div>

	</div>


	<th:block th:insert="footer" />
	<script type="text/javascript"
		th:src="@{/static/js/jquery.inputmask.bundle.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/script/influencer/influencer_settings_profile.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/script/influencer/influencer_settings_aboutYou.js}">
		
	</script>
	<script type="text/javascript"
		th:src="@{/static/script/influencer/influencer_settings_connect.js}"></script>
	<script type="text/javascript">
		function formCallBack(obj) {
			if (obj.id == 'connectForm') {
				submitConnect(obj);
			} else if (obj.id == 'aboutYouForm') {
				submitAboutYou(obj);
			} else if (obj.id == 'profileForm') {
				submitProfileDetails(obj);
			}
		}
	</script>

</body>
</html>