<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" th:href="@{/static/manifest.json}">
<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/static/css/mdb.min.css}">
<link rel="stylesheet" th:href="@{/static/css/fontawesome.min.css}">
<link rel="stylesheet" th:href="@{/static/css/toastr.min.css}">
<link rel="stylesheet" th:href="@{/static/css/style.min.css}">
<link rel="stylesheet" th:href="@{/static/css/style.css}">


<link rel="apple-touch-icon" sizes="57x57"
	th:href="@{/static/favicon/apple-icon-57x57.png}">
<link rel="apple-touch-icon" sizes="60x60"
	th:href="@{/static/favicon/apple-icon-60x60.png}">
<link rel="apple-touch-icon" sizes="72x72"
	th:href="@{/static/favicon/apple-icon-72x72.png}">
<link rel="apple-touch-icon" sizes="76x76"
	th:href="@{/static/favicon/apple-icon-76x76.png}">
<link rel="apple-touch-icon" sizes="114x114"
	th:href="@{/static/favicon/apple-icon-114x114.png}">
<link rel="apple-touch-icon" sizes="120x120"
	th:href="@{/static/favicon/apple-icon-120x120.png}">
<link rel="apple-touch-icon" sizes="144x144"
	th:href="@{/static/favicon/apple-icon-144x144.png}">
<link rel="apple-touch-icon" sizes="152x152"
	th:href="@{/static/favicon/apple-icon-152x152.png}">
<link rel="apple-touch-icon" sizes="180x180"
	th:href="@{/static/favicon/apple-icon-180x180.png}">
<link rel="icon" type="image/png" sizes="192x192"
	th:href="@{/static/favicon/android-icon-192x192.png}">
<link rel="icon" type="image/png" sizes="32x32"
	th:href="@{/static/favicon/favicon-32x32.png}">
<link rel="icon" type="image/png" sizes="96x96"
	th:href="@{/static/favicon/favicon-96x96.png}">
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{/static/favicon/favicon-16x16.png}">

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage"
	th:content="@{/static/favicon/ms-icon-144x144.png}">
<meta name="theme-color" content="#ffffff">
<meta name="description" content="Smartfluence">



</html>