<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<link rel="stylesheet" th:href="@{/static/css/mselect.css}">
	<head>
	<title>Brand | Campaign Analytics</title>
	<th:block th:insert="header" />
	</head>
	<body>
		<div id="wrapper" class="">
			<th:block th:insert="Brand/NavPanel" />
			<!-- Page content -->

			<div id="page-content-wrapper">
				<th:block th:insert="loader" />
				<div class="container-wrapper">
					<div class="tabs-wrapper">
						<ul class="nav classic-tabs tabs-red  rounded-0" role="tablist"
							style="margin-left: 20px;">
							<li class="nav-item"><a class="nav-link waves-light active"
								data-toggle="tab" href="#campaign-statistics"
								id="campaignStatisticsLabel">Campaign Statistics</a></li>
							<li class="nav-item"><a class="nav-link waves-light"
								data-toggle="tab" href="#cost-statistics"
								id="costStatisticsLabel">Cost Statistics</a></li>
							<li class="nav-item"><a class="nav-link waves-light"
								data-toggle="tab" href="#post-statistics"
								id="postStatisticsLabel">Post Statistics</a></li>
						</ul>
					</div>
					<div class="tab-content pt-0 pl-0">
						<th:block th:insert="Brand/CampaignStatistics" />
						<th:block th:insert="Brand/CostStatistics" />
						<th:block th:insert="Brand/PostStatistics" />
					</div>
				</div>
			</div>
		</div>
		<th:block th:insert="footer" />
		<script type="text/javascript" th:src="@{/static/js/moment.min.js}"></script>
		<script type="text/javascript" th:src="@{/static/js/chart.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/static/js/plotly-latest.min.js}"></script>

		<script type="text/javascript"
			th:src="@{/static/js/randomColor.min.js}"></script>
		<!-- <script type="text/javascript"
			th:src="@{/static/script/brand/campaign-analytics.js}"></script> -->
		<script type="text/javascript"
			th:src="@{/static/script/brand/campaign-analytics.js}"></script>

		<script type="text/javascript" th:src="@{/static/js/mselect.js}"></script>
	</body>
</html>