<div class="col-12  row">
	<div class="col-xl col-lg-3 col-md-3 col-sm-6 my-3">
		<div class="card flat h-100">
			<div class="card-body px-1">
				<div class="card-title f-08 text-center  m-0 mb-1">Potential
					Reach</div>
				<h4 class="text-center p-0 m-0 ">
					<span class="potentialReach">-</span>
				</h4>
				<span class="pl-2 infoIcon"><i class="fas fa-info-circle"></i><span
					class="pl-2"><span class="projCostPerEngInfo">Reach
							is the number of unique views we expect your campaign to
							potentially reach.</span></span></span>
			</div>
		</div>
	</div>

	<div class="col-xl col-lg-3 col-md-3 col-sm-6 my-3">
		<div class="card flat h-100">
			<div class="card-body px-1">
				<div class="card-title f-08 text-center  m-0 mb-1">Average
					Engagement Rate</div>
				<h4 class="text-center p-0 m-0 ">
					<span class="engagementRate" data-decimal=true>-</span><span
						class="d-none engagementRatePercentage">%</span>
				</h4>
				<span class="pl-2 infoIcon"><i class="fas fa-info-circle"></i><span
					class="pl-2"><span class="projCostPerEngInfo">Engagement
							rate is the number of likes and comments per follower.</span></span></span>
			</div>
		</div>
	</div>

	<div class="col-xl col-lg-3 col-md-3 col-sm-6 my-3">
		<div class="card flat h-100">
			<div class="card-body px-1">
				<div class="card-title f-08 text-center  m-0 mb-1">Average
					Likes</div>
				<h4 class="text-center p-0 m-0 ">
					<span class="likes">-</span>
				</h4>
			</div>
		</div>
	</div>

	<div class="col-xl col-lg-3 col-md-3 col-sm-6 my-3">
		<div class="card flat h-100">
			<div class="card-body px-1">
				<div class="card-title f-08 text-center  m-0 mb-1">Average
					Comments</div>
				<h4 class="text-center p-0 m-0 ">
					<span class="comments">-</span>
				</h4>
			</div>
		</div>
	</div>
</div>