<div class=" card card-body tab-pane fade in show active  "
	id="campaign-statistics" role="tabpanel">
	<div class="side-nav-container ">
		<div class="side-nav-wrapper ">
			<div class=" col-12 my-3 p-3 ">
				<div class="md-form mt-0">
					<select id="campaign" class="mdb-select " required="required"><option
							hidden>Select a Campaign</option>
						<th:block th:each="campaign : ${campaigns}">
							<option th:if="${campaign.isPromote} == true"
								th:value="${campaign.campaignId}"
								th:text="'Promote - ' + ${campaign.campaignName}"></option>
							<option th:if="${campaign.isPromote} == false"
								th:value="${campaign.campaignId}"
								th:text="${campaign.campaignName}"></option>
						</th:block></select> <label for="campaign" class="active">Campaign</label>
					<div class="invalid-feedback"></div>
				</div>
				<div class="md-form">
					<select id="campaign-platform" class="mdb-select" >
					<option value="" hidden="true">Select Platform</option>
					</select><label for="campaign-platform" class="active">Platform</label>
					<div class="invalid-feedback"></div>
				</div>
				<div class="md-form">
					<select id='influencer' multiple=multiple>
					</select>
					<div class="invalid-feedback"></div>
				</div>
			</div>
			<ul class="side-nav-panel" style="width: 100%">
				<li class="active side-nav-item"><a href="#gender-panel"
					class="side-nav-link" id="genderAgeLabel">Gender & Age</a></li>
				<li class="side-nav-item"><a href="#location-panel"
					class="side-nav-link">Location</a></li>
				<li id="analytic-intrest" class="side-nav-item"><a href="#interest-panel"
					class="side-nav-link">Interest</a></li>
			</ul>
		</div>
		<div class="side-nav-content">
			<div class="active tab-pane fade in show  card flat "
				id="gender-panel">
				<div class="row py-3" style="height: 75vh">
					<div class="col-12 pb-3 row">
						<th:block th:insert="Brand/CampaignStatisticsCard" />
						<div class="row col-12 pb-3">
							<div class="col-6">
								<span>Average Gender Distribution </span>
							</div>
							<div class="col-6">
								<span>Average Age Distribution</span>
							</div>
						</div>
					</div>
					<div class="col-6">
						<canvas id="gender" width="100%" height="100%"></canvas>
					</div>
					<div class="col-6">
						<canvas id="age" width="100%" height="100%"></canvas>
					</div>
				</div>
			</div>
			<div class="tab-pane fade in  card flat" id="location-panel">
				<div class="row py-3" style="height: 75vh">
					<th:block th:insert="Brand/CampaignStatisticsCard" />
					<div class="col-12 pb-3 row">
						<div class="col-6">
							<span>Audience Countries Distribution (# of followers)</span>
						</div>
						<div class="col-6 audience-states">
							<span>Audience States Distribution (# of followers)</span>
						</div>
					</div>
					<div class="col-6">
						<canvas id="country" width="100%" height="100%"></canvas>
					</div>
					<div class="col-6 audience-states">
						<canvas id="state" width="100%" height="100%"></canvas>
					</div>
				</div>
			</div>
			<div class="tab-pane fade in  card flat" id="interest-panel">
				<div class="row py-3" style="height: 75vh">
					<th:block th:insert="Brand/CampaignStatisticsCard" />
					<div class="col-12 pb-3 row">
						<div class="col-12">
							<span>Audience Interests Distribution (# of followers)</span>
						</div>
					</div>
					<div class="col-12">
						<canvas id="engagement" width="100%" height="100%"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>