<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:a="http://www.w3.org/1999/xhtml">

<head>
	<title>Smartfluence | Campaign Management</title>
	<th:block th:insert="header" />
	<link rel="stylesheet" th:href="@{/static/css/datatables.min.css}">
	<!-- <link rel="stylesheet" th:href="@{/static/dt_new/datatables.min.css}"> -->
	
</head>

<body>
<th:block th:insert="tawk.html" />
<div id="wrapper" class="">
	<th:block th:insert="Brand/NavPanel" />
	<!-- Page content -->
	<div id="page-content-wrapper" sec:authorize="hasAuthority('ROLE_BRAND_PENDING')">
		<th:block th:insert="loader" />
		<div class="container-wrapper">
			<div class="explore-gradient">
				<div class="position-fixed mr-3">
					<th:block th:insert="Brand/ApprovalStatus" />
				</div>
			</div>
		</div>
	</div>
	<div id="page-content-wrapper" sec:authorize="hasAuthority('ROLE_BRAND_DECLINED')">
		<th:block th:insert="loader" />
		<div class="container-wrapper">
			<div class="explore-gradient">
				<div class="position-fixed mr-3">
					<th:block th:insert="Brand/DeclineStatus" />
				</div>
			</div>
		</div>
	</div>
	<div id="page-content-wrapper" class="px-3" sec:authorize="hasAuthority('ROLE_BRAND_APPROVED')">
		<th:block th:insert="loader " />
		<div class="">
			<form action="" class="dashboard-form">
				<div class=" card dashboard mt-3">
					<div class="card-body
						container-fluid">
						<div class="row">
							<div class="col-sm-9">
								<div class="mt-3">
									<h4 class="dashboard-title text-primary">Manage Campaign</h4>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="mt-3 pull-right">
									<button type="button" id="createCampaign" th:onclick="|window.location.href='/brand/new-campaign'|" name="createCampaign"
											class="btn btn-primary btn-sm m-0"
									>Create New
										Campaign</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>

			<div class="tab-content card mt-4">
				<div class="tab-pane fade in show active" id="general" role="tabpanel">
					<div class="clearfix">
						<table id="table_campaign" class="table table-sm table_campaign table-hover display">
							<thead>
							<tr class="text-primary table-header">
								<th>
									<input  name="select_all" value="1" type="checkbox" disabled>
								</th>
								<th>Campaign Name</th>
								<th>Date</th>
								<th>Type</th>
								<th>Platform</th>
								<th>Influencers</th>
								<th>Status</th>
								<th>Action</th>
							</tr>
							</thead>

							<tbody>
							<th:block th:each="campaign: ${campaigns}">
								<tr th:id="${campaign.campaignId}">
									<td></td>
									<td th:id="${'cname_'+campaign.campaignId}" th:data-cname="${campaign.campaignName}" class="cname-class" th:text="${campaign.campaignName}"></td>
									<td style="width:200px" th:text="${campaign.stringCreatedAt}"></td>
									<td style="width:200px" th:text="( (${campaign.status} == 'LEGACYCAMPAIGN')? 'LEGACY' : 'NEW')"></td>
									<td style='padding-left:30px' th:if="${campaign.status!='LEGACYCAMPAIGN'}">
										<a th:each="platform:${campaign.platformList}">
											<i th:if="${platform=='Instagram'}" class="fab fa-instagram"></i>
											<i th:if="${platform=='Youtube'}" class="fab fa-youtube"></i>
											<img th:if="${platform=='TikTok'}" style="width: 18px; height: 18px; margin-bottom: 5px;" th:src="@{/static/svgs/brands/tiktok.svg}">
											
										</a>
									</td>
									<td style='padding-left:30px' th:if="${campaign.status=='LEGACYCAMPAIGN'}">
										<a><i></i></a>
									</td>
									<td style='padding-left:30px' th:text="${campaign.influencerCount}"></td>
									
									<td th:if="${campaign.status == 'LEGACYCAMPAIGN' && (campaign.campaignStatus=='ACTIVE'||campaign.campaignStatus=='INPROGRESS'||campaign.campaignStatus=='NEW')}"
										style="color:black">Active</td>
									<td th:if="${(campaign.status != 'LEGACYCAMPAIGN' && (campaign.campaignStatus=='INPROGRESS'||campaign.campaignStatus=='NEW'))}" style="color:red">Creation in Progress</td>
									<td th:if="${(campaign.status != 'LEGACYCAMPAIGN' && campaign.campaignStatus=='ACTIVE')}" style="color:black">Active</td>
									<td th:if="${(campaign.status != 'LEGACYCAMPAIGN' && campaign.campaignStatus=='CLOSED')}" style="color:black">Closed</td>
									<td>
										<span style="display:flex; align-items:center">
											<button th:if="(${campaign.status} == 'LEGACYCAMPAIGN')" th:onclick="|window.location.href='@{'view-campaign/' + ${campaign.campaignId}}'|"   type="button" class="btn btn-primary btn-sm">View</button>
											<button th:if="${(campaign.status != 'LEGACYCAMPAIGN' && (campaign.campaignStatus=='INPROGRESS'||campaign.campaignStatus=='NEW'))}" th:onclick="|window.location.href='@{'view-campaign-v1/' + ${campaign.campaignId}}'|"   type="button" class="btn btn-primary btn-sm">View</button>
											<button th:if="${(campaign.status == 'NEWCAMPAIGN' && campaign.campaignStatus=='ACTIVE')}" th:onclick="|window.location.href='@{'campaign/' + ${campaign.campaignId} + '/influencers'}'|"   type="button" class="btn btn-primary btn-sm">View</button>
											<button th:if="${(campaign.status == 'NEWCAMPAIGN' && campaign.campaignStatus=='CLOSED')}" th:onclick="|window.location.href='@{'campaign/' + ${campaign.campaignId} + '/influencers'}'|"   type="button" class="btn btn-primary btn-sm">View</button>
											<a th:href="@{/brand/analytics}"  class="btn btn-white btn-sm theme" data-mdb-ripple-color="dark">
												<i class="fas fa-chart-line"></i>
											</a>
											<span class="px-3 theme row-edit " th:if="${(campaign.status != 'LEGACYCAMPAIGN' && (campaign.campaignStatus=='INPROGRESS'||campaign.campaignStatus=='NEW'))}">
												<i class="fas fa-pen" ></i>
											</span>
											<span class="px-3 disabled theme row-edit " th:unless="${(campaign.status != 'LEGACYCAMPAIGN' && (campaign.campaignStatus =='INPROGRESS'||campaign.campaignStatus=='NEW'))}">
												<i class="fas fa-pen" ></i>
											</span>
										
											<span  th:if="${campaign.influencerCount == 0 && (campaign.status == 'NEWCAMPAIGN' && campaign.campaignStatus !='CLOSED')} "   class="px-3 theme deleteMCampaign" th:id="|${campaign.campaignId}_sp|">
												<i class="far fa-times-circle" style="cursor: pointer;" th:id="|${campaign.campaignId}_ic|"></i>
											</span>
											<span th:unless="${campaign.influencerCount == 0 && (campaign.status == 'NEWCAMPAIGN'  && campaign.campaignStatus !='CLOSED')}"   class="px-3 theme disabled deleteMCampaign" th:id="|${campaign.campaignId}_sp|">
												<i class="far fa-times-circle" style="cursor: pointer;" th:id="|${campaign.campaignId}_ic|"></i>
											</span>
										</span>
									</td>
								</tr>
							</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- delete modal -->
		<div class="modal fade" id="deleteCampaignModal" tabindex="-1" role="dialog" aria-labelledby="deleteCampaignLabel" style="top: 12%;" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title text-primary tect-center" id="deleteCampaignLabel">Delete Campaign</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<input type="hidden" id="dltCampSpnId" style="display: none;"></input>
						<div id="removeInfluencerBody">Are you sure that you want to
							delete the Campaign ?</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-sm btn-secondary"
							onclick="resetForms();$('#payment-non-cash').hide();" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-sm btn-primary"  onclick="deleteCampaignOnModal()">Ok</button>
					</div>
				</div>
			</div>
		</div>
		</div>
		<th:block th:insert="footer" />
	</div>
	<script type="text/javascript" th:src="@{/static/dt_new/datatables.min.js}"></script>
	<!-- <script type="text/javascript" th:src="@{/static/js/datatables.min.js}"></script> -->
	<script type="text/javascript" th:src="@{/static/js/moment.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/moment-timezone.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/datetime-moment.js}"></script>

	<script type="text/javascript" th:src="@{/static/script/brand/manage-campaign.js}"></script>
</div>
</body>

</html>
