<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Smartfluence | Campaign Management</title>
    <th:block th:insert="header" />
    <link rel="stylesheet" th:href="@{/static/css/datatables.min.css}">
    <!-- <link rel="stylesheet" th:href="@{/static/dt_new/datatables.min.css}"> -->
    <link rel="stylesheet" th:href="@{/static/css/bootstrap-slider.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/mselect.css}">
    <style type="text/css">
        .md-form label.active {
            font-size: .8rem !important;
        }

        .flex-column {
            flex-direction: column;
        }

        .md-form {
            font-size: 3rem
        }

        #influencer-genders {
            padding-bottom: 1px !important;
            padding-top: 1px !important;
        }

        [type=checkbox]+label:before {
            top: auto !important;
        }

        th,
        td {
            text-align: center;
        }

        pre {
            font-family: inherit;
            font-size: inherit;
            font-weight: 400;
        }

        input[type="text"]::placeholder {
            padding: 10px;
        }

        .slider-horizontal {
            width: 260px !important;
        }

        label {
            padding-bottom: 10px;
            padding-top: 10px;
        }

        label.active {
            margin-top: 20px;
        }

        textarea::placeholder,
        textarea {
            padding-left: 10px;
            padding-right: 10px;
            resize: none;
        }

        .reveal-name {
            position: absolute;
            top: 2em;
            right: 2em;
            padding-left: 2em !important;
            padding-right: 2em !important;
        }

        .m-progress-bar {
            min-height: 1em;
            background: #c12d2d;
            width: 5%;
        }

        .tab-content {
            padding: 1rem 1rem 1rem;
        }

        .btn.btn-primary.viewConditionsbtn {
            background-color: #2f008d !important;
            color: #fff !important;
        }

        .btn.updConditionsbtn {
            background-color: #2f008d !important;
            color: #fff !important;
        }

        .errorMsg {
            font-size: 14px;
            font-weight: bolder;
            color: #e30f0f !important;
        }

        .modal-dialog.terms {
            width: 100%;
            max-width: 1000px;
            margin: 30px auto;
            z-index: 9999;
        }

        .terms .modal-content {
            max-height: 92vh;
            overflow-y: auto;
        }

        .modal-title {
            margin-bottom: 0;
            font-weight: 500;
        }
    </style>
</head>

<body>
    <th:block th:insert="tawk.html" />
    <div id="wrapper" class="">
        <th:block th:insert="Brand/NavPanel" />
        <!-- <form action="#" th:action="@{/brand/saveNewCampaign}" th:object="${campaignObj}" method="post" novalidate="novalidate"> -->
        <form th:id="campaignForm" th:object="${campaignObj}" novalidate="novalidate" autocomplete="off">
            <!--            <span th:field="*{brandId}" th:value="${campaignObj.brandId}" > </span>-->
            <!--            <input type="hidden" th:field="*{brandId}" th:value="${campaignObj.brandId}" name="brandId" id="brandId">-->
            <br>

            <div style="margin-top:20px" class="px-3">
                <h4 style=" color: #2f008d;" class="m-0">
                    <b th:text="${campaignObj.campaignName}"> </b>
                </h4>
            </div>

            <div class="tabs-wrapper" style="margin-top:30px">
                <ul class="nav classic-tab tabs-red" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link "
                            th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/influencers'" role="tab">All
                            Influencers</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/workflow'"
                            role="tab">Workflow</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link active" data-toggle="tab" href="#" role="tab">Campaign Details</a>
                    </li>
                    <span style="float: right;margin-top:15 px" title="Save your campaign before Launch"><button
                            data-toggle="modal" data-target="#endCampaign" type="button" id="startPromoteCampaign"
                            class="btn btn-primary btn-sm m-0 waves-effect waves-light not-saved"
                            style="right: 8.5%; position: absolute;">End Campaign</button></span>
                </ul>

            </div>

            <div class="modal fade" id="preview-modal" role="dialog">
                <div class="modal-dialog modal-lg" role="document" style="height: 97%;">
                    <div class="modal-content" style="height: 80%;">
                        <div class="modal-header">
                            <h5 class="modal-title text-primary" id="mailTemplatesLabel" style="margin-top: 1%;">Email
                                Preview</h5>
                            <div style="margin-top: 1%;">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="modal-body"
                            style="overflow-y: auto; max-height: calc(117% - 120px); overflow-x: hidden !important;">
                            <div class="tab-pane fade in show active" id="mailTemplateTable" role="tabpanel">
                                <div class="clearfix">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h6 style="margin-left: -15px;">Subject</h6>
                                        </div>
                                        <div class="col-md-10" id="preview-subject"></div>
                                    </div>
                                    <hr style="width: 110%; margin-left: -15px; margin-top: 0%;">
                                    <div class="row">
                                        <h6>Body</h6>
                                    </div>
                                    <br>
                                    <div id="preview-body"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Page content -->
            <div class="content-wrapper px-3">
                <div class="">
                    <!-- Nav tabs -->

                    <div class="tab-content card">
                        <!-- Panel 1 -->
                        <div class="tab-pane fade in show active" id="campaign_details" role="tabpanel">
                            <div class="clearfix">
                                <span class="pl-2 infoIcon" style="right: 2%"><a href="#preview-modal"
                                        data-toggle="modal" id="preview" class="d-none"
                                        style="float: right; margin-right: 2%; cursor: pointer;"> <i
                                            class="fa fa-info-circle fa-2x" aria-hidden="true"></i></a> <span
                                        class="projCostPerEngInfo pl-2"
                                        style="width: auto; right: 9px; left: -65px; top: 40px;">Email
                                        Preview</span></span> <input type="hidden" id="campaignId"> <br>
                                <div class="md-form">
                                    <label for="brandDescription"
                                        style="padding-bottom: 15px;font-size:17px !important;color:#000;">Brand
                                        Overview
                                        <!-- <span class="text-danger"> *</span> -->
                                    </label>
                                    <textarea disabled="true" th:text="${campaignObj.brandDescription}"
                                        id="brandDescription" name="brandDescription" required="required"
                                        class="form-control active" style="padding-left:10px;border-radius: 5px;height:10vh;width:80%"
                                        placeholder="Let the influencers know who you are!" maxlength="200"
                                        data-remainingChar="brandDescriptionRemainingC"></textarea>
                                    <!-- <span><span id="brandDescriptionRemainingC">0</span>/120</span> -->
                                </div>

                                <br>
                                <div class="md-form">
                                    <label for="campaignDescription"
                                        style="padding-bottom: 15px;font-size:17px !important;  color:#000;">Description
                                        of the Campaign
                                        <!-- <span class="text-danger"> *</span> -->
                                    </label>
                                    <textarea  disabled="true" th:text="${campaignObj.campaignDescription}"
                                        id="campaignDescription" name="campaignDescription" required="required" rows="3"
                                        class="form-control" style="padding-left:10px; border-radius: 5px;height:10vh;width:80%" maxlength="200"
                                        data-remainingChar="campaignDescriptionRemainingC"
                                        placeholder="This is where a brand would describe the goals of the campaign and any important details related to the campaign's goals and company's goals "></textarea>
                                    <!-- <span><span id="campaignDescriptionRemainingC">0</span>/160</span> -->
                                </div>

                                <!--                            product-->
                                <label for="new" style="padding-bottomp:1500px;font-size:17px;color:#000;"
                                    class="mt-2 mb-0 pb-0"> Product</label>
                                <div class="md-form mt-0">
                                    <div id="new" class="parentDiv">
                                        <div id="parentRow">
                                            <!-- <div id="row0" class="d-flex align-items-start mt-1 row addRow">
                                        <div class="md-form d-flex  flex-column flex-1 mr-4">
                                            <label class="active" for="nameProduct_">Name of product</label>
                                            <input maxlength="50" style="width:200px"
                                                   onchange="validation(event,'nameProductError',50)" type="text"
                                                   class="form-control nameProduct" id="nameProduct_"
                                                   aria-describedby="emailHelp" placeholder="Product Name">
                                            <div class="errorMsg" id="nameProductError"></div>
                                        </div>
                                        <div class="md-form d-flex  flex-column flex-1 mr-4">
                                            <label class="active" for="linkProduct_">Link of Product</label>
                                            <input maxlength="100"
                                                   onchange="validation(event,'linkProductError',100)" type="text"
                                                   class="form-control linkProduct" id="linkProduct_"
                                                   placeholder="URL to Product Page Description"
                                                   style="width:500px ">
                                            <div class="errorMsg" id="linkProductError"></div>

                                        </div>

                                        <div class="form-group"></div>
                                        <div
                                                class=" d-flex align-items-center flex-1 mr-0 mt-4  form-group addRowField">
                                            <button type="button" onclick="addField('row0')"
                                                    style="background:transparent; border: none; font-size: 25px;color:purple">
                                                <i style="background:none" class="fas fa-plus-circle"></i>
                                            </button>
                                            <button id="hideRemove" hidden type="button"
                                                    onclick="removeRow('row0')" class='ml-2'
                                                    style="border: none;background:transparent;font-size: 25px;color:red">
                                                <i class="fas fa-minus-circle"></i>
                                            </button>
                                        </div>

                                    </div> -->
                                        </div>
                                        <div class="md-form">
                                            <label class="subLable" for="maxProductCount">How many products can
                                                influencers choose ?</label>
                                            <input disabled="true" maxlength="2" type="number" class="form-control"
                                                style="width:20%;-webkit-appearance: none; -moz-appearance: none; appearance: none; margin: 0;"
                                                name="maxProductCount" id="maxProductCount"
                                                placeholder="Enter Number of Products">
                                            <div class="errorMsg" id="chooseProductError"></div>
                                        </div>
                                    </div>
                                </div>
                                <label for="campaignDescription" style="font-size:17px; color: #000;"
                                    class="mt-4 mb-0 pb-0">
                                    Offer Type
                                </label>
                                <div class="checkbox-container md-form" style='font-size:inherit !important'>
                                    <div id="offerType form-check">
                                        <input disabled="true" id="flexCheckDefault" class="form-check-input"
                                            name="offerTypeGroup" value="cashPayment" type="checkbox"><label
                                            class="form-check-label" for="flexCheckDefault">Cash
                                            Payment</label>
                                    </div>
                                    <div id="offerType form-check">
                                        <input disabled="true" onkeyup="onKeyCommon('checkBoxEmptyError')"
                                            id="flexCheckDefault2" class="form-check-input"
                                            onchange="commisionCheckbox(event)" value="commission" type="checkbox"
                                            name="offerTypeGroup"><label class="form-check-label"
                                            for="flexCheckDefault2">Commission /
                                            Affiliate</label>
                                    </div>
                                    <div id="offerType form-check">
                                        <input disabled="true" id="flexCheckDefault3" class="form-check-input"
                                            name="offerTypeGroup" value="productServiceOnly" type="checkbox"><label
                                            class="form-check-label" for="flexCheckDefault3">Product / Service
                                            Only</label>
                                    </div>
                                </div>
                                <div id="cashPaymentField" class=" form-group">
                                </div>
                                <div id="commisionField" class=" form-group">
                                </div>
                                <div class="errorMsg" id="checkBoxEmptyError"></div>
                                <br />
                                <div class="mt-0">
                                    <div>
                                        <label class="pt-0" for="campaignDescription"
                                            style="padding-bottom: 0px;font-size:17px; margin-top:0px; color: #000;">
                                            Task Requirements
                                            <!-- <span class="text-danger"> *</span> -->
                                        </label>
                                    </div>
                                    <div class='d-flex align-items-start mt-1'>
                                        <div class='d-flex align-items-center mr-4'>
                                            <div>
                                                <!--                                            <label class="p-0">Platform <span class="text-danger"> *</span></label>-->
                                                <!--                                            <div class="row" style="padding-top: 10px;">-->
                                                <div class="md-form">
                                                    <label for="platform" class="active">Platform</label>
                                                    <select disabled="true" style="width:250px" name="platform"
                                                        required="required" id="platform"
                                                        class="mdb-select form-control">
                                                        <!-- <option  th:each="platformmaster : ${campaignObj.platformMasters" th:text="${platformmaster.platformName}" th:value="${platformmaster.platformId}" ></option> -->

                                                        <option th:each="operator : ${campaignObj.platformMaster}"
                                                            th:value="${operator.platformId}"
                                                            th:text="${operator.platformName}"></option>

                                                        <!-- <select th:field="*{percentage}">
                                                            <option th:each="i : ${#numbers.sequence(0, 100)}" th:value="${i}" th:text="${i}"
                                                              th:selected="${i==75}"></option>
                                                        </select> -->
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='d-flex align-items-center flex-1 mr-4'>
                                            <div>
                                                <!--  <label class="p-0">Platform <span class="text-danger"> *</span></label>-->
                                                <!--  <div class="row" style="padding-top: 10px;">-->
                                                <div class="md-form">
                                                    <label for="postType" class="active">Post Type
                                                        <!-- <span class="text-danger"> *</span> -->
                                                    </label>
                                                    <select disabled="true" style="width:150px" name="postType"
                                                        required="required" id="postType"
                                                        class="mdb-select form-control">
                                                        <!-- <option value="Story" >Story</option>
                                            <option value="IG Reels">IG Reels</option>
                                            <option value="CustomFillin">Custom (fillin)</option> -->
                                                        <!-- <option th:each="operator : ${campaignObj.platformMasters}" th:value="${operator.platformId}" th:text="${operator.platformName}"></option> -->


                                                        <option th:each="operator : ${campaignObj.platformPostMaster}"
                                                            th:value="${operator.postTypeId}"
                                                            th:text="${operator.postTypeName}"></option>
                                                        <!-- <option th:if="${operator.platformId == `${platformOption}`}""
                                                        th:value="${operator.postTypeId}"
                                                        th:text="${operator.postTypeName}"></option> -->

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="md-form  mr-4 mt-4">
                                            <div>
                                                <input disabled="true" maxlength="50" style='font-size:1rem '
                                                    id="postCustomName" name="postCustomName"
                                                    placeholder="Custom filling" class="mt-10 mr-4 form-control"
                                                    type="text" hidden>
                                            </div>
                                            <div class="errorMsg" id="postCustomNameError"></div>
                                        </div>
                                        <div class='d-flex align-items-center mr-4 w-100'>
                                            <div class="w-100 ">
                                                <label class=" mt-0" style="color:#757575; margin-bottom:0"
                                                    for="guidelines">Post Guidelines or Requirements</label>
                                                <div>
                                                    <textarea disabled="true" maxlength="200"
                                                        style="width:73%;height:10vh;background-color: transparent;"
                                                        name="guidelines" class="form-control" id="guidelines" rows="4"
                                                        placeholder="Include any notes or guidelines to the influencer about the post requirements. (e.g. 'We encourage you to maintain creative freedom. Please make sure that the product is prominently featured at the center of the images')"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br /><br />
                                <div class="md-form mt-3">
                                    <label for="hashTags"
                                        style="padding-bottom: 0px;font-size:17px !important; margin-top:0px; color: #000;">Required
                                        Hashtags or Mentions</label>
                                    <textarea disabled="true" th:text="${campaignObj.hashTags}" maxlength="200"
                                        id="hashTags" name="hashTags" required="required" class="form-control"
                                        style="border-radius: 5px; width:80%;height:10vh"
                                        placeholder="Include any request with respect to the content creation, post requirements (hashtags, captions, tags), etc."></textarea>
                                    <div class="errorMsg" id="requiredHastagError"></div>
                                </div>
                                <br />
                                <div class="md-form">
                                    <label for="restrictions"
                                        style="padding-bottom: 0px;font-size:17px !important; margin-top:0px; color: #000;">Restrictions</label>
                                    <textarea disabled="true" th:text="${campaignObj.restrictions}" maxlength="200"
                                        id="restrictions" name="restrictions" required="required" class="form-control"
                                        style="border-radius: 5px;width:70%,height:10vh;width:80%"
                                        placeholder="Restrictions"></textarea>
                                    <div class="errorMsg" id="restrictionsError"></div>
                                </div>
                                <label for="termsConditions"
                                    style="padding-bottom: 0px;font-size:17px; margin-top:14px; color: #000;">Terms &
                                    Conditions</label>
                                <div class="md-form mt-0" id="intialTermsDropdown">
                                    <select disabled="true" th:each="operator : ${campaignObj.termsConditionMaster}"
                                        style="width:350px" class="mdb-select form-control" name="termsConditions"
                                        id="termsConditions">
                                        <option class="subLable" th:value="${operator.type}">Use Standard Terms and
                                            Conditions
                                        </option>
                                        <!--                                    <option class="subLable" value="custom">Add Custom Terms and Conditions</option>-->
                                    </select>
                                </div>
                                <div class="row mt-2">
                                    <div class="uploadConditions" id="uploadConditions" />
                                    <button id="viewTermsButton" type="button" class="btn btn-primary viewConditionsbtn" data-toggle="modal"
                                        data-target="#termsandconditionmodal">View Terms and Conditions</button>
                                </div>
                            </div>
                            <span class="afterUploadTermsAndConditions" id="afterUploadTermsAndConditions">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="termsandconditionmodal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog terms">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Terms and Conditions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" >
                    <p id="termsConditionStandardData" class="paragraph-15"></p>
                    </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="endCampaign" tabindex="-1" role="dialog" aria-labelledby="endCampaignLabel"
        style="top: 12%;" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-primary tect-center" id="endCampaignLabel">End Campaign</h5>
                    <button type="button" class="close" data-dismiss="modal"
                        onclick="resetForms();$('#payment-non-cash').hide();" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div id="removeInfluencerBody">Are you sure that you want to
                        end the Campaign ?</div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary"
                        onclick="resetForms();$('#payment-non-cash').hide();" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-sm btn-primary" onclick="endCampaign()">End</button>
                </div>
            </div>
        </div>
    </div>

    <!-- delete modal -->
    <div class="modal fade" style="align-items:center" id="" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm terms" style="text-align:center;width:35%;margin-top: 190px;">
            <div class="modal-content">
                <div class="modal-header" style="background-color:indigo;color: white;">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Campaign</h5>
                </div>
                <div class="modal-body" style="font-size:1.2rem;height:15vh;margin-top:20px">
                    Are you sure want to delete campaign?
                </div>

                <div class="modal-footer">
                    <div class="row" style="text-align:center"></div>
                    <button style="height:5vh;background-color:indigo;color:white;width:30%;font-size:1rem"
                        data-dismiss="modal" type="button" class="close ">
                        Close
                    </button>
                    <button onclick="endCampaign()" type="button"
                        style="height:5vh;background-color:red;color:white;width:30%;font-size:1rem"
                        data-dismiss="modal" class="close ">
                        Delete
                    </button>
                </div>
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary">Save changes</button> -->
    </div>
    </div>
    <th:block th:insert="footer" />
    <script type="text/javascript" th:src="@{/static/dt_new/datatables.min.js}"></script>
    <!-- <script type="text/javascript" th:src="@{/static/dt_new/datatables.min.js}"></script> -->
    <script type="text/javascript" th:src="@{/static/js/bootstrap-slider.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/mselect.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/bootstrap3-typeahead.min.js}"></script>
    <!--    <script type="text/javascript" th:src="@{/static/script/brand/new-campaign.js}"></script>-->
    <!-- <script th:inline="javascript">
var promoteMail = /*[[${promoteMail}]]*/ ;
var profileDetails = /*[[${profileDetails}]]*/ ;
var promoteViewCampaign = /*[[${promoteViewCampaign}]]*/ ;
</script> -->
    <script>
        sendEvent = function (sel, step) {
            $(sel).trigger('next.m.' + step);
        }
    </script>
    <script th:inline="javascript">
        var campaignId = { value: /*[[${campaignObj.campaignId}]]*/ {} }
        var taskId = null;
        var currencydata = { value: /*[[${campaignObj.currencyMaster}]]*/ {} }
        var commissionAffilateData = { value: /*[[${campaignObj.commissionAffiliateMaster}]]*/ {} }
        var getMasters = { data: /*[[${campaignObj}]]*/ {} };
        var campaignStatus = /*[[${campaignObj.campaignStatus}]]*/
        var index = 0;
        var err = false;
        var requiredError = false;
        var checkBoxValue = new Array();
        var productList = new Array();
        var getTerms = /*[[${campaignObj.termsCondition}]]*/;
        var downloadFileURL = getTerms == null ? "" : getTerms.termsConditionFilePath
        var saveFilename = getTerms == null ? "" : getTerms.fileName;
        var getTermsConditionsId = getTerms == null ? "" : getTerms.termId;
        var termTypeData = getTerms == null ? "" : getTerms.type;


        $(document).ready(function () {
            var tersmAndConditionsStandardData = getMasters.data.termsConditionMaster.find(x=>x.termsCondition)
            $("#termsConditionStandardData").css({'white-space': 'pre'}).text(tersmAndConditionsStandardData.termsCondition)

            if (campaignStatus == "CLOSED") {
                $("#startPromoteCampaign").attr("hidden", true)
            }

            //terms



            (getMasters.data.campaignId == '' || getMasters.data.campaignId == null) ? $("#deletePromoteCampaign").hide() : $("#deletePromoteCampaign").show()
            var maxCount = getMasters.data.maxProductCount == 0 ? getMasters.data.maxProductCount = "" : getMasters.data.maxProductCount;
            $("#maxProductCount").val(maxCount);
            getMasters.data.offers?.forEach((offerData, index) => {
                if (offerData.offerType == "PAYMENT") {
                   
                    document.getElementById("flexCheckDefault").checked = true;
                    let eventObject = { target: { value: "cashPayment", checked: true } }
                    cashPaymentCheckbox(eventObject);
                    $("#paymentOffer").val(offerData.paymentOffer);
                } if (offerData.offerType == "COMMISSION") {
                   
                    document.getElementById("flexCheckDefault2").checked = true;
                    let eventObject = { target: { value: "commission", checked: true } }
                    commisionCheckbox(eventObject);
                    $("#commissionAffiliate").val(offerData.commissionValue);
                    $("#commissionAffiliateDetails").val(offerData.commissionAffiliateDetails);
                    $("#commissionAffiliateType").val(offerData.commissionAffiliateTypeId);
                    $("#currency").val(offerData.commissionValueTypeId);
                    $("#commissionAffiliateCustomName").val(offerData.commissionAffiliateCustomName);
                    commisiionAffilateChange(offerData.commissionAffiliateType);
                } if (offerData.offerType == "PRODUCT") {
                   
                    document.getElementById("flexCheckDefault3").checked = true;
                    let eventObject = { target: { value: "productServiceOnly", checked: true } }
                    commisionCheckbox(eventObject);
                }
            });



            if (getMasters.data.tasks?.length > 0) {
                getMasters.data.tasks?.forEach((elem, index) => {
                    if (elem.platformId) {
                        platformOnChange(elem.platformId);
                        $('#postType').val(elem.postTypeId);
                        $("#platform").val(elem.platformId);
                        $("#guidelines").val(elem.guidelines);
                        $("#postCustomName").val(elem.postCustomName);
                        taskId = elem.taskId;
                        postTypeChange(elem.postTypeId);

                    }
                })
            } else {
                platformOnChange($("#platform").val());
                postTypeChange();
            }

            if (getMasters.data.products?.length > 0) {
                getMasters.data.products?.forEach((elem, index) => {
                    addField(elem.productId);
                    $(`#nameProduct_${elem.productId}`).val(elem.productName);
                    $(`#linkProduct_${elem.productId}`).val(elem.productLink);
                })
            }
        if(campaignId){
            $("#intialTermsDropdown").html(`   
                                    <select  style="width:350px"
                                         class="mdb-select form-control disabled"
                                        name="termsConditions" id="termsConditions">
                                        <option class="subLable" value="standard">Use Standard Terms and
                                            Conditions
                                        </option>
                                        <option class="subLable" value="custom">Custom Terms and
                                            Conditions
                                        </option>
                                    </select>`)
                                }
            if (getTerms != "") {
                if (termTypeData == "CUSTOM") {
                   
                    $("#viewTermsButton").attr("hidden", true);
                    $("#termsConditions").val("custom")
                   
                    $("#afterUploadTermsAndConditions").html(`<div class='container row' style='align-items: center; grid-gap: 10px;'>
                                    <label style="margin:0px" ><img style="margin-right: 3px;"
                                                    src="/static/img/download.svg" alt="download"></img>
                        <a href=${downloadFileURL} download>${saveFilename}</a> </label>
                        </div>`)
                }
            }
        });



        function platformOnChange(value) {
            var postTypesbyPlatform = getMasters.data.platformPostMaster.filter(x => x.platformId == value);
            $('#postType').find('option').remove().end();
            //$('#postType').append(`<option value="">Select</option>`)
            postTypesbyPlatform.forEach((element, index) => {
                $('#postType').append(`<option value="${element.postTypeId}">${element.postTypeName}</option>`)
            });
        }

        //generateoptions
        function generateCurrencyOptions(currencyMasters) {
            return currencyMasters.map(x => `<option value='${x.currencyId}'>${x.currencyValue}</option>`);
        }

        //generateAfffilateMAster
        function generateAfffilateMAster(affilateMaster) {
            return affilateMaster.map(x => `<option value='${x.caId}'>${x.caValue}</option>`);
        }

        // checkbox functionalities
        function cashPaymentCheckbox(event, checked, data) {
            
            if (event.target.value == "cashPayment" && event.target.checked == true) {
              
                document.getElementById("cashPaymentField").style.display = 'block';
                document.getElementById("cashPaymentField").innerHTML = `<label class='mb-0 mt-3 pb-0' style='font-size:17px' for="paymentOffer">Payment Offer</label>
                <div style="width:30%" class="md-form mt-1">
                <input disabled="true"  maxlength="50"  type="number" class="form-control" name="paymentOffer" id="paymentOffer" placeholder="$XXX">
                `
            } else {
                checkBoxValue = [];
                document.getElementById("cashPaymentField").style.display = 'none';
            }
        }


        function commisionCheckbox(event, campaignObj) {
            // if (event.target.value == "productServiceOnly" && event.target.checked == true && event.target.value == "commission" && event.target.checked == true) {
            //     document.getElementById("flexCheckDefault").checked = false;
            // }
            // if (event.target.value == "cashPayment" && event.target.checked == true || event.target.value == "commission" && event.target.checked == true) {
            //     document.getElementById("flexCheckDefault3").checked = false;
            // }
            if (event.target.value === "commission" && event.target.checked == true) {
              

                checkBoxValue = []
                var currentoptions = generateCurrencyOptions(currencydata.value).toString().replace(",", "");
                var affilateOptions = generateAfffilateMAster(commissionAffilateData.value).toString().replace(",", "");
                document.getElementById("commisionField").innerHTML = `  <label class='mt-3 mb-0 pb-1' style='font-size:17px !important'  for="commissionAffiliate">Commission / Affiliate</label>
            <div class="row">
                <div class=" md-form mt-0 d-flex" style='font-size:inherit'>
                    <div>
                    <input disabled="true" type="number" maxlength="2" name="commissionAffiliate" class="form-control mr-2" id="commissionAffiliate" placeholder="X% / $X">
                
                    </div>
                    <select disabled="true"  style="width:50px" name="currency" id="currency" class="mdb-select form-control">
                        ${currentoptions}
                    </select
                </div>
                <div s  class="active  ml-4 mr-5">
                    <p class="active mt-3" > per</p>
                </div>
                <div class="md-form mr-4 mt-0">
                            <select disabled="true" name="commissionAffiliateType" id="commissionAffiliateType" style="width:200px" onchange="commisiionAffilateChange(this.value)"class="mdb-select form-control" >
                                ${affilateOptions}
                            </select>
                            </div>
                            <div class="md-form  mr-4 mt-3">
                                <div>
                                <input disabled="true"  maxlength="50" placeholder="Custom filling" id="commissionAffiliateCustomName" name="commissionAffiliateCustomName" class='form-control' style='font-size:1rem;display:none;border: 0px;border-bottom: 1px solid #ced4da; padding-bottom:22px' class="mt-0 mr-4" ></div>
                                <div class="errorMsg" id="commissionAffiliateCustomNameError"></div>
                                    </div>
                            <div  class=" active  ml-3 mr-5">  <p class="active mt-3" > e.g. 10% per sale</p> </div>
                </div>
                <div class="md-form ml-800px col-md-12" style={{paddingLeft:'0'}}>
                    <textarea disabled="true"  maxlength="200"   type="text" class="form-control" id="commissionAffiliateDetails" name="commissionAffiliateDetails" style="width:80%" placeholder="Include any details about the payment or commission / affiliate offer" ></textarea>
                   
                </div>`
            } else if (event.target.value === "commission" && event.target.checked == false) {
                document.getElementById("commisionField").innerHTML = ""
            }

            if (event.target.value == "productServiceOnly") {
                if (document.getElementById("flexCheckDefault").checked == true && document.getElementById("flexCheckDefault3").checked == true) {
                    document.getElementById("flexCheckDefault").checked = false;
                    document.getElementById("cashPaymentField").innerHTML = "";
                }
            }

            if (event.target.value == "productServiceOnly") {
                // checkBoxValidation();

                if (document.getElementById("flexCheckDefault").checked == true && document.getElementById("flexCheckDefault2").checked == true) {
                    document.getElementById("flexCheckDefault").checked = false;
                    document.getElementById("cashPaymentField").innerHTML = "";
                }
            }
        }



        function addField(id) {
            const div = document.createElement('div');
            div.className = `addRow row`;
            let prodId = id ? id : null;
            div.id = `row${prodId}`
            productList.push(div.id)
            div.innerHTML = `
            <div class="md-form d-flex  flex-column flex-1 mr-4">
                <label class="active"  for="nameProduct_${prodId}">Name of product</label>
                <input disabled="true" maxlength="50"  style="width:200px" onchange='validation(event,"nameProductError${prodId}",50)'  type="text" class="form-control nameProduct" name="nameProduct_${prodId}" id="nameProduct_${prodId}" aria-describedby="emailHelp" placeholder="Product Name">
                    <div class="errorMsg" id="nameProductError${prodId}"></div>
            </div>
            <div class="md-form d-flex  flex-column flex-1 mr-4">
                <label class="active"  for="linkProduct_${prodId}">Link of Product</label>
                <input disabled="true" maxlength="100"  style="width:500px" onchange='validation(event,"linkProductError${prodId}",50)'  type="text" class="form-control linkProduct" name="linkProduct_${prodId}" id="linkProduct_${prodId}" placeholder="URL to Product Page Description">
                <div class="errorMsg" id="linkProductError${prodId}"></div>
            </div>
            <div></div>
            `
            document.getElementById("parentRow").insertBefore(div, document.getElementsByClassName('addRow')[0]);
        }


        function postTypeChange(val) {
            let selectedtext = $("#postType option:selected").text();
            if (selectedtext?.toLowerCase() != "custom") {
                $("#postCustomNameError").text("");
                requiredError = false
            }
            if (selectedtext?.toLowerCase() != "custom") {
                $('#postCustomName').attr('hidden', true);
            }
            else {
                $('#postCustomName').attr('hidden', false);
            }
        }

        function commisiionAffilateChange(val) {
            let selectedtext = $("#commissionAffiliateType option:selected").text();
            if (selectedtext?.toLowerCase() != "custom") {
                $("#commissionAffiliateCustomNameError").text("");
                requiredError = false
            }
            if (selectedtext?.toLowerCase() == "custom") {
                $('#commissionAffiliateCustomName').show();
            }
            else {
                $('#commissionAffiliateCustomName').hide();
            }
        }


        function endCampaign() {
        
            // /brand/delete-campaign?id=33069292-f97e-49c7-90cb-df91575a4828&status=END
            var request = $.ajax({
                url: `/brand/delete-campaign?id=${campaignId.value}&status=END`,
                type: "DELETE",
            }).done(function (data) {
                if (data.code == 600) {
                    toast("Campaign Ended Successfully");
                    window.location.href = "/brand/campaign"
                } else {
                    // {"code":"654","data":null,"errors":{"message":"Campaign not in creation"}}
                    if (data?.errors?.message) {
                        toast(data.errors.message);
                    } else {
                        toast("Something went wrong, Please try again");
                    }

                }

                // $("#campaignForm").trigger("reset");
            }).fail(function (jqXHR, textStatus) {
     
                // alert("Request failed: ", jqXHR);
                toast("Request Failed " + textStatus, "error")
            });
            // window.location.href = "/brand/getCampaignForm"
            // toast("Deleted Succesfully")


        }




    </script>
</body>

</html>