<div class=" card card-body tab-pane fade in show   "
	id="cost-statistics" role="tabpanel">
	<div class="side-nav-container ">
		<div class="side-nav-wrapper ">
			<div class=" col-12 my-3 p-3 ">
				<div class="md-form mt-0">
					<select id="campaignCost" class="mdb-select " required="required"><option
							hidden>Select a Campaign</option>
						<th:block th:each="campaign : ${campaigns}">
							<option th:if="${campaign.isPromote} == true"
								th:value="${campaign.campaignId}"
								th:text="'Promote-'+${campaign.campaignName}"></option>
							<option th:if="${campaign.isPromote} == false"
								th:value="${campaign.campaignId}"
								th:text="${campaign.campaignName}"></option>
						</th:block></select> <label for="campaignCost" class="active">Campaign</label>
					<div class="invalid-feedback"></div>
				</div>
				<div class="md-form">
					<select id="cost-platform" class="mdb-select" >
					<option value="" hidden="true">Select Platform</option>
					</select><label for="analytic-platform" class="active">Platform</label>
					<div class="invalid-feedback"></div>
				</div>
				<div class="md-form">
					<select id='influencerCost' multiple=multiple>
					</select>
					<div class="invalid-feedback"></div>
				</div>
			</div>
			<ul class="side-nav-panel" id="costAnalyticsNavPanel">
				<li class="active side-nav-item" id="estPricePerInfluencerNavLabel"><a
					href="#per-influencer" class="side-nav-link">Estimated Price
						Per Influencer</a></li>
				<li class=" side-nav-item" id="costPerEngagementNavLabel"><a
					href="#per-engagement" class="side-nav-link">Projected Cost Per
						Engagement</a></li>
				<li class="side-nav-item" id="costPerFollowerNavLabel"><a
					href="#per-follower" class="side-nav-link">Projected Cost Per
						Follower</a></li>
			</ul>
		</div>
		<div class="side-nav-content">
			<div class="tab-pane fade in show card flat active"
				id="per-influencer">
				<div class="row py-3" style="height: 75vh">
					<div class="col-12 pb-3 row">
						<th:block th:insert="Brand/CostStatisticsCard" />
						<div class="row col-12 pb-3">
							<div class="col-12">
								<span>Estimated Price Per Influencer</span>
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="chartWrapper estPricePerInfluencer">
							<div class="chartAreaWrapper">
								<div class="chartAreaWrapper2 estPricePerInfluencer">
									<canvas id="estPricePerInfluencer"></canvas>
								</div>
							</div>
							<canvas id="estPricePerInfluencerAxes" height="0" width="300"></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade in  card flat" id="per-engagement">
				<div class="row py-3" style="height: 75vh">
					<div class="col-12 pb-3 row">
						<th:block th:insert="Brand/CostStatisticsCard" />
						<div class="row col-12 pb-3">
							<div class="col-12">
								<span>Projected Cost Per Engagement</span>
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="chartWrapper costPerEngagement">
							<div class="chartAreaWrapper">
								<div class="chartAreaWrapper2 costPerEngagement">
									<canvas id="costPerEngagement" width="100%" height="100%"></canvas>
								</div>
							</div>
							<canvas id="costPerEngagementAxes" height="0" width="300"></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade in  card flat" id="per-follower">
				<div class="row py-3" style="height: 75vh">
					<div class="col-12 pb-3 row">
						<th:block th:insert="Brand/CostStatisticsCard" />
						<div class="row col-12 pb-3">
							<div class="col-12">
								<span>Projected Cost Per Thousand Followers</span>
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="chartWrapper costPerFollower">
							<div class="chartAreaWrapper">
								<div class="chartAreaWrapper2 costPerFollower">
									<canvas id="costPerFollower" width="100%" height="100%"></canvas>
								</div>
							</div>
							<canvas id="costPerFollowerAxes" height="0" width="300"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>