<div class="col-12  row">
	<div class="col-xl col-lg-3 col-md-3 col-sm-6 my-3">
		<div class="card flat ">
			<div class="card-body">
				<div class="card-title f-08 text-center  m-0 mb-1">Estimated
					Campaign Cost</div>
				<h4 class="text-center p-0 m-0 ">
					<span class="d-none cost-dollar">$</span> <span
						class="estCampaignCost">-</span>
				</h4>
				<span class="pl-2 infoIcon"><i class="fas fa-info-circle"></i><span
					class="pl-2"><span class="projCostPerEngInfo">This is
							the estimated dollar cost of your campaign assuming you are
							paying cash for your influencers and not exchanging any product.
							Actual cost will vary depending on the arrangements you make with
							influencers.</span></span></span>
			</div>
		</div>
	</div>

	<div class="col-xl col-lg-3 col-md-3 col-sm-6 my-3">
		<div class="card flat ">
			<div class="card-body px-1">
				<div class="card-title f-08 text-center  m-0 mb-1">Average
					Cost Per Engagement</div>
				<h4 class="text-center p-0 m-0 ">
					<span class="d-none cost-dollar">$</span> <span
						class="avgCostPerEngagement" data-decimal=true>-</span>
				</h4>
				<span class="pl-2 infoIcon"><i class="fas fa-info-circle"></i><span
					class="pl-2"><span class="projCostPerEngInfo">Engagement
							is the sum of the average likes and comments for a post.</span></span></span>
			</div>
		</div>
	</div>

	<div class="col-xl col-lg-3 col-md-3 col-sm-6 my-3">
		<div class="card flat ">
			<div class="card-body px-1">
				<div class="card-title f-08 text-center  m-0 mb-1">Average
					Cost Per Thousand Followers</div>
				<h4 class="text-center p-0 m-0 ">
					<span class="d-none cost-dollar">$</span><span
						class="avgCostPerFollower" data-decimal=true>-</span>
				</h4>
				<span class="pl-2 infoIcon"><i class="fas fa-info-circle"></i><span
					class="pl-2"><span class="last-info">This is the
							average cost per thousand followers of the influencer(s).</span></span></span>
			</div>
		</div>
	</div>


</div>