<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Smartfluence | Dashboard</title>
		<th:block th:insert="header" />
		<link rel="stylesheet" th:href="@{/static/css/datatables.min.css}">
	</head>
	<body>
		<th:block th:insert="tawk.html" />
		<div id="wrapper" class="">
			<th:block th:insert="Brand/NavPanel" />
			<!-- Page content -->
			<div id="page-content-wrapper"
				sec:authorize="hasAuthority('ROLE_BRAND_APPROVED')">
				<th:block th:insert="loader" />
				<div class="container-wrapper">
					<div class="tabs-wrapper">
						<ul class="nav classic-tabs tabs-red" role="tablist">
							<li class="nav-item"><a class="nav-link waves-light active"
								data-toggle="tab" href="#snapshots" role="tab">Bid History</a></li>
						</ul>
					</div>
					<div class="tab-content card">
						<div class="tab-pane fade in show active" id="snapshots"
							role="tabpanel">
							<div class="clearfix">
								<table id="table_snapshots"
									class="table table-sm table-striped table-hover">
									<thead>
										<tr class="text-primary">
											<th>Influencer</th>
											<th>Date</th>
											<th>Post Type</th>
											<th>Post Duration</th>
											<th>Payment Type</th>
											<th>Bid Amount</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="snap : ${snapshots}">
											<td><span th:text="${snap.influencerHandle}"></span><a
												style="float: right; color: #2f008d; font-size: 1.2rem;"
												th:href="${snap.influencerLink}" target="_blank"><i
													class="fab fa-instagram"></i></a></td>
											<td th:date-value="${snap.bidDateTime}"
												th:text="${#dates.format(new java.util.Date(snap.bidDateTime),'MMMM dd, yyyy')}"></td>
											<td th:text="${snap.postType}"></td>
											<td th:text="${snap.postDuration}"></td>
											<td th:text="${snap.paymentType}"></td>
											<td style="text-align: right;"
												th:text="${'$'+#numbers.formatDecimal(snap.bidAmount,1, 'COMMA', 2, 'POINT')}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<th:block th:insert="footer" />
		<script type="text/javascript" th:src="@{/static/js/datatables.min.js}"></script>
		<script type="text/javascript" th:src="@{/static/js/moment.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/static/js/moment-timezone.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/static/script/brand/dashboard.js}"></script>
	</body>
</html>