<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:a="http://www.w3.org/1999/xhtml">
    <head>
        <title>Smartfluence | Campaign Management</title>
        <link rel="stylesheet" th:href="@{/static/css/datatables.min.css}">
        <style>
            .actionDropdown {
            position: relative;
            display: inline-block;
            }
            .actionDropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 300px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding-right: 300px;
            /* padding-bottom: 300px; */
            /* z-index: 1; */
            }
        </style>
    </head>
    <body>
        <div class="">
            <div class="tab-content card mt-4">
                <div class="tab-pane fade in show active" id="general" role="tabpanel">
                    <div class="clearfix">
                        <table id="table_campaign_invite" class="table table-sm table_campaign table-hover display">
                            <thead>
                                <tr class="text-primary table-header">
                                    <th>
                                        <input name="select_all" class="inviteCheckbox" value="1" type="checkbox">
                                    </th>
                                    <th>Influencer</th>
                                    <th>Platform</th>
                                    <th>Followers</th>
                                    <th>Engagement</th>
                                    <th style="padding-left:20px">Offer ($)</th>
                                    <th>Affiliate</th>
                                    <th>Product Only</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="mailTemplateModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document" style="height: 97%;">
                <div class="modal-content" style="height: 80%;">
                    <div class="modal-header">
                        <h5 class="modal-title text-primary" id="mailTemplatesLabel" style="margin-top: 1%;">Mail
                            Templates
                        </h5>
                        <div id="createNewTemplate" class="row" style="margin-left: 55% !important;">
                            <a type="button" class="btn btn-primary btn-sm waves-effect"
                                onclick="viewMailEditPage('Create New Template',null)">Create
                            New Template</a>
                        </div>
                        <div style="margin-top: 1%;">
                            <button type="button" class="close" data-dismiss="modal" onclick="resetMailTemplate()"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body"
                        style="overflow-y: auto; max-height: calc(117% - 120px); overflow-x: hidden !important;">
                        <div class="tab-pane fade in show active" id="mailTemplateTable" role="tabpanel">
                            <div class="clearfix">
                                <table id="table_mailTemplate" class="table table-sm  table-hover">
                                    <thead>
                                        <tr class="text-primary">
                                            <th style="text-align: start;">Templates</th>
                                            <th style="width: 167.6px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <th:block th:each="mailTemplate : ${mailTemplates}">
                                            <tr th:if="${mailTemplate.isUserCreated}">
                                                <td style="text-align: start;" th:text="${mailTemplate.templateName}">
                                                </td>
                                                <td style="text-align: center;">
                                                    <div class="row">
                                                        <div style="margin: auto;">
                                                            <a id="viewEditMailPage"
                                                                th:onclick="|viewMailEditPage('${mailTemplate.templateName}','${mailTemplate.id}')|"
                                                                class="btn btn-primary btn-sm waves-effect">Edit</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="d-none tab-pane fade in show active" id="editTemplate" role="tabpanel">
                            <form class="row" id="editTemplateForm">
                                <div class="col-md-12 md-form p-0 d-inline-block">
                                    <label for="templateName">Template Name</label> <input type="text" id="templateName"
                                        name="templateName" required="required" class="form-control"
                                        placeholder="Enter Template Name">
                                    <div class="text-danger d-none" id="templateNameInvalid"></div>
                                </div>
                                <div class="col-md-12 md-form p-0 d-inline-block">
                                    <div class="row">
                                        <div class="col-md-9  md-form pl-0 d-inline-block">
                                            <label for="templateSubject">Subject</label> <input type="text"
                                                id="templateSubject" name="templateSubject" required="required"
                                                class="form-control" placeholder="Enter Subject">
                                            <div class="text-danger d-none" id="templateSubjectInvalid"></div>
                                        </div>
                                        <div class="col-md-3 md-form p-0 d-inline-block">
                                            <label for="mailTemplate" class="active">Variables</label> 
                                            <select
                                                name=" Variables" required="required" id="variables"
                                                class="mdb-select form-control">
                                                <option value="variables">Variables</option>
                                                <option value="<Full Name>">Full
                                                    Name
                                                </option>
                                                <option value="<Link>">Link</option>
                                                <option value="<Brand Name>">Brand Name</option>
                                                <option value="<Influencer Handle>">Influencer
                                                    Handle
                                                </option>
                                                <option value="<Estimated Pricing>">Estimated
                                                    Pricing
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 md-form p-0 d-inline-block">
                                    <span style="font-size: .8rem; cursor: text; color: #757575;">Mail
                                    Content</span>
                                    <textarea id="templateTextArea" rows="6" style="width: 100%;"></textarea>
                                    <div class="text-danger d-none" id="templateTextAreaInvalid"></div>
                                </div>
                            </form>
                            <div style="padding-top: 1.3rem !important; float: right;">
                                <button id="editTemplateBack" type="button" class="btn btn-sm btn-secondary"
                                    onclick="viewTemplatePage()">Back</button>
                                <button type="submit" id="saveTemplate" class="btn btn-sm btn-primary"
                                    onclick="saveTemplate()">Save</button>
                            </div>
                        </div>
                    </div>
                    <!-- <div class=" modal-footer row p-2 d-none" id="searchInfluencerModalFooter">
                        <div class="col-sm-12 " id="reportMessageDiv"
                            style="text-align: center;">
                            <span style="font-weight: 400;" id="reportMessage">Your
                                report will download shortly</span><span id="reportMessageCount"></span>
                        </div>
                        </div> -->
                </div>
            </div>
        </div>
        <!-- mail template -->
        <div class="modal fade" id="bulkMailModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-primary">Send Bulk Email</h4>
                        <button type="button" class="close" data-dismiss="modal" onclick="resetModal()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 d-inline-block md-form p-0" style="margin-top: 0 !important;">
                                <span style="color: #757575; position: relative; top: 30%; font-size: 16px;">Select
                                email template to send in bulk</span>
                            </div>
                            <div id="dropdownTemplates" class="col-sm-12 md-form p-0 d-inline-block"
                                style="margin-top: 2% !important;">
                                <select name=" mailTemplate" required="required" id="bulkMailTemplate"
                                    class="mdb-select form-control">
                                    <option value="" hidden="true">Mail Template</option>
                                    <th:block th:each="entry : ${mailTemplates}">
                                        <option th:if="${entry.isUserCreated}" th:value="${entry.id}"
                                            th:text="${entry.templateName}"></option>
                                    </th:block>
                                </select>
                                <div class="text-danger" id="bulkMailTemplateInvalid"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="sendBulk" type="button" class="btn btn-primary btn-sm waves-effect"
                            onclick="sendBulkMail()">Send</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="removeInfluencer" tabindex="-1" role="dialog" aria-labelledby="removeInfluencerLabel"
            style="top: 12%;" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-primary tect-center" id="removeInfluencerHeader">Remove Influencer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="removeInfluencerBody">Are you sure that you want to
                            remove the Influencer from the Campaign ?
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel
                        </button>
                        <button type="submit" class="btn btn-sm btn-primary" onclick="removeNewInfluencer()">Ok
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function printName() {
                document.getElementById("actionDropdown-content").style.display = 'block';
            }
        </script>
        <script type="text/javascript" th:src="@{/static/script/brand/campaign-workflow-invite.js}"></script>
    </body>
</html>