<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:a="http://www.w3.org/1999/xhtml">

<head>
    <title>Smartfluence | Campaign Management</title>
   
    <link rel="stylesheet" th:href="@{/static/css/datatables.min.css}">
    
</head>


<body>
    <div class="">

                <div class="tab-content card mt-4">
                    <div class="tab-pane fade in show active" id="general" role="tabpanel">
                        <div class="clearfix">
                            <table id="table_campaign_makepayments" class="table table-sm table_campaign table-hover display">
                                <thead>
                                    <tr class="text-primary table-header">
                                        <th>
                                            <input disabled name="select_all" value="1" type="checkbox" >
                                        </th>
                                        <th>Influencer</th>
                                        <th>Accepted Offer</th>
                                        <th>PayPal Email</th>
                                        <th>Payment Method</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
               
               
                <script type="text/javascript" th:src="@{/static/script/brand/makePaymentsTable.js}"></script>   
</body>

</html>