<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Smartfluence | Create Promote Campaign</title>
<th:block th:insert="header" />
<link rel="stylesheet" th:href="@{/static/css/bootstrap-slider.min.css}">
<link rel="stylesheet" th:href="@{/static/css/mselect.css}">

<style type="text/css">
.md-form label.active {
	/* font-size: .8rem !important; */
	
}

#influencer-genders {
	padding-bottom: 1px !important;
	padding-top: 1px !important;
}

[type=checkbox]+label:before {
	top: auto !important;
}

th, td {
	text-align: center;
}

pre {
	font-family: inherit;
	font-size: inherit;
	font-weight: 400;
}

input[type="text"]::placeholder {
	padding: 10px;
}

.slider-horizontal {
	width: 260px !important;
}

label {
	padding-bottom: 10px;
	padding-top: 10px;
}

label.active {
	margin-top: 20px;
}

textarea::placeholder, textarea {
	padding-left: 10px;
	padding-right: 10px;
	resize: none;
}

.reveal-name {
	position: absolute;
	top: 2em;
	right: 2em;
	padding-left: 2em !important;
	padding-right: 2em !important;
}

.m-progress-bar {
	min-height: 1em;
	background: #c12d2d;
	width: 5%;
}

.tab-content {
	padding: 1rem 1rem 1rem;
}
</style>
</head>
<body>
	<th:block th:insert="tawk.html" />
	<div id="wrapper" class="">
		<th:block th:insert="Brand/NavPanel" />
		<br>
		<div class="row">
			<div class="col-md-6">
				<form autocomplete="off" class="needs-validation"
					th:action="@{/brand/save-campaign/ }" method="post"
					novalidate="novalidate">
					<div class="md-form">
						<label id="promoteLabel" for="promoteCampaignName">Campaign
							Name<span class="text-danger"> *</span>
						</label> <input type="text" id="promoteCampaignName"
							name="promoteCampaignName" style="padding: 5px !important;"
							required="required" class="form-control">
					</div>
				</form>
			</div>
			<div class="col-md-6">
				<span style="float: right; padding-right: 20px; padding-top: 20px;">
					<a href="/brand/sf-promote"
					class="btn btn-primary btn-sm m-0 waves-effect waves-light">Back
						To Promote</a>
				</span>
			</div>
		</div>
		<div class="modal fade" id="preview-modal" role="dialog">
			<div class="modal-dialog modal-lg" role="document"
				style="height: 97%;">
				<div class="modal-content" style="height: 80%;">
					<div class="modal-header">
						<h5 class="modal-title text-primary" id="mailTemplatesLabel"
							style="margin-top: 1%;">Email Preview</h5>
						<div style="margin-top: 1%;">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>
					<div class="modal-body"
						style="overflow-y: auto; max-height: calc(117% - 120px); overflow-x: hidden !important;">
						<div class="tab-pane fade in show active" id="mailTemplateTable"
							role="tabpanel">
							<div class="clearfix">
								<div class="row">
									<div class="col-md-2">
										<h6 style="margin-left: -15px;">Subject</h6>
									</div>
									<div class="col-md-10" id="preview-subject"></div>
								</div>
								<hr style="width: 110%; margin-left: -15px; margin-top: 0%;">
								<div class="row">
									<h6>Body</h6>
								</div>
								<br>
								<div id="preview-body"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Page content -->
		<div id="page-content-wrapper">
			<div class="container-wrapper">
				<!-- Nav tabs -->
				<div class="tabs-wrapper">
					<ul class="nav classic-tabs tabs-red" role="tablist">
						<li class="nav-item"><a class="nav-link waves-light active"
							data-toggle="tab" href="#campaign_details" role="tab">Campaign
								Details</a></li>
						<li class="nav-item"><a class="nav-link waves-light"
							data-toggle="tab" href="#target_details" role="tab">Targeting
								Details</a></li>
						<li><span style="float: right;"><a
								id="createNewPromoteCampaign" href="#"
								class="btn btn-primary btn-sm m-0 waves-effect waves-light"
								style="right: 12%; position: absolute;">Save</a></span></li>
						<li><span style="float: right;"
							title="Save your campaign before starting"><a
								id="startPromoteCampaign" href="#"
								class="btn btn-primary btn-sm m-0 waves-effect waves-light not-saved"
								style="right: 3%; position: absolute;">Start</a></span></li>
					</ul>
				</div>
				<div class="tab-content card">
					<!-- Panel 1 -->
					<div class="tab-pane fade in show active" id="campaign_details"
						role="tabpanel">
						<div class="clearfix">
							<span class="pl-2 infoIcon" style="right: 2%"><a
								href="#preview-modal" data-toggle="modal" id="preview"
								class="d-none"
								style="float: right; margin-right: 2%; cursor: pointer;"> <i
									class="fa fa-info-circle fa-2x" aria-hidden="true"></i></a> <span
								class="projCostPerEngInfo pl-2"
								style="width: auto; right: 9px; left: -65px; top: 40px;">Email
									Preview</span></span> <input type="hidden" id="campaignId"> <br>
							<div class="md-form">
								<label for="brandDescription" style="padding-bottom: 20px;">Description
									of Brand<span class="text-danger"> *</span>
								</label>
								<textarea id="brandDescription" name="brandDescription"
									required="required" class="form-control"
									style="width: 82%; border-radius: 5px;"
									placeholder="Let the influencers know who you are!"></textarea>
							</div>
							<br>
							<div class="md-form">
								<label for="campaignDescription" style="padding-bottom: 20px;">Description
									of the Campaign<span class="text-danger"> *</span>
								</label>
								<textarea id="campaignDescription" name="campaignDescription"
									required="required" rows="3" class="form-control"
									style="width: 82%; border-radius: 5px;"
									placeholder="This is where a brand would describe the goals of the campaign and any important details related to the campaign's goals and company's goals "></textarea>
							</div>
							<div class="row" style="padding-top: 10px;">
								<div class="md-form col-md-3 pl-0">
									<label for="product" class="active">Sending Product?<span
										class="text-danger"> *</span>
									</label> <select name="product" required="required" id="product"
										class="mdb-select form-control">
										<option value="" hidden="true">Select</option>
										<option value="YES">Yes</option>
										<option value="NO">No</option>
										<option value="PRODUCT_ONLY">Product Only</option>
									</select>
								</div>
								<div class="md-form col-md-2 pl-0">
									<label for="productValue">Value of Product<span
										id="productValueRequired" class="text-danger d-none"> *</span></label>
									<input type="text" id="productValue" name="productValue"
										disabled required="required"
										class="form-control number-format" placeholder="$XXX">
								</div>
								<div class="md-form col-md-3 pl-0">
									<label for="postType" class="active">Post Type<span
										id="postTypeRequired" class="text-danger"> *</span>
									</label><select name="postType" required="required" id="postType"
										class="mdb-select form-control">
										<option value="" hidden="true">Select Post Type</option>
										<option value="Image">Image</option>
										<option value="Video">Video</option>
										<option value="IGTV">IGTV</option>
										<option value="Story">Story</option>
									</select>
								</div>
								<div class="md-form col-md-2 pl-0">
									<label for="payment">Payment<span id="paymentRequired"
										class="text-danger"> *</span></label> <input type="text" id="payment"
										name="payment" required="required"
										class="form-control number-format" placeholder="$XXX">
								</div>
							</div>
							<br>
							<div class="md-form">
								<label for="requirements" style="padding-bottom: 20px;">Additional
									Requirements</label>
								<textarea id="requirements" name="requirements"
									required="required" class="form-control"
									style="width: 82%; border-radius: 5px"
									placeholder="Include any request with respect to the content creation, post requirements (hashtags, captions, tags), etc."></textarea>
							</div>
							<br>
							<div class="md-form">
								<label for="restrictions" style="padding-bottom: 20px;">Restrictions</label>
								<textarea id="restrictions" name="restrictions"
									required="required" class="form-control"
									style="width: 82%; border-radius: 5px"
									placeholder="Restrictions"></textarea>
							</div>
							<br>
							<div class="md-form">
								<label for="activeUntil" class="active">Active Until<span
									class="text-danger"> *</span></label> <input type="date"
									id="activeUntil" name="activeUntil" required="required"
									class="form-control" style="width: 15%;">
							</div>
						</div>
					</div>
					<div class="tab-pane fade in show" id="target_details"
						role="tabpanel">
						<div class="clearfix">
							<div class="row">
								<div class="col-md-4 md-form pl-0">
									<label for="comparisonProfile">I am looking for an
										influencer similar to<span class="text-danger"> *</span>
									</label> <input type="text" id="comparisonProfile"
										name="comparisonProfile" required="required"
										autocomplete="new-password" class="form-control"
										placeholder="Add Comparison Profile">
								</div>
								<div class="md-form col-md-4 pl-0">
									<label for="audienceIndustry" class="active">Audience
										Industry<span class="text-danger"> *</span>
									</label> <select required="required" id="audienceIndustry"
										class="mdb-select form-control">
										<option value="">Select Industry</option>
										<th:block th:each="industry : ${industries}">
											<option th:text="${industry}" th:value="${industry}"></option>
										</th:block>
									</select>
								</div>
								<div class="md-form col-md-4 pl-0">
									<label for="audienceLocation">Audience Location<span
										class="text-danger"> *</span></label> <input type="text"
										class="form-control" id="audienceLocation"
										autocomplete="new-password" data-provide="typeahead"
										placeholder="Enter Location">
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-4 pl-0">
									<div class="slider-main">
										<div class="slider-label">
											<label class="label">Number of Followers</label>
										</div>
										<b class="slider-left">5K</b> <input id="followers"
											class="border-0" data-slider-min="5000" data-slider-step=1000
											data-slider-max="1000000" data-slider-value="[10000,250000]"
											data-slider-tooltip="always"
											data-slider-tooltip-position="bottom" /><b
											class="slider-right">1M</b>
									</div>
								</div>
								<div class="md-form col-md-4 p-0">
									<label for="audience-age" class="active">Audience Age
										Range </label>
									<div class="row">
										<div class="col-sm-5 pl-0">
											<select id="audienceAgeFrom" name="audienceAgeFrom"
												class="mdb-select form-control">
												<option value="">From</option>
												<option value="13-17">13</option>
												<option value="18-24">18</option>
												<option value="25-34">25</option>
												<option value="35-44">35</option>
												<option value="45-64">45</option>
												<option value="65+">65</option>
											</select>
										</div>
										<div class="col-sm-5 pl-0">
											<select id="audienceAgeTo" name="audienceAgeTo"
												class="mdb-select form-control">
												<option value="">To</option>
												<option value="18-24">18</option>
												<option value="25-34">25</option>
												<option value="35-44">35</option>
												<option value="45-64">45</option>
												<option value="65+">65+</option>
											</select>
										</div>
									</div>
								</div>
								<div class="md-form col-md-4 p-0">
									<label for="influencer-age" class="active">Influencer
										Age Range </label>
									<div class="row">
										<div class="col-sm-5 pl-0">
											<select id="influencerAgeFrom" name="influencerAgeFrom"
												class="mdb-select form-control">
												<option value="">From</option>
												<option value="18">18</option>
												<option value="25">25</option>
												<option value="35">35</option>
												<option value="45">45</option>
												<option value="65">65</option>
											</select>
										</div>
										<div class="col-sm-5 pl-0">
											<select id="influencerAgeTo" name="influencerAgeTo"
												class="mdb-select form-control">
												<option value="">To</option>
												<option value="25">25</option>
												<option value="35">35</option>
												<option value="45">45</option>
												<option value="85">65+</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-6 d-none">
									<label class="label">Choose Additional Platforms</label>
									<p>
										<span class="icons"><i class="fab fa-instagram fa-2x"></i>
										</span> <span class="icons"><i class="fab fa-twitter fa-2x"></i></span>
										<span class="icons"><i class="fab fa-youtube fa-2x"></i>
										</span> <span class="icons"><i class="fab fa-tiktok fa-2x"></i></span>
										<span class="icons"><i class="fab fa-pinterest fa-2x"></i></span>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 pl-0">
									<div class="slider-main">
										<div class="slider-label">
											<label class="label">Average Engagements</label>
										</div>
										<b class="slider-left">0</b> <input id="engagement"
											class="border-0" data-slider-min="0" data-slider-step=100
											data-slider-max="10000" data-slider-value="[0,10000]"
											data-slider-tooltip="always"
											data-slider-tooltip-position="bottom" /><b
											class="slider-right">10k</b>
									</div>
								</div>

								<div class="col-md-2 pl-0">
									<label for="audience-genders">Audience Gender</label>
									<div class="form-check p-0">
										<input name="audience-genders" role="genders" type="checkbox"
											value="MALE" onclick="onlyOne(this, 'audience-genders')"
											id="audience-male-gender"> <label
											class="form-check-label" for="audience-male-gender"
											style="font-size: 1rem;">Male</label>
									</div>
									<div class="form-check p-0 inline">
										<input name="audience-genders" class="form-check-input"
											role="genders" type="checkbox" value="FEMALE"
											onclick="onlyOne(this, 'audience-genders')"
											id="audience-female-gender"> <label
											class="form-check-label" for="audience-female-gender"
											style="font-size: 1rem;">Female</label>
									</div>
								</div>
								<div class="col-md-2 pl-0">
									<label for="influencer-genders">Influencer Gender</label>
									<div class="form-check p-0">
										<input name="influencer-genders" class="form-check-input"
											role="genders" type="checkbox" value="MALE"
											onclick="onlyOne(this, 'influencer-genders')"
											id="influencer-male-gender"> <label
											class="form-check-label" for="influencer-male-gender"
											style="font-size: 1rem;">Male</label>
									</div>
									<div class="col-sm p-0">
										<div class="form-check p-0">
											<input name="influencer-genders" class="form-check-input"
												role="genders" type="checkbox" value="FEMALE"
												onclick="onlyOne(this, 'influencer-genders')"
												id="influencer-female-gender"> <label
												class="form-check-label" for="influencer-female-gender"
												style="font-size: 1rem;">Female</label>
										</div>
									</div>
								</div>
							</div>
							<div class="row d-none">
								<div class="md-form col-md-6">
									<label for="influencerIndustry" class="active">Influencer
										Industry<span class="text-danger"> *</span>
									</label> <select required="required" id="influencerIndustry"
										class="mdb-select form-control" style="width: 50%;">
										<option value="">Select Industry</option>
										<th:block th:each="industry : ${industries}">
											<option th:text="${industry}" th:value="${industry}"></option>
										</th:block>
									</select>
								</div>
								<div class="md-form col-md-6">
									<label for="influencerLocation">Influencer Location<span
										class="text-danger"> *</span></label> <input type="text"
										id="influencerLocation" name="influencerLocation"
										required="required" class="form-control" style="width: 50%;"
										placeholder="Select Location">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<th:block th:insert="footer" />
	<script type="text/javascript" th:src="@{/static/js/datatables.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/js/bootstrap-slider.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/mselect.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/js/bootstrap3-typeahead.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/script/brand/promote.js}"></script>
	<script th:inline="javascript">
			var promoteMail=/*[[${promoteMail}]]*/;
			var profileDetails=/*[[${profileDetails}]]*/;
			var promoteViewCampaign=/*[[${promoteViewCampaign}]]*/;
	</script>
	<script>
		sendEvent = function(sel, step) {
			$(sel).trigger('next.m.' + step);
		}
	</script>
</body>
</html>