<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div id="sidebar-wrapper">
	<div class="clearfix">
		<a id="menu-toggle" href="#">
			<div class="container pull-right">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</div>
		</a>
	</div>
	<a th:href="@{#}"> <span class="logo h-auto"> <img id="logo"
			style="width: 45px; height: 45px; padding-right: 3.5px;"
			th:src="@{/static/img/new_Icon.png}">
	</span>
	</a>

	<!-- <div sec:authentication="userAuthentication.details"></div> -->
	<!-- If loading is required, Include class "openLoader to <a> tag" -->
	<ul class="sidebar-nav" id="sidebar">
		<li sec:authorize="hasAuthority('ROLE_BRAND_APPROVED')">
			<p class="m-0" style="color: #ffe5e5">
				Credit Balance<span th:if="${creditBalance!=null and #strings.length(creditBalance)==1}"
					class="sub_icon badge-pill credit-balance"
					style="cursor: default;margin-right: 7%;position: relative;" th:text="${creditBalance}"
					title="Credit Balance">NA</span>
					<span th:if="*{creditBalance!=null and #strings.length(creditBalance)==2}"
					class="sub_icon badge-pill credit-balance"
					style="cursor: default;margin-right: 5%;position: relative;" th:text="${creditBalance}"
					title="Credit Balance">NA</span>
					<span th:if="*{creditBalance!=null and #strings.length(creditBalance)==3}"
					class="sub_icon badge-pill credit-balance"
					style="cursor: default;margin-right: 3%;position: relative;" th:text="${creditBalance}"
					title="Credit Balance">NA</span>
					<span th:if="*{creditBalance!=null and #strings.length(creditBalance)==4}"
					class="sub_icon badge-pill credit-balance"
					style="cursor: default;margin-right: 1%;position: relative;" th:text="${creditBalance}"
					title="Credit Balance">NA</span>
					<span th:if="*{creditBalance!=null and #strings.length(creditBalance)==5}"
					class="sub_icon badge-pill credit-balance"
					style="cursor: default;margin-right: -1%;position: relative;" th:text="${creditBalance}"
					title="Credit Balance">NA</span>
					<span th:if="*{creditBalance!=null and #strings.length(creditBalance)==6}"
					class="sub_icon badge-pill credit-balance"
					style="cursor: default;margin-right: -2%;position: relative;font-size: 13px;" th:text="${creditBalance}"
					title="Credit Balance">NA</span>
					<span th:if="*{creditBalance!=null and #strings.length(creditBalance)==7}"
					class="sub_icon badge-pill credit-balance"
					style="cursor: default;margin-right: -1%;position: relative;font-size: 11px;" th:text="${creditBalance}"
					title="Credit Balance">NA</span>
			</p>
		</li>
		<!-- <li
			sec:authorize="hasAuthority('ROLE_BRAND_ENTERPRISE')&&!hasAuthority('ROLE_BRAND_FREE')">
			<p class="m-0 " title="Enterprise Edition">
				<span style="color: gold;">Enterprise Edition</span><span
					class="sub_icon"><i class="fas fa-crown gold"></i></span>
			</p>
		</li> -->

		<li sec:authorize="hasAuthority('ROLE_BRAND_APPROVED')"><a
			th:href="@{/brand/campaign}" class="waves-effect openLoader"
			th:classappend="${campaign}" title="Manage Campaigns">Manage
				Campaigns <span class="sub_icon "><i class="fas fa-bullhorn"></i></span>
		</a></li>

		<li sec:authorize="hasAuthority('ROLE_BRAND_APPROVED')"><a
			th:href="@{/brand/explore-influencers}"
			class="waves-effect openLoader" th:classappend="${explore}"
			title="Explore Influencers">Explore Influencers<span
				class="sub_icon "><i class="fas fa-search"></i></span>
		</a></li>

		<li sec:authorize="hasAuthority('ROLE_BRAND_APPROVED')"><a
			th:href="@{/brand/analytics}" class="waves-effect openLoader"
			th:classappend="${analytics}" title="Campaign Analytics">Campaign
				Analytics<span class="sub_icon "><i class="fas fa-chart-line"></i></span>
		</a></li>

		<li sec:authorize="!hasAuthority('ROLE_BRAND_FREE')"><a
			style="border-top: 2px solid gold; border-bottom: 2px solid gold;"
			th:href="@{/brand/sf-promote}" class="waves-effect openLoader"
			th:classappend="${promote}" title="Promote by SF">Promote by SF<span
				class="sub_icon "><i class="fas fa-universal-access"></i></span>
		</a></li>

		<li sec:authorize="hasAuthority('ROLE_BRAND_APPROVED')"><a
			th:href="@{/brand/settings}" class="waves-effect openLoader"
			th:classappend="${settings}" title="Settings">Settings <span
				class="sub_icon"><i class="fas fa-cog"></i></span>
		</a></li>

		<li sec:authorize="hasAuthority('ROLE_BRAND_APPROVED')"><a
			href="https://www.smartfluence.io/help/faq" target="_blank"
			class="waves-effect" title="Help">Help<span class="sub_icon"><i
					class="fas fa-question-circle"></i></span>
		</a></li>

		<!-- <li><a th:href="@{#}" class="waves-effect disabled"
			th:classappend="${contact}" title="Contact">Contact <span
				class="sub_icon "><i class="fas fa-phone"></i></span></a></li> -->

		<li><a th:href="@{/logout}" class="waves-effect openLoader"
			title="Logout">Logout <span class="sub_icon "><i
					class="fas fa-sign-out-alt"></i></span>
		</a></li>
	</ul>
</div>
</html>