<div class="col-12  row">
	<div class="col-xl col-lg-3 col-md-3 col-sm-6 my-3">
		<div class="card flat ">
			<div class="card-body">
				<div class="card-title f-08 text-center  m-0 mb-1">Total
					Engagement</div>
				<h4 class="text-center p-0 m-0 ">
					<span id="averageEngagementPost" data-decimal=true>-</span>
				</h4>
				<span class="pl-2 infoIcon"><i class="fas fa-info-circle"></i><span
					class="pl-2"><span class="projCostPerEngInfo">Total
							Engagement is the sum of all likes and comments received by posts
							that are added to a campaign.</span></span></span>
			</div>
		</div>
	</div>
	<div class="col-xl col-lg-3 col-md-3 col-sm-6 my-3">
		<div class="card flat ">
			<div class="card-body px-1">
				<div class="card-title f-08 text-center  m-0 mb-1">Total Likes</div>
				<h4 class="text-center p-0 m-0 ">
					<span id="totalLikes" data-decimal=true>-</span>
				</h4>
				<!-- <span class="pl-2 infoIcon"><i class="fas fa-info-circle"></i><span
					class="pl-2"><span class="projCostPerEngInfo">Engagement
							is the sum of the average likes and comments for a post.</span></span></span> -->
			</div>
		</div>
	</div>
	<div id="totalViewsTab" class="col-xl col-lg-3 col-md-3 col-sm-6 my-3 d-none">
		<div class="card flat ">
			<div class="card-body px-1">
				<div class="card-title f-08 text-center  m-0 mb-1">Total
					Views</div>
				<h4 class="text-center p-0 m-0 ">
					<span id="totalViews" data-decimal=true>-</span>
				</h4>
				<!-- <span class="pl-2 infoIcon"><i class="fas fa-info-circle"></i><span
					class="pl-2"><span class="last-info">This is the
							average cost per thousand followers of the influencer(s).</span></span></span> -->
			</div>
		</div>
	</div>
	<div class="col-xl col-lg-3 col-md-3 col-sm-6 my-3">
		<div class="card flat ">
			<div class="card-body px-1">
				<div class="card-title f-08 text-center  m-0 mb-1">Total
					Comments</div>
				<h4 class="text-center p-0 m-0 ">
					<span id="totalComments" data-decimal=true>-</span>
				</h4>
				<!-- <span class="pl-2 infoIcon"><i class="fas fa-info-circle"></i><span
					class="pl-2"><span class="last-info">This is the
							average cost per thousand followers of the influencer(s).</span></span></span> -->
			</div>
		</div>
	</div>
</div>