<div class=" card card-body tab-pane fade in show   "
	id="post-statistics" role="tabpanel">
	<div class="side-nav-container ">
		<div class="side-nav-wrapper ">
			<div class=" col-12 my-3 p-3 ">
				<div class="md-form mt-0">
					<select id="campaignPost" class="mdb-select " required="required"><option
							hidden>Select a Campaign</option>
						<th:block th:each="campaign : ${campaigns}">
							<option th:if="${campaign.isPromote} == false"
								th:value="${campaign.campaignId}"
								th:text="${campaign.campaignName}"></option>
						</th:block></select> <label for="campaignPost" class="active">Campaign</label>
					<div class="invalid-feedback"></div>
				</div>
				<div class="md-form">
					<select id="post-platform" class="mdb-select">
						<option value="" hidden="true">Select Platform</option>
					</select><label for="analytic-platform" class="active">Platform</label>
					<div class="invalid-feedback"></div>
				</div>
				<!-- <div class="md-form ">
					<div style="max-height: 90px; background: white;">
						<ul id="influencerPost" class="mb-0 pl-3"
							style="list-style: none;"></ul>
						<select id='influencerPost' multiple=multiple class="disabled">
					</select>
					<div class="invalid-feedback"></div>
					</div>
				</div> -->
				<div class="md-form" id="influencerPostParent">
					<select id='influencerPost' multiple=multiple></select>
					<div class="invalid-feedback"></div>
				</div>
			</div>
			<ul class="side-nav-panel" id="postAnalyticsNavPanel"
				style="width: 100%;">
				<li class="active side-nav-item" id="engagementNavLabel"><a
					href="#engagement" class="side-nav-link">Engagement</a></li>
			</ul>
		</div>
		<div class="side-nav-content">
			<div class="tab-pane fade in show card flat active" id="engagement">
				<div class="row py-3" style="height: 75vh">
					<div class="col-12 pb-2 row" style="top: -10px;">
						<th:block th:insert="Brand/PostStatisticsCard" />
					</div>
					<div style="top: 1%; margin: auto; position: relative;"
						class="btn-group" role="group">
						<button type="button" disabled
							class="btn postStat-btn btn-sm shadow-none" id="postengagement"
							onClick="processPostChart('#2f008d', '#2f008d', '#2f008d', '#2d9994', 'engagement')"
							style="border-radius: 20px 0px 0px 20px; color: #fff !important;">Engagement</button>
						<button type="button" disabled
							class="btn postStat-btn btn-sm shadow-none"
							onClick="processPostChart('#2d9994', '#2f008d', '#2f008d', '#2f008d', 'likes')"
							id="postlikes" style="color: #fff !important;">Likes</button>
						<button type="button" disabled
							class="btn postStat-btn btn-sm shadow-none d-none"
							onClick="processPostChart('#2f008d', '#2f008d', '#2d9994', '#2f008d', 'views')"
							id="postviews" style="color: #fff !important;">Views</button>
						<button type="button" disabled
							class="btn postStat-btn btn-sm shadow-none" id="postcomments"
							onClick="processPostChart('#2f008d', '#2d9994', '#2f008d', '#2f008d', 'comments')"
							style="border-radius: 0 20px 20px 0; color: #fff !important;">Comments</button>
					</div>
					<!-- <div class="col-12 row"
						style="position: relative; display: flex; top: 2%; z-index: 1;">
						<span style="text-align: center; width: 100%;">Total
							Engagement<span class="pl-2 totalEngagementInfoIcon"><i
								class="fas fa-info-circle"></i><span class="pl-2"><span
									class="totalEngagementInfo">Performance tracking of post
										begins from the time you submit a valid link.</span></span></span>
						</span>
					</div> -->
					<div class="col-12" style="height: 65%; top: -5px;">
						<div id="postStatisticsEngagement"
							style="width: 100%; height: 100%; display: block;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>