<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Smartfluence | Influencer Management</title>
<th:block th:insert="header" />
<link rel="stylesheet" th:href="@{/static/css/datatables.min.css}">
<link rel="stylesheet"
	th:href="@{/static/css/select.dataTables.min.css}">
</head>
<body>
	<div id="wrapper" class="">
		<th:block th:insert="Brand/NavPanel" />
		<div id="page-content-wrapper">
			<div class="container-wrapper">
				<!-- Nav tabs -->
				<div class="tabs-wrapper">
					<div class="row" style="float: right; padding-right: 20px">
						<span> <a href="/brand/sf-promote"
							class="btn btn-primary btn-sm m-0 waves-effect waves-light">Back
								To Promote</a>
						</span>
					</div>
					<div class="row" style="float: right; padding-right: 20px">
						<h5 th:text="${promoteViewCampaign.campaignName}"></h5>
					</div>
					<ul class="nav classic-tabs tabs-red" role="tablist">
						<li class="nav-item"><a class="nav-link waves-light active"
							data-toggle="tab" href="#influencer_management" role="tab">Influencer
								Management</a></li>
					</ul>
				</div>
				<!-- Tab panels -->
				<div class="tab-content card">
					<div class="tab-pane fade in show active"
						id="influencer_management" role="tabpanel">
						<!--<h5> Approval</h5>-->
						<div class="clearfix">
							<table id="influencerManagement"
								class="table table-sm table-striped table-hover">
								<thead class="text-primary">
									<tr>
										<th>Influencer</th>
										<th>Followers</th>
										<th>Engagement Rate</th>
										<th></th>
										<th>Status</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									<th:block
										th:each="promoteInfluencer : ${promoteViewInfluencers}">
										<tr>
											<td><a><span
													th:text="${promoteInfluencer.influencerName}"></span></a><a
												style="float: right; color: #2f008d; font-size: 1.2rem;"
												th:href="${promoteInfluencer.url}" target="_blank"><i
													class="fab fa-instagram"></i></a></td>
											<td th:data-sort="${promoteInfluencer.followers}"
												th:text="|${T(io.smartfluence.util.ThymeUtils).formatNumber(promoteInfluencer.followers)}|"></td>
											<td th:data-sort="${promoteInfluencer.engagementScore}"
												th:text="|${T(io.smartfluence.util.ThymeUtils).formatNumber(promoteInfluencer.engagementScore * 100)}| + '%'"></td>
											<td><a target="_blank">
													<button
														th:onclick="|viewInfluencerAnalytics('${promoteInfluencer.key.influencerDeepSocialId}','${promoteInfluencer.influencerSfId}')|"
														class="btn btn-primary btn-sm m-0 waves-effect waves-light">View
														Full Analytics</button>
											</a></td>
											<td th:text="${promoteInfluencer.status}"></td>
											<td><button
													th:if="${promoteInfluencer.status} == 'PENDING'"
													th:id="'influencerApproveBth'+${promoteInfluencer.key.influencerDeepSocialId}"
													th:onclick="|approveInfluencer('${promoteViewCampaign.campaignId}','${promoteInfluencer.key.influencerDeepSocialId}','approved')|"
													class="btn btn-primary btn-sm m-0 waves-effect waves-light">Approve</button>
												<button th:if="${promoteInfluencer.status} != 'REJECTED'"
													th:id="'influencerRejectBth'+${promoteInfluencer.key.influencerDeepSocialId}"
													th:onclick="|rejectInfluencer('${promoteViewCampaign.campaignId}','${promoteInfluencer.key.influencerDeepSocialId}','rejected')|"
													class="btn btn-primary btn-sm m-0 waves-effect waves-light">Reject</button>
												<div th:if="${promoteInfluencer.status} == 'REJECTED'"
													style="margin-left: 12%; margin-top: 2%;"
													title="Remove From Campaign">
													<a
														th:onclick="|removeInfluencer('${promoteViewCampaign.campaignId}','${promoteInfluencer.key.influencerDeepSocialId}','removed')|"><i
														class="fas fa-user-times"></i></a>
												</div></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:insert="footer" />
	<script type="text/javascript" th:src="@{/static/js/datatables.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/js/dataTables.checkboxes.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/moment.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/js/moment-timezone.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/js/bootstrap-slider.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/js/bootstrap3-typeahead.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/script/brand/promote.js}"></script>
</body>
</html>