<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Smartfluence | Campaign Management</title>
<th:block th:insert="header" />
<link rel="stylesheet" th:href="@{/static/css/datatables.min.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
	<div id="wrapper" class="">
		<th:block th:insert="Brand/NavPanel" />
		<div id="page-content-wrapper">
			<div class="container-wrapper">
				<!-- Nav tabs -->
				<div class="tabs-wrapper">
					<ul class="nav classic-tabs tabs-red" role="tablist">
						<li class="nav-item"><a class="nav-link waves-light active"
							data-toggle="tab" href="#promote_sf" role="tab">Promote by SF</a></li>
					</ul>
				</div>
				<!-- Tab panels -->
				<div class="tab-content card">

					<div class="tab-pane fade in show active" id="promote_sf"
						role="tabpanel">
						<a href="/brand/sf-promote/new-campaign"
							class="btn btn-primary btn-sm m-0 waves-effect waves-light"
							style="float: right;">New Promote</a>
						<div class="clearfix">
							<table id="promoteHome"
								class="table table-sm table-striped table-hover">
								<thead class="text-primary">
									<tr>
										<th width="20%">Campaign</th>
										<th width="10%">Active Until</th>
										<th width="15%" data-orderable="false">Listing Details</th>
										<th width="20%">Influencer Management</th>
										<th>Campaign Status</th>
										<th width="15%" data-orderable="false">Action</th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="promoteCampaign : ${promoteCampaigns}">
										<tr>
											<td th:text="${promoteCampaign.campaignName}"></td>
											<td th:text="${promoteCampaign.activeUntil}"></td>
											<td width="20%"><a
												th:href="'/brand/sf-promote/'+${promoteCampaign.campaignId}+'/manage-campaign/view'"><button
														class="btn btn-sm btn-primary">view</button></a><a
												th:href="'/brand/sf-promote/'+${promoteCampaign.campaignId}+'/manage-campaign/edit'"><button
														class="btn btn-sm btn-primary">Edit</button></a></td>
											<td th:if="${promoteCampaign.pendingApproval}  == 'NO'"><a
												th:href="'/brand/sf-promote/'+${promoteCampaign.campaignId}+'/get-influencers'"><button
														th:text="${promoteCampaign.pendingApproval} + ' requests'"
														class="btn btn-sm btn-primary"></button></a></td>
											<td th:if="${promoteCampaign.pendingApproval}  != 'NO'"><a
												th:href="'/brand/sf-promote/'+${promoteCampaign.campaignId}+'/get-influencers'"><button
														th:text="${promoteCampaign.pendingApproval} + ' requests'"
														style="background-color: #d3b5e5;" class="btn btn-sm"></button></a></td>
											<td th:text="${promoteCampaign.campaignStatus}"></td>
											<td th:if="${promoteCampaign.campaignStatus}  == 'NEW'"><button
													th:id="'promoteCampaignStartBth'+${promoteCampaign.campaignId}"
													th:onclick="|processCampaign('${promoteCampaign.campaignId}','start')|"
													class="btn btn-sm btn-primary">Start Campaign</button></td>
											<td th:if="${promoteCampaign.campaignStatus} == 'INPROGRESS'"><button
													th:id="'promoteCampaignPauseBth'+${promoteCampaign.campaignId}"
													th:onclick="|processCampaign('${promoteCampaign.campaignId}','paused')|"
													class="btn btn-sm btn-primary">Pause Campaign</button></td>
											<td th:if="${promoteCampaign.campaignStatus} == 'PAUSED'"><button
													th:id="'promoteCampaignResumeBth'+${promoteCampaign.campaignId}"
													th:onclick="|processCampaign('${promoteCampaign.campaignId}','resumed')|"
													class="btn btn-sm btn-primary">Resume Campaign</button></td>
											<td th:if="${promoteCampaign.campaignStatus} == 'CLOSED'"><button
													class="btn btn-sm btn-primary" disabled="disabled">Campaign
													Closed</button></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:insert="footer" />
	<script type="text/javascript" th:src="@{/static/js/datatables.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/js/bootstrap-slider.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/mselect.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/js/bootstrap3-typeahead.min.js}"></script>
	<script th:inline="javascript">
		var promotes = /*[[${promoteCampaigns}]]*/;
	</script>
	<script type="text/javascript"
		th:src="@{/static/script/brand/promote.js}"></script>
</body>
</html>