<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:a="http://www.w3.org/1999/xhtml">

<head>
	<title>Smartfluence | Campaign Management</title>

	<link rel="stylesheet" th:href="@{/static/xss/datatables.min.css}">
</head>


<body>
	<div class="container-wrapper pl-0">

		<div class="tab-content card mt-4">
			<div class="tab-pane fade in show active" id="general" role="tabpanel">
				<div class="clearfix">
					<table id="table_campaign_review" class="table table-sm table_campaign table-hover display">
						<thead>
							<tr class="text-primary table-header">
								<th>
									<input name="select_all" value="1" type="checkbox">
								</th>
								<th>Influencer</th>
								<th style="text-align:center">Offer</th>
								<th style="padding-left:30px;text-align:center">Products</th>
								<th style="padding-left:30px;text-align:center">Delivarables</th>
								<th style="padding-left:30px;text-align:center">Shipping Address</th>
								<th></th>
								<!-- <th>Product Only</th>
										<th>Status</th> -->
								<th style="text-align:center">Actions</th>
							</tr>
						</thead>

						<tbody>
							<th:block>
								<tr>
									<td></td>

									<td style="width:12%"> 
									</td>
									<td style="width:15%;text-align:center">
										<div style="text-align:center"><span>$50 Upfront</span></div>
										<div style="text-align:center"><span>$75 Upon Completion</span></div>
									</td>

									<td style='width:15%;text-align:center'>
										<div>View Selected
											Products</div>
									</td>

									<td style='width:20%;padding-left:30px;text-align:center'>
										1.Instagram Feed Post
										1.TikTok Post
									</td>
									<td style="width:20%;text-align:center">
										39/40 MilkyWay Drive
										Florida 600091
										United States
									</td>
									<td></td>
									<td style="text-align:center"><span class="px-3 theme"> <i
												class="far fa-times-circle"></i></span></td>
								</tr>

							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>



</body>
<script type="text/javascript" th:src="@{/static/script/brand/reviewProposalTable.js}"></script>
<script>
	var name ="dummy"
	var getReviewProposalData = {};
	$(document).ready(function () {
		var request = $.ajax({
			url: "/brand/view-campaign-v1/view-influencers?id=1919b2e4-83c8-4c03-b756-f9f89ed77c97&proposalStatus=INFLUENCER_ACCEPTED",
			type: "GET",
			// data: JSON.stringify(postData),
			dataType: "json",
			contentType: "application/json",
		}).done(function (data) {
			getReviewProposalData = data;
			console.log("get data ; ", getReviewProposalData)
		}).fail(function (jqXHR, textStatus) {
			// alert("Request failed: ", jqXHR);
			console.log(jqXHR)

			toast("Request Failed " + textStatus, "error")
		});
	})





</script>

</html>