<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{brand.ExploreInfluencer.title}"></title>
    <th:block th:insert="header"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap-slider.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/mselect.css}">
    <style type="text/css">
            .reveal-name {
            position: absolute;
            top: 2em;
            right: 2em;
            padding-left: 2em !important;
            padding-right: 2em !important;
            }
            .m-progress-bar {
            min-height: 1em;
            background: #c12d2d;
            width: 5%;
            }
            #audienceCard, #influencerCard {
            margin-bottom: 8px;
            padding-bottom: 15px;
            }
            .campaignName{
            font-size:12px;
            }
            .number{
            font-size:12px;
            }
            .check input{
            position: absolute;
            left:0px;
            visibility: visible;
            right:0px;
            transform: translateX(42px);
            }
            .relative{
            position:relative;
            }
            .form-check.check {
            position: absolute;
            top: 12px;
            right: 30px;
            z-index: 999;
            }

    </style>
</head>
<body>
<th:block th:insert="tawk.html"/>
<!-- <div class="modal fade" id="validationPopup" tabindex="-1"
    role="dialog" style="top: 12%;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary tect-center">Mandatory
                    field required!</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="validationMessage" style="color: red;"></div>
            </div>
        </div>
    </div>
    </div> -->
<div id="wrapper" class="">
    <th:block th:insert="Brand/NavPanel"/>
    <!-- Page content -->
    <div id="page-content-wrapper"
         sec:authorize="hasAuthority('ROLE_BRAND_PENDING')">
        <th:block th:insert="loader"/>
        <div class="container-wrapper">
            <div class="explore-gradient">
                <div class="position-fixed mr-3">
                    <th:block th:insert="Brand/ApprovalStatus"/>
                </div>
            </div>
        </div>
    </div>
    <div id="page-content-wrapper"
         sec:authorize="hasAuthority('ROLE_BRAND_DECLINED')">
        <th:block th:insert="loader"/>
        <div class="container-wrapper">
            <div class="explore-gradient">
                <div class="position-fixed mr-3">
                    <th:block th:insert="Brand/DeclineStatus"/>
                </div>
            </div>
        </div>
    </div>
    <div id="page-content-wrapper"
         sec:authorize="hasAuthority('ROLE_BRAND_APPROVED')">
        <th:block th:insert="loader"/>
        <div class="container-wrapper ">
            <div class="explore-gradient"></div>
            <div class="needs-validation explore-form">
                <div class="card z-depth-1-half mr-3 explore-card">
                    <div class="card-body pt-0 container-fluid">
                        <!-- Audience  -->
                        <div id="audienceCard">
                            <div class="slide-explore-Influencer mt-1 expand" style="max-height:170px !important; overflow:visible">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="p-0">
                                            <div class="md-form pt-0">
                                                <label for="search-platform" class="active">Platform
                                                </label>
                                                <select id="search-platform" name="search-platform"
                                                        th:with="dashCount=5" class="mdb-select form-control">
                                                    <option value="instagram">Instagram</option>
                                                    <option value="youtube">YouTube</option>
                                                    <option value="tiktok">TikTok</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="insta-industry" class="col-md-3">
                                        <div class="p-0">
                                            <div class="md-form pt-0">
                                                <label for="industry" class="active">
                                                    <th:block
                                                            th:text="#{brand.ExploreInfluencer.industry2}"/>
                                                </label>
                                                <select required="required" id="industry"
                                                        class="mdb-select form-control">
                                                    <option value="">Select Industry</option>
                                                    <th:block th:each="industry : ${industries}">
                                                        <option th:text="${industry}" th:value="${industry}"></option>
                                                    </th:block>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="youtube-keyword" class="col-md-3 d-none">
                                        <div class="p-0">
                                            <div class="md-form pt-0">
                                                <label for="industry" class="active">Search Keywords
                                                </label> <input type="text" class="form-control" id="videoKeyword"
                                                                placeholder="Enter Video Keywords">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="p-0">
                                            <div class="md-form pt-0">
                                                <label for="comparisonProfile" class="active"><span>I
                                                        am looking for an Influencer similar to</span> <span
                                                        id="comparisonProfileRequired" class="text-danger d-none">
                                                        *</span></label> <input type="text" class="form-control"
                                                                                autocomplete="new-password"
                                                                                id="comparisonProfile"
                                                                                data-provide="typeahead"
                                                                                placeholder="Enter Comparison Profile">
                                                <span
                                                        class="top-influencer d-none"
                                                        style="position: absolute; top: 0%; right: 0%; padding: 1rem;"><a
                                                        target="_blank" id="influencerInstagramLink" class="d-none"><i
                                                        class="fab fa-instagram fa-lg"></i></a> <a target="_blank"
                                                                                                   id="influencerYoutubeLink"
                                                                                                   class="d-none"><i
                                                        class="fab fa-youtube fa-lg"></i></a> <a target="_blank"
                                                                                                 id="influencerTiktokLink"
                                                                                                 class="d-none"><img
                                                        style="width: 18px; height: 18px; margin-bottom: 5px;"
                                                        th:src="@{/static/svgs/brands/tiktok.svg}"></a></span>
                                                <div class="invalid-feedback"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3" style="margin-top: 4px;">
                                        <div class="p-0">
                                            <label style="color: #757575; font-size: .8rem;">Add
                                                More Filters</label>
                                        </div>
                                        <button onclick="audienceCard()"
                                                class="btn btn-primary btn-sm m-0  waves-effect waves-light">Audience
                                        </button>
                                        <button onclick="influencerCard()"
                                                class="btn btn-secondary btn-sm m-0  waves-effect waves-light">
                                            Influencer
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="slide-explore-Influencer mt-1 expand">
                                <div class="row ">
                                    <div class="col-md-3">
                                        <div class="col-sm p-0">
                                            <div class="md-form pt-0">
                                                <label for="audience-location" class="active">Audience
                                                    Location </label> <input type="text" autocomplete="new-password"
                                                                             class="form-control" id="audience-location"
                                                                             data-provide="typeahead"
                                                                             placeholder="Enter Location">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="col-sm p-0">
                                            <div class="md-form pt-0">
                                                <label for="audience-age" class="active">Audience
                                                    Age Range</label>
                                                <div class="row">
                                                    <div class="col-sm-6 pl-0">
                                                        <select id="audienceAgeFrom" name="audienceAgeFrom"
                                                                class="mdb-select form-control">
                                                            <option value="">From</option>
                                                            <option value="13-17">13</option>
                                                            <option value="18-24">18</option>
                                                            <option value="25-34">25</option>
                                                            <option value="35-44">35</option>
                                                            <option value="45-64">45</option>
                                                            <option value="65+">65</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6 pl-0">
                                                        <select id="audienceAgeTo" name="audienceAgeTo"
                                                                class="mdb-select form-control">
                                                            <option value="">To</option>
                                                            <option value="18-24">18</option>
                                                            <option value="25-34">25</option>
                                                            <option value="35-44">35</option>
                                                            <option value="45-64">45</option>
                                                            <option value="65+">65+</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="p-0">
                                            <div class="md-form pt-0">
                                                <label for="hashTag" class="active">Hashtag Search</label>
                                                <input type="text" class="form-control" id="hashTag"
                                                       placeholder="Enter Hash Tag">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-sm p-0">
                                                <div class="md-form pt-0">
                                                    <label class="active">Audience Gender</label>
                                                    <div class="row">
                                                        <div class="col-sm p-0">
                                                            <div class="form-check p-0">
                                                                <input name="audience-genders" class="form-check-input"
                                                                       role="genders" type="checkbox" value="MALE"
                                                                       onclick="onlyOne(this, 'audience-genders')"
                                                                       id="audience-male-gender"> <label
                                                                    class="form-check-label" for="audience-male-gender"
                                                                    style="font-size: 0.9rem;">Male</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm p-0">
                                                            <div class="form-check p-0">
                                                                <input name="audience-genders" class="form-check-input"
                                                                       role="genders" type="checkbox" value="FEMALE"
                                                                       onclick="onlyOne(this, 'audience-genders')"
                                                                       id="audience-female-gender"> <label
                                                                    class="form-check-label"
                                                                    for="audience-female-gender"
                                                                    style="font-size: 0.9rem;">Female</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-sm p-0 row">
                                        <div class="col-sm">
                                            <div class="slider-main">
                                                <div class="slider-label">
                                                    <label class="label">Number of Followers</label>
                                                </div>
                                                <b class="slider-left">0</b> <input id="followers"
                                                                                    class="border-0" data-slider-min="0"
                                                                                    data-slider-step=1000
                                                                                    data-slider-max="5000000"
                                                                                    data-slider-value="[10000,1000000]"
                                                                                    data-slider-tooltip="always"
                                                                                    data-slider-tooltip-position="bottom"/><b
                                                    class="slider-right">5M</b>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="slider-main">
                                                <div class="slider-label">
                                                    <label class="label">Average Engagements</label>
                                                </div>
                                                <b class="slider-left">0</b> <input id="engagement"
                                                                                    class="border-0" data-slider-min="0"
                                                                                    data-slider-step=100
                                                                                    data-slider-max="10000"
                                                                                    data-slider-value="[0,10000]"
                                                                                    data-slider-tooltip="always"
                                                                                    data-slider-tooltip-position="bottom"/><b
                                                    class="slider-right">10k</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Influencer -->
                        <div id="influencerCard" class="d-none">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="p-0">
                                        <div class="md-form pt-0">
                                            <label for="influencer-location" class="active">Influencer
                                                Location </label> <input type="text" autocomplete="new-password"
                                                                         class="form-control" id="influencer-location"
                                                                         data-provide="typeahead"
                                                                         placeholder="Enter Location">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="col-sm p-0">
                                        <div class="md-form pt-0">
                                            <label for="influencer-age" class="active">Influencer
                                                Age Range</label>
                                            <div class="row">
                                                <div class="col-sm-6 pl-0">
                                                    <select id="influencerAgeFrom" name="influencerAgeFrom"
                                                            class="mdb-select form-control">
                                                        <option value="">From</option>
                                                        <option value="18">18</option>
                                                        <option value="25">25</option>
                                                        <option value="35">35</option>
                                                        <option value="45">45</option>
                                                        <option value="65">65</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-6 pl-0">
                                                    <select id="influencerAgeTo" name="influencerAgeTo"
                                                            class="mdb-select form-control">
                                                        <option value="">To</option>
                                                        <option value="25">25</option>
                                                        <option value="35">35</option>
                                                        <option value="45">45</option>
                                                        <option value="85">65+</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="p-0">
                                        <div class="md-form pt-0">
                                            <label class="active">Influencer Gender</label>
                                            <div class="row">
                                                <div class="col-sm p-0">
                                                    <div class="form-check p-0">
                                                        <input name="influencer-genders" class="form-check-input"
                                                               role="genders" type="checkbox" value="MALE"
                                                               onclick="onlyOne(this, 'influencer-genders')"
                                                               id="influencer-male-gender"> <label
                                                            class="form-check-label" for="influencer-male-gender"
                                                            style="font-size: 0.9rem;">Male</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm p-0">
                                                    <div class="form-check p-0">
                                                        <input name="influencer-genders" class="form-check-input"
                                                               role="genders" type="checkbox" value="FEMALE"
                                                               onclick="onlyOne(this, 'influencer-genders')"
                                                               id="influencer-female-gender"> <label
                                                            class="form-check-label" for="influencer-female-gender"
                                                            style="font-size: 0.9rem;">Female</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 " style="margin-top: 0.2cm;">
                                    <div class="p-0">
                                        <label style="color: #757575; font-size: .8rem;">Back
                                            to Audience Filter</label>
                                    </div>
                                    <button onclick="audienceCard()"
                                            class="btn btn-secondary btn-sm m-0  waves-effect waves-light ">Audience
                                    </button>
                                    <button onclick="influencerCard()"
                                            class="btn btn-primary btn-sm m-0  waves-effect waves-light">Influencer
                                    </button>
                                </div>
                            </div>
                            <div class="slide-explore-Influencer mt-1 expand">
                                <div class="row" style="margin-bottom: 1em;">
                                    <div class="col-md-3">
                                        <div class="p-0">
                                            <div class="md-form pt-0">
                                                <label for="with-contact" class="active">Has Other
                                                    Social Media Platforms?</label>
                                                <select id="with-contact"
                                                        name="with-contact"
                                                        th:with="dashCount=5"
                                                        class="mdb-select form-control">
                                                    <option value="">Select Platforms</option>
                                                    <option value="facebook">Facebook</option>
                                                    <option value="pinterest">Pinterest</option>
                                                    <option value="snapchat">Snapchat</option>
                                                    <option value="tiktok">TikTok</option>
                                                    <option value="twitter">Twitter</option>
                                                    <option value="youtube">YouTube</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="p-0">
                                            <div class="md-form pt-0">
                                                <label for="bioText" class="active">Bio Text</label> <input
                                                    type="text" class="form-control" id="bioText"
                                                    placeholder="Enter Bio Text">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="insta-sponsored-posts" class="col-md-3">
                                        <div class="p-0">
                                            <div class="md-form pt-0">
                                                <input class="form-check-input" type="checkbox"
                                                       id="sponsoredPosts"> <label
                                                    class="form-check-label" for="sponsoredPosts">Has
                                                Sponsored Posts?</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="p-0">
                                            <div class="md-form pt-0">
                                                <input class="form-check-input" type="checkbox"
                                                       id="isVerified"> <label class="form-check-label"
                                                                               for="isVerified">Is Verified?</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="col-sm row">
                                    <div class="cur-pointer position-absolute"
                                         style="left: 0; bottom: 0;">
                                        <a href="#searchInfluencerModal" data-toggle="modal">Looking
                                            for a specific influencer?</a>
                                    </div>
                                    <div
                                            style="display: flex; justify-content: center; width: 100%;">
                                        <button type="submit" id="search" name="search"
                                                class="btn btn-primary btn-sm m-0  waves-effect waves-light">
                                            Search
                                            <svg id="searchLoading" style="color: black;"
                                                 class="svg-inline--fa fa-sync-alt fa-w-16 fa-spin d-none"
                                                 aria-hidden="true" data-prefix="fas" data-icon="sync-alt"
                                                 role="img" xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 0 512 512" data-fa-i2svg="">
                                                <path fill="currentColor"
                                                      d="M370.72 133.28C339.458 104.008 298.888 87.962 255.848 88c-77.458.068-144.328 53.178-162.791 126.85-1.344 5.363-6.122 9.15-11.651 9.15H24.103c-7.498 0-13.194-6.807-11.807-14.176C33.933 94.924 134.813 8 256 8c66.448 0 126.791 26.136 171.315 68.685L463.03 40.97C478.149 25.851 504 36.559 504 57.941V192c0 13.255-10.745 24-24 24H345.941c-21.382 0-32.09-25.851-16.971-40.971l41.75-41.749zM32 296h134.059c21.382 0 32.09 25.851 16.971 40.971l-41.75 41.75c31.262 29.273 71.835 45.319 114.876 45.28 77.418-.07 144.315-53.144 162.787-126.849 1.344-5.363 6.122-9.15 11.651-9.15h57.304c7.498 0 13.194 6.807 11.807 14.176C478.067 417.076 377.187 504 256 504c-66.448 0-126.791-26.136-171.315-68.685L48.97 471.03C33.851 486.149 8 475.441 8 454.059V320c0-13.255 10.745-24 24-24z">
                                                </path>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="position-absolute"
                                         style="right: 7.2cm; bottom: auto">
                                        <div class="row">
                                            <button onclick="resetForms()"
                                                    class="btn btn-primary btn-sm m-0  waves-effect waves-light">Reset
                                            </button>
                                        </div>
                                    </div>
                                    <div class="position-absolute"
                                         style="right: 0.5cm; bottom: -0.2cm;">
                                        <div class="row">
                                            <div class="md-form col-sm-4 pt-0">
                                                <label for="sortBy">Sort By :</label>
                                            </div>
                                            <div class="md-form col-sm-8 pt-0 pl-0">
                                                <select name="sortBy" id="sortBy"
                                                        class="mdb-select form-control" style="width: auto;">
                                                    <option value="engagement_rate">Engagement Rate</option>
                                                    <option value="followers">Followers</option>
                                                    <option value="audience_relevance">Audience
                                                        Similarity
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="position-absolute"
                                         style="right: -67%; bottom: -80%; width: 90%;">
                                        <div class="row">
                                            <div class="md-form col-sm-4 pt-0">
                                                        <span style="margin-left: 81px; color: #2f008d;"
                                                              id="total-result"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="view-filter cur-pointer slide-anim">
                            <span class="arrow"><span></span><span></span></span>
                        </div>
                    </div>
                </div>
            
                <div class="card z-depth-1-half mr-3 explore-card " style="margin-top:15px;">
                    <div class="card-body pt-0 container-fluid">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="cur-pointer mt-4"
                                     style="left: 0; bottom: 0;">
                                    <!--                                    <a href="#searchInfluencerModal" data-toggle="modal">Select one or more-->
                                    <!--                                        influncers to Add to Campaign</a>-->
                                    <span>Select one or more influencers to Add to Campaign</span>
                                </div>
                                <div class="influencerCount" id="devel-generate-content-form"
                                     style="left: 0; bottom: 0;">
                                    <div><span id="total">0</span> influencer selected</div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="md-form pt-0">
                                    <label for="campName" class="active"
                                           style="padding-right:120px; font-size: 16px; margin-top: 6px; color:black;"> Campaign
                                        Name</label>
                                    <select required id="campName" class="mdb-select form-control"
                                            style="font-size: 15px; padding:0px;">
                                        <option value="">Select Campaign Name</option>
                                        <th:block th:each="newCampaignName : ${allActiveCampaigns}">
                                            <option th:text="${newCampaignName.campaign_name}"
                                                    th:value="${newCampaignName.campaign_id}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="text-danger" id="invalidCampaign"></div>
                                <div class="text-danger" id="disabledError"></div>
                            </div>
                            <div class=" submit-bid">
                                <button class="btn btn-primary btn-sm m-0  waves-effect waves-light"
                                        id="addtocampbutton" onclick="addProfilestoCampaign()">
                                    Add to Campaign &nbsp;
                                
                                    <svg id="buttonLoading" style="color: black;"
                                         class="svg-inline--fa fa-sync-alt fa-w-16 fa-spin d-none"
                                         aria-hidden="true" data-prefix="fas" data-icon="sync-alt"
                                         role="img" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 512 512" data-fa-i2svg="">
                                        <path fill="currentColor"
                                              d="M370.72 133.28C339.458 104.008 298.888 87.962 255.848 88c-77.458.068-144.328 53.178-162.791 126.85-1.344 5.363-6.122 9.15-11.651 9.15H24.103c-7.498 0-13.194-6.807-11.807-14.176C33.933 94.924 134.813 8 256 8c66.448 0 126.791 26.136 171.315 68.685L463.03 40.97C478.149 25.851 504 36.559 504 57.941V192c0 13.255-10.745 24-24 24H345.941c-21.382 0-32.09-25.851-16.971-40.971l41.75-41.749zM32 296h134.059c21.382 0 32.09 25.851 16.971 40.971l-41.75 41.75c31.262 29.273 71.835 45.319 114.876 45.28 77.418-.07 144.315-53.144 162.787-126.849 1.344-5.363 6.122-9.15 11.651-9.15h57.304c7.498 0 13.194 6.807 11.807 14.176C478.067 417.076 377.187 504 256 504c-66.448 0-126.791-26.136-171.315-68.685L48.97 471.03C33.851 486.149 8 475.441 8 454.059V320c0-13.255 10.745-24 24-24z">
                                        </path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            <section id="dataSection">
            </section>
            <div class="btn btn-outline-primary btn-sm  waves-effect waves-light  d-none mx-auto text-center search-more">
                <div class="d-none" id="showMoreInfluencers">
                    Show more results <i id="showMoreArrow" class="fas fa-caret-down"></i></span>
                    <svg id="showMoreLoading" style="color: #2f008d;"
                         class="svg-inline--fa fa-sync-alt fa-w-16 fa-spin d-none"
                         aria-hidden="true" data-prefix="fas" data-icon="sync-alt"
                         role="img" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 512 512" data-fa-i2svg="">
                        <path fill="currentColor"
                              d="M370.72 133.28C339.458 104.008 298.888 87.962 255.848 88c-77.458.068-144.328 53.178-162.791 126.85-1.344 5.363-6.122 9.15-11.651 9.15H24.103c-7.498 0-13.194-6.807-11.807-14.176C33.933 94.924 134.813 8 256 8c66.448 0 126.791 26.136 171.315 68.685L463.03 40.97C478.149 25.851 504 36.559 504 57.941V192c0 13.255-10.745 24-24 24H345.941c-21.382 0-32.09-25.851-16.971-40.971l41.75-41.749zM32 296h134.059c21.382 0 32.09 25.851 16.971 40.971l-41.75 41.75c31.262 29.273 71.835 45.319 114.876 45.28 77.418-.07 144.315-53.144 162.787-126.849 1.344-5.363 6.122-9.15 11.651-9.15h57.304c7.498 0 13.194 6.807 11.807 14.176C478.067 417.076 377.187 504 256 504c-66.448 0-126.791-26.136-171.315-68.685L48.97 471.03C33.851 486.149 8 475.441 8 454.059V320c0-13.255 10.745-24 24-24z">
                        </path>
                    </svg>
                </div>
                <label class="m-0 d-none">No more results</label>
            </div>
            <div class="d-none hidden-content">
                <div class="col-lg-4">
                    <div class="profile" style="margin-right:10px">
                        <a class="btn btn-sm btn-primary reveal-name">Reveal handle</a>
                        <div class="relative">
                            <div>
                                <div class="card p-3 mt-3 influencer-card">
                                    <div class="row py-1 " style="color: initial;">
                                        <div class="col-sm-3 my-auto p-0 w-100 text-center">
                                            <img class="profile__link profile__image cursorPointer" height="80" width="80"
                                                 onerror="this.src='/static/img/avatar.png'" src="">
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="row" style="justify-content: space-between;">
                                                <h6 class="profile__full_name profile__link cursorPointer blurred-name" style="color:#2f008d"></h6>
                                            </div>
                                            <div class="campaignName">
                                                Engagement Rate: <span class="profile__engagement_score number"></span>
                                            </div>
                                            <div class="campaignName">
                                                Followers: <span class="profile__followers number"></span>
                                            </div>
                                            <div id="audienceAuthenticity" class="campaignName">
                                                Audience Authenticity: <span
                                                    class="profile__audience_check number"></span>
                                            </div>
                                            <div id="avgViews" class="campaignName">
                                                Average Views: <span class="profile__avg_views number"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check check influencersList">
                                <input class="form-check-input profile__id" type="checkbox"
                                       style="width:20px; height:20px;" value=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal multi-step" id="SubmitBid">
                <div class="modal-dialog modal-lg">
                    <div id="mc" class="modal-content">
                        <div class="modal-header row ">
                            <div class="col-sm-12 row">
                                <button type="button" class="close" data-dismiss="modal"
                                        onclick="resetFormSubmitBid()" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="col-sm-12 m-progress row">
                                <div class="round col-sm">
                                    <input type="radio" id="progress-step-1" checked="checked"
                                           class="form-radio"> <label for="progress-step-1">Add
                                    Campaign</label>
                                </div>
                                <div class="round col-sm ">
                                    <input type="radio" id="progress-step-2" class="form-radio">
                                    <label class="submitBid-tab-label" for="progress-step-2">Submit
                                        Bid</label>
                                </div>
                                <div class="round col-sm">
                                    <input type="radio" id="progress-step-3" class="form-radio">
                                    <label class="mailTemplate-label" for="progress-step-3">Mail
                                        Template</label>
                                </div>
                                <div class="round col-sm">
                                    <input type="radio" id="progress-step-4" class="form-radio">
                                    <label for="progress-step-4">Confirm</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body step-1" data-step="1">
                            <!--                            <div class="row">-->
                            <!--                                <div class="col-sm-12 md-form "-->
                            <!--                                     style="padding-left: 21%; padding-right: 21%;">-->
                            <!--                                    <div>-->
                            <!--                                        <label id="labelCampaign" for="campaign" class="active"-->
                            <!--                                               style="padding-left: 164px;">Campaign Name</label> <input-->
                            <!--                                            name="campaign" id="campaign" class="mdb-select form-control"-->
                            <!--                                            placeholder="Select or enter a new campaign name" type="text"-->
                            <!--                                            list="campaigns" autocomplete="off"/>-->
                            <!--                                        <datalist id="campaigns">-->
                            <!--                                        </datalist>-->
                            <!--                                        <div class="text-danger" id="invalidCampaign"></div>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                        </div>
                        <div class="modal-body step-2" data-step="2">
                            <div>
                                <div class="hide">
                                    <div class="alert alert-info text-center">Submitting a bid
                                        will send an email to the influencer and to your registered
                                        email, with details of the bid.
                                    </div>
                                    <div class="row">
                                        <div
                                                class="col-md-3 md-form pl-0 d-inline-block affiliate yt out">
                                            <label id="labelPayment" for="paymentType" class="active">
                                                Payment Type</label> <select name="paymentType" required="required"
                                                                             id="paymentType"
                                                                             class="mdb-select form-control"></select>
                                            <div class="text-danger" id="paymentTypeInvalid"></div>
                                        </div>
                                        <div class="d-none">
                                            <label for="platform-submit-bid">Platform</label> <input
                                                type="text" id="platform-submit-bid"
                                                name="platform-submit-bid" required="required"
                                                class="form-control" placeholder="Enter Platform" disabled>
                                            <div class="text-danger" id="platform-submit-bidInvalid"></div>
                                        </div>
                                        <div
                                                class="col-md-3 md-form pl-0 d-inline-block not-affiliate yt out">
                                            <label id="labelPost" for="postType" class="active">
                                                Post Type</label> <select name="postType" required="required"
                                                                          id="postType" class="mdb-select form-control">
                                        </select>
                                            <div class="text-danger" id="postTypeInvalid"></div>
                                        </div>
                                        <div id="search-postDuration"
                                             class="col-md-3 md-form pl-0 d-inline-block not-affiliate out">
                                            <label for="postDuration" class="active"> Post Duration</label>
                                            <select name="postDuration" required="required"
                                                    id="postDuration" class="mdb-select form-control">
                                            </select>
                                            <div class="text-danger" id="postDurationInvalid"></div>
                                        </div>
                                        <div class="col-md-3 md-form pl-0 d-none affiliate"
                                             id="affiliateSuffixDiv">
                                            <label for="affiliateType" class="active">Payment Mode</label>
                                            <select name="affiliateType" required="required"
                                                    id="affiliateType"
                                                    class="input-group-text md-addon mdb-select form-control">
                                                <option value="%">% of Sales</option>
                                                <option value="$">$ per Sale</option>
                                            </select>
                                            <div class="text-danger" id="paymentModeInvalid"></div>
                                        </div>
                                        <div
                                                class="col-md-3 md-form pl-0 d-inline-block affiliate yt out">
                                            <label id="bidAmountLabel" for="bid">Bid Amount in $</label> <input
                                                type="text" id="bid" name="bidAmount" required="required"
                                                min="1" placeholder="0" class="form-control number-format">
                                            <div class="text-danger" id="bidAmountInvalid"></div>
                                        </div>
                                    </div>
                                    <div id="payment-non-cash" style="display: none">
                                        <!-- <i class="fas fa-info-circle" style="color: #2f008d;"></i> -->
                                        <span style="font-size: 14px;">Please include the cash
                                                equivalent value of the product, service or shoutout you are
                                                providing in the bid amount</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body step-3 " data-step="3">
                            <div class="row">
                                <div class="col-sm-12 row p-0">
                                    <div class="col-sm-9 md-form pl-0 d-inline-block">
                                        <label id="mailCcLabel" for="mailCc">CC</label> <input
                                            type="text" id="mailCc" name="mailCc" required="required"
                                            placeholder="CC" class="form-control ">
                                        <div class="text-danger" id="mailCcInvalid"></div>
                                    </div>
                                    <div class="col-sm-3 md-form pl-0 d-inline-block">
                                        <label for="mailTemplate" class="active">Mail Template</label>
                                        <select
                                                name=" mailTemplate" required="required" id="mailTemplate"
                                                class="mdb-select form-control">
                                            <option value="" hidden="true">Select Mail Template</option>
                                            <th:block th:each="entry : ${mailTemplates}">
                                                <option
                                                        th:classappend="|${entry.paymentType} ${entry.subPaymentType} ${entry.isUserCreated ? 'true' : 'false'}|"
                                                        th:value="${entry.id}"
                                                        th:attr="data-value=${entry.mailBody},data-subject=${entry.mailSubject}"
                                                        th:text="${entry.templateName}" hidden="hidden"></option>
                                            </th:block>
                                        </select>
                                        <div class="text-danger" id="mailTemplateInvalid"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 md-form pl-0 d-inline-block">
                                    <label id="mailSubjectLabel" for="mailSubject">Subject</label> <input
                                        type="text" id="mailSubject" name="mailSubject"
                                        required="required" placeholder="Subject" class="form-control ">
                                    <div class="text-danger" id="mailSubjectInvalid"></div>
                                </div>
                                <div class="col-sm-12 md-form pl-0 d-inline-block">
                                    <textarea id="mailTextArea" style="width: 100%;" rows="6"></textarea>
                                    <div class="text-danger" id="mailTextAreaInvalid"></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body step-4 " data-step="4">
                            <div class="row">
                                <div class="col-sm-12 pt-3 pb-3">
                                    <span style="font-size: 16px; font-weight: 400;" id="step3Body"></span>
                                    <table class="d-none submitBidTable"
                                           style="width: 100%; margin-top: 3%;">
                                        <thead>
                                        <tr>
                                            <th style="color: #2f008d;">Payment Type</th>
                                            <th id="postTypeTableLabel" style="color: #2f008d;">Post
                                                Type
                                            </th>
                                            <th id="postDurationTableLabel" style="color: #2f008d;">Post
                                                Duration
                                            </th>
                                            <th id="paymentModeTableLabel" class="d-none"
                                                style="color: #2f008d;">Payment Mode
                                            </th>
                                            <th id="bidAmountTableLabel" style="color: #2f008d;">Bid
                                                Amount
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td id="paymentTypeTable"></td>
                                            <td id="postTypeTable"></td>
                                            <td id="postDurationTable"></td>
                                            <td class="d-none" id="paymentModeTable"></td>
                                            <td id="bidAmountTable"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <!-- <button type="button" class="btn btn-secondary"
                                onclick="resetFormSubmitBid()" data-dismiss="modal">Cancel</button> -->
                            <div id="pricing" class="step-2" data-step="2"
                                 style="margin-top: 5px; font-weight: initial; font-size: 14px; margin-right: auto;">
                                <i class="fas fa-info-circle" style="color: #2f008d;"></i><span
                                    style="font-weight: 500; padding-left: 6px; font-size: 17px;">Estimated
                                        pricing for permanent post: </span><span id='price'
                                                                                 style="font-weight: 500; padding-left: 6px; font-size: 17px;"></span>
                            </div>
                            <button type="button"
                                    class="btn btn-sm btn-secondary step step-2 back" data-step="2"
                                    onclick="sendEvent('#SubmitBid', 1)">Back
                            </button>
                            <button type="button" class="btn btn-sm btn-primary step step-1"
                                    data-step="1" onclick="validateCampaign()">Next
                            </button>
                            <button type="button" id="skipForNow"
                                    class="btn btn-sm btn-primary step step-2"
                                    onclick="setSubmitBidFalse()" data-step="2">Skip for now
                            </button>
                            <button type="submit"
                                    class="btn btn-sm btn-primary step step-2 submitBid"
                                    onclick="setSubmitBidTrue()" data-step="2">Next
                            </button>
                            <button type="button"
                                    class="btn btn-sm btn-secondary step step-3 back-2" data-step="3"
                                    onclick="sendEvent('#SubmitBid', 2)">Back
                            </button>
                            <button type="submit"
                                    class="btn btn-sm btn-primary step step-3 submitBid"
                                    onclick="validateMailContent()" data-step="3">Next
                            </button>
                            <div class="step step-4  d-none addToCampaignMesage"
                                 style="margin-top: 5px; font-weight: initial; font-size: 14px; margin-right: auto;"
                                 data-step="3">
                                <i class="fas fa-info-circle" style="color: #2f008d;"></i> <span
                                    style="font-weight: 400;">You can submit a bid later in
                                        the <a target="_blank" href="/brand/campaign">Manage Campaign</a>
                                        section
                                        </span>
                            </div>
                            <button id="dataStep4Back" type="button"
                                    class="btn btn-sm btn-secondary step step-4 back-2" data-step="4"
                                    onclick="sendEvent('#SubmitBid', 3)">Back
                            </button>
                            <button type="button" class="btn btn-sm btn-primary step step-4"
                                    id="addToCampaign" data-step="4" onclick="saveCampaign()">Confirm
                            </button>
                            <button type="button" class="btn btn-sm btn-primary step step-4"
                                    id="submitBid" data-step="4" onclick="submitBid()">Confirm
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="SubmitBidSuccessMessage" tabindex="-1"
                 role="dialog" aria-labelledby="SubmitBidSuccessMessageLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-primary" id="SubmitBidLabel">Submitted
                                Successfully
                            </h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    onclick="resetFormSubmitBid()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="bidMessage"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="viewNameMessage" tabindex="-1"
                 role="dialog" aria-labelledby="viewNameMessageLabel" style="top: 12%;"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-primary tect-center" id="viewNameLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="searchInfluencerModal" tabindex="-1"
                 role="dialog" aria-labelledby="SubmitBidSuccessMessageLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-primary" id="SubmitBidLabel">Search
                                Influencers
                            </h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    onclick="resetFormSearchModal()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body row">
                            <div class="col-sm-3">
                                <div class="col-sm p-0">
                                    <div class="md-form pt-0">
                                        <label for="platform" class="active"> Platform<span
                                                class="text-danger"> *</span></label>
                                        <select required="required"
                                                id="platform"
                                                class="mdb-select form-control">
                                            <option value="" hidden="true">Select Platform</option>
                                            <option value="instagram">Instagram</option>
                                            <option value="tiktok">TikTok</option>
                                            <option value="youtube">YouTube</option>
                                        </select>
                                    </div>
                                    <div class="text-danger" id="platformInvalid"></div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm p-0">
                                    <div class="md-form input-group">
                                        <label id="influencerHandleLabel" for="influencerHandle">Influencer
                                            Handle</label>
                                        <div class="input-group-prepend">
                                                    <span class="input-group-text md-addon pl-0"
                                                          id="material-addon1">@</span>
                                        </div>
                                        <input type="text" id="influencerHandle" name="influencerHandle"
                                               data-provide="typeahead" required="required"
                                               placeholder="john_doe" class="form-control" autocomplete="off"/>
                                        <div class="input-group-append">
                                            <a id="searchInfluencerIcon" href="#" class="pt-3"
                                               onclick="searchInfluncer()"> <i class="fas fa-search"></i>
                                            </a>
                                            <div id="searchLoader" class="d-none"
                                                 style="display: inline-block; margin-top: 62%;">
                                                <div class="loader" style="margin: 0 !important;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-danger" id="influencerHandleInvalid"></div>
                                </div>
                                <!-- <input id="typeHeadSearch" type="text" data-provide="typeahead" /> -->
                            </div>
                            <ul id="myUL">
                                <!-- <li><a href="#">Adele</a></li> -->
                            </ul>
                        </div>
                        <div class="modal-footer row p-2 d-none"
                             id="searchInfluencerModalFooter">
                            <div class="col-sm-12" style="text-align: center;">
                                <a type="submit"
                                   class="btn btn-sm btn-primary  waves-effect waves-light d-none"
                                   id="viewInfluencer" target="_blank">View Influencer</a>
                                <button type="submit"
                                        class="btn btn-sm btn-primary  waves-effect waves-light d-none"
                                        onclick="generateReport()" id="generateReport">
                                    Download Report<span class="pl-1"><i
                                        class=" fas fa-download"></i></span>
                                </button>
                            </div>
                            <div class="col-sm-12 d-none" id="reportMessageDiv"
                                 style="text-align: center;">
                                        <span style="font-weight: 400;" id="reportMessage">Your
                                        report will download shortly</span><span id="reportMessageCount"></span>
                                <div class="" style="display: inline-block">
                                    <div id="reportMessageLoader" class="loader"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:insert="footer"/>
        <script type="text/javascript"
                th:src="@{/static/js/bootstrap-slider.min.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/mselect.js}"></script>
        <script type="text/javascript"
                th:src="@{/static/js/bootstrap3-typeahead.min.js}"></script>
        <script th:inline="javascript">
                var allActiveCampaigns = /*[[${allActiveCampaigns}]]*/

        </script>
        <script type="text/javascript"
                th:src="@{/static/script/brand/search_influencers.js}"></script>
        <script th:inline="javascript">
                var profileDetails=/*[[${profileDetails}]]*/;
        </script>
        <script>
                sendEvent = function(sel, step) {
                    $(sel).trigger('next.m.' + step);
                }

        </script>
    </div>
</div>
</body>
</html>