<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/static/css/stripe.css}">
<!--Panel 2-->
<div class="tab-pane fade in " id="payment" role="tabpanel">
	<div class="card pt-3 pb-3 mb-3 mh-20e">
		<th:block th:insert="mini-loader" />
		<div class="row p-5">
			<div th:if="true" id="new-card-save"
				class=" col-sm-4 ">
				<div class="card sf-stripe p-3">
					<div class="row">
						<div class="round">
							<input type="checkbox" id="makeDefault" name="makeDefault"
								th:attr="checked=${#lists.size(savedCards)}==0,disabled=${#lists.size(savedCards)}==0" />
							<label for="makeDefault">Default</label>
						</div>
						<div class="col-sm-12">
							<div class="md-form">
								<input type="text" maxlength="25" placeholder="John Doe"
									id="card-name" class="form-control"> <label
									for="card-name">Name on the card</label>
							</div>
							<div class="md-form">
								<div id="stripe-card" class="input"></div>
								<label for="stripe-card">Card Number</label> <span
									id="brand-icon"><i class="cc cc-card"></i></span>
							</div>
							<div class="md-form row" style="top: -0.5em; margin: 0;">
								<div class="md-form col-sm m-0 pl-0">
									<div class="md-form">
										<div id="stripe-expiry" class="input"></div>
										<label for="stripe-expiry">Expiry</label>
									</div>
								</div>
								<div class=" md-form col-sm m-0 pr-0">
									<div class="md-form">
										<div id="stripe-cvc" class="input"></div>
										<label for="stripe-cvc">CVC</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm p-0 text-center">
								<button id="btn_savecard"
									class="btn btn-sm btn-primary waves-effect waves-light "
									value="Save" type="submit">Add Card</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<th:block th:each="card : ${savedCards}">
				<div class="col-sm-4 mb-5">
					<div class="card p-3 " th:id="|card-${card.id}|">
						<div class="row">
							<div class="round">
								<input type="radio" th:id="|default-${card.id}|"
									th:attr="checked=${defaultSource==card.id}"
									th:data-card-id="${card.id}" name="defaultCard[]"
									class="btn_carddefault" /> <label
									th:for="|default-${card.id}|">Default</label>
							</div>
							<div class="col-sm-12">
								<div class="md-form">
									<input type="text" th:id="|card-name-${card.id}|"
										class="form-control disabled" disabled
										th:value="${card.owner.name}"> <label
										th:for="|card-name-${card.id}|">Name on the card</label>
								</div>
								<div class="md-form">
									<input type="text" th:id="|stripe-card-${card.id}|"
										class="form-control disabled" disabled
										th:value="|**** **** **** ${card.typeData.last4}|"> <label
										th:for="|stripe-card-${card.id}|">Card Number</label> <span
										style="position: absolute; top: 1em; right: 0;"
										th:id="|brand-icon-${card.id}|" class="card-brand-data"
										th:data="${card.typeData.brand}"><i class="cc cc-card"></i></span>
								</div>
								<div class="md-form row" style="top: -0.5em; margin: 0;">
									<div class="md-form col-sm m-0 pl-0">
										<div class="md-form">
											<input type="text" th:id="|stripe-expiry-${card.id}|"
												disabled class="form-control disabled"
												th:value="|${#numbers.formatInteger(card.typeData.exp_month,2)}/${card.typeData.exp_year}|">
											<label th:for="|stripe-expiry-${card.id}|">Expiry</label>
										</div>
									</div>
									<div class=" md-form col-sm m-0 pr-0">
										<div class="md-form">
											<input type="text" th:id="|stripe-cvc-${card.id}|"
												th:value="|***|" disabled class="form-control disabled">
											<label th:for="|stripe-cvc-${card.id}|">CVC</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="col-sm p-0 text-center">
									<button
										class="btn btn-sm btn-danger waves-effect waves-light btn_removecard"
										th:classappend="${#lists.size(savedCards)}>1?'':'disabled'"
										value="Remove" th:data-card-id="${card.id}" type="submit">Remove
										Card</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</th:block>
		</div>
	</div>
</div>
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog"
	aria-labelledby="paymentModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title text-primary tect-center"
					id="paymentModalLabel"></h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="paymentModalMsg"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-primary" data-dismiss="modal"
					id="paymentModalConfirm" onclick="">Confirm</button>
			</div>
		</div>
	</div>
</div>
<!--/.Panel 2-->
</html>