<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!--Panel 3-->
<div class="tab-pane fade" id="Preference" role="tabpanel">
	<div class="row">
		<div class="col-md-5">
			<!--Section: Live preview-->
			<section class="form-light">
				<!--Form without header-->
				<form autocomplete="off" class="needs-validation"
					novalidate="novalidate">
					<div class="mx-4">
						<!--Header-->
						<div class="text-left">
							<!--<h3 class="text-primary mb-5">Campaign Details</h3>-->
							<h5 th:text="#{Brand.Settings.preferenceTitle}"></h5>
						</div>
						<!--Body-->
						<div class="row">
							<div class="col-md-8 pl-0">
								<h6 th:text="#{Brand.Settings.industry}">Industry</h6>
								<div class="md-form">
									<select onfocus='this.size=10;' onblur='this.size=1;'
										onchange='this.size=1; this.blur(); '
										class="select dropdown-primary mt-3 p-2 industry-group">
										<option value="" hidden="hidden"  selected>Select your Industry</option>
										<th:block th:each="industry : ${industries}">
											<option th:value="${industry.id}"
												th:text="${industry.industry}"></option>
										</th:block>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 pl-0">
								<div class="md-form">
									<select onfocus='this.size=10;' onblur='this.size=1;'
										onchange='this.size=1; this.blur(); '
										class="select dropdown-primary mt-3 p-2 industry-group">
										<option value="" hidden="hidden"  selected>Select your Industry</option>
										<th:block th:each="industry : ${industries}">
											<option th:value="${industry.id}"
												th:text="${industry.industry}"></option>
										</th:block>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 pl-0">
								<div class="md-form">
									<select onfocus='this.size=10;' onblur='this.size=1;'
										onchange='this.size=1; this.blur(); '
										class="select dropdown-primary mt-3 p-2 industry-group">
										<option value="" hidden="hidden" selected>Select your Industry</option>
										<th:block th:each="industry : ${industries}">
											<option th:value="${industry.id}"
												th:text="${industry.industry}"></option>
										</th:block>
									</select>
								</div>
							</div>
						</div>
						<div class="coll-md-12 pt-3">
							<h6 th:text="#{Brand.Settings.location}"></h6>
						</div>
						<div class="row">
							<div class="col-md-8 pl-0">
								<div class="md-form">
									<label for="dropLocation" class="active"></label> <select
										onfocus='this.size=10;' onblur='this.size=1;'
										onchange='this.size=1; this.blur();'
										class="select dropdown-primary mt-3 p-2 location-group">
										<option value="" disabled selected>Select your
											Location</option>
										<th:block th:each="audience : ${audiences}">
											<option th:value="${audience.id}"
												th:text="${audience.audience}"></option>
										</th:block>
									</select>
								</div>
							</div>
							<!--<div class="col-md-4 pr-0">
								<div class="md-form">
									<input type="text" id="location-percentage1" class="form-control">
									<label for="location-percentage1">Enter %</label>
								</div>
							</div>-->
						</div>
						<div class="row">
							<div class="col-md-8 pl-0">
								<div class="md-form">
									<label for="dropLocation" class="active"></label> <select
										onfocus='this.size=10;' onblur='this.size=1;'
										onchange='this.size=1; this.blur();'
										class="select dropdown-primary mt-3 p-2 location-group">
										<option value="" disabled selected>Select your
											Location</option>
										<th:block th:each="audience : ${audiences}">
											<option th:value="${audience.id}"
												th:text="${audience.audience}"></option>
										</th:block>
									</select>
								</div>
							</div>
							<!--<div class="col-md-4 pr-0">
								<div class="md-form">
									<input type="text" id="location-percentage2" class="form-control">
									<label for="location-percentage2">Enter %</label>
								</div>
							</div>-->
						</div>
						<div class="row">
							<div class="col-md-8 pl-0">
								<div class="md-form">
									<label for="dropLocation" class="active"></label> <select
										onfocus='this.size=10;' onblur='this.size=1;'
										onchange='this.size=1; this.blur();'
										class="select dropdown-primary mt-3 p-2 location-group">
										<option value="" disabled selected>Select your
											Location</option>
										<th:block th:each="audience : ${audiences}">
											<option th:value="${audience.id}"
												th:text="${audience.audience}"></option>
										</th:block>
									</select>
								</div>
							</div>
							<!--<div class="col-md-4 pr-0">
								<div class="md-form">
									<input type="text" id="location-percentage3" class="form-control">
									<label for="location-percentage3">Enter %</label>
								</div>
							</div>-->
						</div>
						<div class="coll-md-12 pt-3">
							<h6 th:text="#{Brand.Settings.interests/brand}"></h6>
						</div>
						<div class="row">
							<div class="col-md-8 pl-0">
								<div class="md-form">
									<label for="dropLocation" class="active"></label> <select
										onfocus='this.size=10;' onblur='this.size=1;'
										onchange='this.size=1; this.blur();'
										class="select dropdown-primary mt-3 p-2 interest-group">
										<option value="" disabled selected>Select your
											Interests</option>
										<th:block th:each="interest : ${interests}">
											<option th:value="${interest.id}"
												th:text="${interest.interest}"></option>
										</th:block>
									</select>
								</div>
							</div>
							<!--<div class="col-md-4 pr-0">
								<div class="md-form">
									<input type="text" id="Interest-percentage1" class="form-control">
									<label for="Interest-percentage1">Enter %</label>
								</div>
							</div>-->
						</div>
						<div class="row">
							<div class="col-md-8 pl-0">
								<div class="md-form">
									<label for="dropLocation" class="active"></label> <select
										onfocus='this.size=10;' onblur='this.size=1;'
										onchange='this.size=1; this.blur();'
										class="select dropdown-primary mt-3 p-2 interest-group">
										<option value="" disabled selected>Select your
											Interests</option>
										<th:block th:each="interest : ${interests}">
											<option th:value="${interest.id}"
												th:text="${interest.interest}"></option>
										</th:block>
									</select>
								</div>
							</div>
							<!--<div class="col-md-4 pr-0">
								<div class="md-form">
									<input type="text" id="Interest-percentage2" class="form-control">
									<label for="Interest-percentage2">Enter %</label>
								</div>
							</div>-->
						</div>
						<div class="row">
							<div class="col-md-8 pl-0">
								<div class="md-form">
									<label for="dropLocation" class="active"></label> <select
										onfocus='this.size=10;' onblur='this.size=1;'
										onchange='this.size=1; this.blur();'
										class="select dropdown-primary mt-3 p-2 interest-group">
										<option value="" disabled selected>Select your
											Interests</option>
										<th:block th:each="interest : ${interests}">
											<option th:value="${interest.id}"
												th:text="${interest.interest}"></option>
										</th:block>
									</select>
								</div>
							</div>
							<!--<div class="col-md-4 pr-0">
								<div class="md-form">
									<input type="text" id="Interest-percentage3" class="form-control">
									<label for="Interest-percentage3">Enter %</label>
								</div>
							</div>-->
						</div>
						<div class="col-md-12">
							<div class="row">
								<div class="col-sm-6 pl-0 pt-3">
									<h6 th:text="#{Brand.Settings.gender}"></h6>
									<div class="row">
										<div class="form-check mr-2">
											<input name="gender" class="form-check-input" type="checkbox"
												id="male-gender"> <label class="form-check-label"
												for="male-gender">Male</label>
										</div>
										<div class="form-check mr-2">
											<input name="gender" class="form-check-input" type="checkbox"
												id="female-gender"> <label class="form-check-label"
												for="female-gender">Female</label>
										</div>
									</div>
									<h6 class="pt-2" th:text="#{Brand.Settings.platformPreference}"></h6>
									<p>
										<i class="far fa-instagram text-primary px-1"></i> <i
											class="far fa-facebook text-primary px-1"></i> <i
											class="far fa-twitter text-primary px-1"></i>
									</p>
								</div>
								<div class="col-sm-6 pr-0 pt-3">
									<h6 th:text="#{Brand.Settings.audienceAge}"></h6>
									<div class="row">
										<div class="form-check mr-2">
											<input name="gender" class="form-check-input" type="checkbox"
												id="age-categorie1"> <label class="form-check-label"
												for="age-categorie1">13-17</label>
										</div>
										<div class="form-check mr-2">
											<input name="gender" class="form-check-input" type="checkbox"
												id="age-categorie2"> <label class="form-check-label"
												for="age-categorie2">18-24</label>
										</div>
										<div class="form-check mr-2">
											<input name="gender" class="form-check-input" type="checkbox"
												id="age-categorie3"> <label class="form-check-label"
												for="age-categorie3">25-34</label>
										</div>
										<div class="form-check mr-2">
											<input name="gender" class="form-check-input" type="checkbox"
												id="age-categorie4"> <label class="form-check-label"
												for="age-categorie4">35-44</label>
										</div>
										<div class="form-check mr-2">
											<input name="gender" class="form-check-input" type="checkbox"
												id="age-categorie5"> <label class="form-check-label"
												for="age-categorie5">44-54</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<button type="submit" id="search" name="search"
							class="btn btn-outline-primary btn-sm mt-3">Submit</button>
					</div>
				</form>
				<!--/Form without header-->
			</section>
			<!--Section: Live preview-->
		</div>
		<div class="col-md-7">
			<img class="img-fluid" th:src="@{/static/img/settings-preferences.png}">
		</div>
	</div>
</div>
<!--/.Panel 3-->
</html>