<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!--Panel 2-->
<div class="tab-pane fade in show active" id="profile" role="tabpanel">
	<div class="card pt-3 pb-3 mb-3 mh-20e">
		<form id="form-profile" autocomplete="off" class="needs-validation"
			th:action="@{/brand/update-profile}" method="post"
			novalidate="novalidate">
			<div class="row">
				<div class="col-md">
					<!--Section: Live preview-->
					<section class="form-light">
						<!--Form without header-->
						<div class="">
							<!--Header-->
							<div class="text-left row">
								<span style="font-size: 19px;">Profile Details</span> <span
									class="cur-pointer profile-edit" onclick="enableProfileEdit()"><i
									class="fas fa-user-edit" style="color: #2f008d;"></i></span>
							</div>
							<!--Body-->
							<div class="row">
								<div class="col-md-6 p-0">
									<div class="md-form disabled firstName disabled-grey">
										<input type="text" id="firstName" name="firstName"
											title="Enter your First Name" class="form-control"
											required="required" th:value="${profileDetails.firstName}">
										<label for="firstName" th:text="#{Brand.Settings.FirstName}"></label>
										<div class="invalid-feedback"
											th:text="#{Brand.Settings.LabelFirstName}"></div>
									</div>
								</div>
								<div class="col-md-6 pl-3 pr-0">
									<div class="md-form disabled lastName disabled-grey">
										<input type="text" id="lastName" name="lastName"
											title="Enter your Last Name" class="form-control"
											required="required" th:value="${profileDetails.lastName}">
										<label for="lastName" th:text="#{Brand.Settings.LastName}"></label>
										<div class="invalid-feedback"
											th:text="#{Brand.Settings.LabelLastName}"></div>
									</div>
								</div>
							</div>
							<div class="md-form disabled brandName disabled-grey">
								<input type="text" id="brandName" name="brandName"
									title="Enter your Brand Name" class="form-control"
									required="required" th:value="${profileDetails.brandName}">
								<label for="brandName" th:text="#{Brand.Settings.BrandName}"></label>
								<div class="invalid-feedback"
									th:text="#{Brand.Settings.LabelBrandName}"></div>
							</div>
							<div class="md-form disabled industry disabled-grey">
								<label for="industry" class="active">Industry</label> <select
									id="industry" required="required" name="industry"
									class="mdb-select form-control" onfocus='this.size=10;'
									onblur='this.size=1;' onchange='this.size=1; this.blur();'>
									<option value="" hidden="true">Select your Industry</option>
									<th:block th:each="industry : ${industries}">
										<option th:value="${industry}"
											th:text="${industry} "
											th:selected="${industry==profileDetails.industry}"></option>
									</th:block>
								</select>
								<div class="invalid-feedback">Select your Industry</div>
							</div>
							<div class="md-form disabled website disabled-grey">
								<input type="text" id="website" class="form-control"
									title="Enter your Website"
									pattern="(https?:\/\/)?([0-9a-zA-Z]+(-[0-9a-zA-Z]+)*)(\.([0-9a-zA-Z]+(-[0-9a-zA-Z]+)*))*\.[0-9a-zA-Z]{2,12}"
									name="website" required="required"
									th:value="${profileDetails.website}"> <label
									for="website" th:text="#{Brand.Settings.Website}"></label>
								<div class="invalid-feedback"
									th:text="#{Brand.Settings.LabelWebsite}"></div>
							</div>
							<div class="md-form disabled email disabled-grey">
								<input type="text" id="email" name=email
									title="Enter your Email" class="form-control"
									pattern="[a-zA-Z0-9]+([\-\.][a-zA-Z0-9]+)*@[a-zA-Z0-9]+([\-\.][a-zA-Z0-9]+)*\.[a-zA-Z]{2,12}"
									th:value="${profileDetails.email}" required="required">
								<label for="email" th:text="#{Brand.Settings.Email}"></label>
								<div class="invalid-feedback"
									th:text="#{Brand.Settings.LabelEmail}"></div>
							</div>
						</div>
						<!--/Form without header-->
					</section>
					<!--Section: Live preview-->
				</div>
			</div>
			<div class="row" style="padding-left: 90.3%;">
				<div class="save pull-right">
					<button type="submit" id="save" name="save"
						class="btn  btn-sm btn-primary mt-3 disabled">Save</button>
				</div>
			</div>
		</form>
	</div>
	<div id="connectAccountDiv" class="card mb-3 d-none">
		<div class="row">
			<div class="col-sm-12 mt-2 mb-2">
				<span style="font-size: 19px;">Connect Account (Beta)<i
					style="margin-left: 1.5%; color: #2f008d;"
					class="fas fa-link fa-xs cur-pointer"></i></span> <br> <span
					style="font-size: 11px;">It is recommended that you connect
					your account for sending e-mails to Influencers</span>
				<button id="connectAccount" name="connectAccount"
					class="btn btn-primary btn-sm pull-right mr-3"></button>
			</div>
		</div>
	</div>
	<div class="card">
		<form id="form-password" autocomplete="off" class="needs-validation"
			th:action="@{/brand/change-password}" method="post"
			novalidate="novalidate">
			<div class="row">
				<div class="col-sm-12 mt-2 mb-2">
					<span style="font-size: 19px;">Change Password<i
						onclick="viewPassword()"
						style="margin-left: 1.5%; color: #2f008d;"
						class="fas fa-key fa-xs cur-pointer"></i></span> <br> <span
						style="font-size: 11px;">It is recommended that you use a
						password that you don't use elsewhere</span>
				</div>
				<div class="row col-sm-12 password pl-0 mb-1"
					style="max-height: 1px; overflow: hidden;">
					<div class="col-sm-5">
						<div class="md-form">
							<input type="password" id="oldPassword" name="oldPassword"
								class="form-control" required="required" pattern=".{8,}"
								title="Password should contain alteast 8 characters"><label
								for="oldPassword">Old Password</label> <span
								data-toggle="#oldPassword" class="field-icon password-toggle"><i
								class="far fa-eye-slash"></i></span>
							<div class="invalid-feedback">Password should contain
								alteast 8 characters</div>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="md-form">
							<input type="password" id="newPassword" name="newPassword"
								class="form-control" required="required" pattern=".{8,}"
								title="Password should contain alteast 8 characters"><label
								for="newPassword">New Password</label> <span
								data-toggle="#newPassword" class="field-icon password-toggle"><i
								class="far fa-eye-slash"></i></span>
							<div class="invalid-feedback">Password should contain
								alteast 8 characters</div>
						</div>
					</div>
					<div class="col-sm-2" style="margin-top: 1.1%;">
						<button type="submit" id="changePassword" name="changePassword"
							class="btn btn-primary btn-sm pull-right mr-0">Change
							Password</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<!--/.Panel 2-->
</html>