<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{Settings.title}"></title>
<th:block th:insert="header" />
<script src="https://js.stripe.com/v3/"></script>
<script th:inline="javascript">
		var stripeKey = /*[[${@stripeConfiguration.publishableKey}]]*/;
		var stripe = Stripe(stripeKey);
		var profileDetails = /*[[${profileDetails}]]*/;
		var emailConnection = /*[[${emailConnectionDetails}]]*/'';
	</script>
</head>
<body>
	<div class="modal fade" id="removeEmail" tabindex="-1" role="dialog"
		style="top: 12%;" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-primary tect-center">Remove Email</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div>Are you sure that you want to remove your email?</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-sm btn-primary"
						onclick="removeEmail()">Ok</button>
					<button type="button" class="btn btn-sm btn-secondary"
						data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<div id="wrapper" class="">
		<th:block th:insert="Brand/NavPanel" />
		<!-- Page content -->
		<div id="page-content-wrapper">
			<div class="container-wrapper">
				<!-- <h4 th:text="${profileDetails.brandName}"></h4> -->
				<!-- Nav tabs -->
				<div class="tabs-wrapper">
					<ul class="nav classic-tabs tabs-red  rounded-0" role="tablist">
						<!-- <li class="nav-item" onclick="getSocialConnect()"><a
								class="nav-link waves-light active" data-toggle="tab"
								href="#connect" role="tab" th:text="#{Brand.Settings.connect}"></a></li> -->
						<li class="nav-item" onclick="getProfile()"><a
							class="nav-link waves-light active" data-toggle="tab"
							href="#profile" role="tab" th:text="#{Brand.Settings.profile}"></a></li>
						<!-- <li class="nav-item" onclick="getPayment()"><a
								class="nav-link waves-light " data-toggle="tab" href="#payment"
								role="tab" th:text="#{Brand.Settings.payment}"></a></li>
							<li class="nav-item" onclick="subscription()"><a
								class="nav-link waves-light " data-toggle="tab"
								href="#subscription" role="tab">Subscription</a></li> -->
						<!-- <li class="nav-item"><a class="nav-link waves-light"
								data-toggle="tab" href="#Preference" role="tab"
								th:text="#{Brand.Settings.preference}"></a></li> -->
					</ul>
				</div>
				<!-- Tab panels -->
				<div class="tab-content pt-0 pl-0">
					<!--Panel 1-->
					<!-- <th:block th:insert="Brand/SettingsConnect" /> -->
					<!--/.Panel 1-->

					<!--Panel #profile-->
					<th:block th:insert="Brand/SettingsProfile" />
					<!--/.Panel #profile -->

					<!--Panel #payment-->
					<!-- <th:block th:insert="Brand/SettingsPayment" /> -->
					<!--/.Panel #payment-->


					<!--Panel #subscription-->
					<!-- <th:block th:insert="Brand/SettingsSubscription" /> -->
					<!--/.Panel #subscription-->

					<!-- Panel 4 -->
					<!-- <th:block th:insert="Brand/SettingsPreference" /> -->
					<!-- /. Panel 4 -->
				</div>
			</div>
		</div>
	</div>
	<th:block th:insert="footer" />
	<script type="text/javascript"
		th:src="@{/static/js/jquery.inputmask.bundle.js}"></script>
	<!-- <script type="text/javascript"
			th:src="@{/static/script/brand/payment.js}"></script> -->
	<!-- <script type="text/javascript"
			th:src="@{/static/script/brand/settings_connect.js}"></script> -->
	<script type="text/javascript" th:src="@{/static/js/moment.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/script/brand/profile.js}"></script>
	<script type="text/javascript">
		function formCallBack(obj) {
			if (obj.id == 'form-connect') {
				submitSocialConnect(obj);
			} else if (obj.id == 'form-payment') {
				submitPayment(obj);
			} else if (obj.id == 'form-profile') {
				saveProfile(obj);
			} else if (obj.id == 'form-password') {
				savePassword(obj);
			}
		}
	</script>
</body>
</html>