<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/static/css/stripe.css}">
<link rel="stylesheet" th:href="@{/static/css/subscription.css}">

<div class="tab-pane fade in " id="subscription"
	role="tabpanel">
	<div class="card pt-3 pb-3 mb-3 mh-20e">
	<th:block th:insert="mini-loader" />
		<div id="generic_price_table">
			<section>
				<div class="container">
					<!--BLOCK ROW START-->
					<div class="row">
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
<div class="modal fade" id="subscriptionModal" tabindex="-1" role="dialog"
	aria-labelledby="subscriptionModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title text-primary tect-center"
					id="subscriptionModalLabel"></h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="subscriptionModalMsg"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-primary" data-dismiss="modal"
					id="subscriptionModalConfirm" onclick="">Confirm</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" th:src="@{/static/script/brand/subscription.js}" ></script>
</html>