<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!--Panel 1-->
<div class="tab-pane fade in show active" id="connect" role="tabpanel">
	<form id="form-connect" class="needs-validation"
		th:action="@{/brand/social-connect}" method="post"
		novalidate="novalidate">
		<div class="row">
			<div class="col-sm-3 p-2">
				<h5 th:text="#{Brand.Settings.description}"></h5>
				<div class="list-group list-no-border">
					<div class="list-group-item">
						<div class="md-form">
							<input required="required" autocomplete="off"
								pattern="@([A-Za-z0-9_])+(\\.?([A-Za-z0-9_]))*"
								name="instagramHandle" type="text" id="instagramHandle" placeholder="@" class="form-control">
							<div class="invalid-feedback">Enter your valid Instagram
								handle</div>
							<label for="instagramHandle">Instagram Handle</label>
						</div>
					</div>
					<div class="list-group-item">
						<!-- Instagram -->
						<i class="fab fa-instagram prefix text-primary mr-1"></i>
						Instagram
					</div>
					<div class="list-group-item">
						<!-- Facebook -->
						<i class="fab fa-facebook-f prefix text-primary mr-1"></i>
						Facebook
					</div>
					<div class="list-group-item">
						<!-- Twitter-->
						<i class="fab fa-twitter prefix text-primary mr-1 "></i> Twitter
					</div>
					<div class="list-group-item">
						<!-- Youtube-->
						<i class="fab fa-youtube prefix text-primary mr-1"></i> Youtube
					</div>
					<div class="list-group-item">
						<!-- linkedin-->
						<i class="fab fa-linkedin prefix text-primary mr-1"></i> Linkedin
					</div>
				</div>
			</div>
		</div>
		<div>
			<button type="submit" id="search" name="search"  data-target="#payment"
				class="btn btn-outline-primary btn-sm mt-3 waves-effect waves-light pull-right">Submit</button>
		</div>
	</form>
</div>
<!--/.Panel 1-->
</html>