





<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:a="http://www.w3.org/1999/xhtml">

<head>
	<title>Smartfluence | Campaign Management</title>
	<th:block th:insert="header" />
	<link rel="stylesheet" th:href="@{/static/css/datatables.min.css}">
</head>


<body>
	<th:block th:insert="tawk.html" />
	<div id="wrapper" class="">
		<th:block th:insert="Brand/NavPanel" />
		<!-- Page content -->
		<div id="page-content-wrapper" sec:authorize="hasAuthority('ROLE_BRAND_PENDING')">
			<th:block th:insert="loader" />
			<div class="container-wrapper">
				<div class="explore-gradient">
					<div class="position-fixed mr-3">
						<th:block th:insert="Brand/ApprovalStatus" />
					</div>
				</div>
			</div>
		</div>
		<div id="page-content-wrapper" sec:authorize="hasAuthority('ROLE_BRAND_DECLINED')">
			<th:block th:insert="loader" />
			<div class="container-wrapper">
				<div class="explore-gradient">
					<div class="position-fixed mr-3">
						<th:block th:insert="Brand/DeclineStatus" />
					</div>
				</div>
			</div>
		</div>
		<div id="page-content-wrapper" sec:authorize="hasAuthority('ROLE_BRAND_APPROVED')">
			<th:block th:insert="loader" />
			<div class="">
				<div style="margin-top:20px">
					<h4 style="text-align: right; color: #2f008d; position: absolute;left: 6%;" class="m-0">
						<b>KFC </b>
					</h4>
				</div>
			
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
					  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
						aria-selected="true">Home</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
						aria-selected="false">Profile</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
						aria-selected="false">Contact</a>
					</li>
				  </ul>
				  <div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Raw denim you
					  probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
					  cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
					  keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
					  placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi
					  qui.</div>
					<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Food truck fixie
					  locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit,
					  blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
					  Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum
					  PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS
					  salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
					  sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
					  stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</div>
					<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Etsy mixtape
					  wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack
					  lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard
					  locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify
					  squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie
					  etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog
					  stumptown. Pitchfork sustainable tofu synth chambray yr.</div>
				  </div>

				
					

			</div>

			<th:block th:insert="footer" />
		</div>

		<script type="text/javascript" th:src="@{/static/js/datatables.min.js}"></script>
		<script type="text/javascript" th:src="@{/static/js/moment.min.js}"></script>
		<script type="text/javascript" th:src="@{/static/js/moment-timezone.min.js}"></script>
		<script type="text/javascript" th:src="@{/static/js/datetime-moment.js}"></script>
		<script type="text/javascript" th:src="@{/static/script/brand/manage-campaign.js}"></script>
	</div>

</body>
</html>