<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Smartfluence | Dashboard</title>
    <th:block th:insert="header"/>

    <link rel="stylesheet" th:href="@{/static/css/datatables.min.css}">
    <link rel="stylesheet"
          th:href="@{/static/css/select.dataTables.min.css}">

    <style type="text/css">
input[type=checkbox] {
	position: static;
	visibility: visible;
}

    </style>
</head>
<body>
<th:block th:insert="tawk.html"/>
<div id="wrapper" class="">
    <th:block th:insert="Brand/NavPanel"/>
    <!-- Page content -->
    <div id="page-content-wrapper"
         sec:authorize="hasAuthority('ROLE_BRAND_APPROVED')">
        <th:block th:insert="loader"/>
        <div class="container-wrapper">
            <!--
                <div class="right">hi</div> -->
            <div class="tabs-wrapper">
                <ul class="nav classic-tabs tabs-red" role="tablist">
                    <li class="nav-item"><a class="nav-link waves-light active"
                                            data-toggle="tab" href="#general" role="tab">Influencers</a></li>
                    <!-- <li class="nav-item"><a class="nav-link waves-light"
                            data-toggle="tab" href="#postAnalytics" role="tab">Post
                                Tracking</a></li> -->
                </ul>
                <h4 th:if="${profileDetails.userStatus} != 'FREE'"
                    style="text-align: right; color: #2f008d; position: absolute; right: 2%; top: 1rem;"
                    class="m-0">
                    <input id="campaignName" type="text" name="campaignName"
                           th:value="${campaignDetails.campaignName}" disabled>
                    <!-- <b th:text="${campaignDetails.campaignName}"> </b> -->
                    <i id="editCampaignName" onclick="changeCampaignName()"
                       class="fas fa-pencil-alt fa-xs" title="Change CampaignName"
                       style="cursor: pointer;"></i> <i id="saveCampaignName"
                                                        onclick="saveCampaignName()" class="fas fa-save fa-xs d-none"
                                                        title="Save CampaignName" style="cursor: pointer;"></i>
                </h4>
                <h4 th:if="${profileDetails.userStatus} == 'FREE'"
                    style="text-align: right; color: #2f008d; position: absolute; right: 2%; top: 1rem;"
                    class="m-0">
                    <b th:text="${campaignDetails.campaignName}"> </b>
                </h4>
            </div>
            <div class="tab-content card">
                <div class="tab-pane fade in show active" id="general"
                     role="tabpanel">
                    <div class="clearfix">
                        <table id="table_general"
                               class="table table-sm  table-hover display">
                            <thead>
                            <tr class="text-primary">
                                <th><input name="select_all" value="1" type="checkbox"></th>
                                <th>Bid Details</th>
                                <th>Influencer</th>
                                <th>Platform</th>
                                <th>Followers</th>
                                <th>Engagement</th>
                                <!-- <th style="width: 16%;">Audience Credibility</th> -->
                                <th style="width: 16%;">Estimated Pricing</th>
                                <th># Of Bids</th>
                                <th class="text-center" style="width: 167.6px;">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="influencer : ${influencers}">
                                <tr th:id="${influencer.influencerId}">
                                    <td></td>
                                    <td><a href="#"
                                           th:data-handle="${influencer.influencerHandle}"
                                           th:onclick="|openPostModal('${influencer.platform}')|"
                                           style="padding: 1rem"
                                           class="expand-campaign-bid text-primary"><i
                                            class="fas fa-ellipsis-v"
                                            style="position: relative; left: -0.5rem;"></i></a></td>
                                    <td><a
                                            th:href="'/brand/view-influencer/'+${influencer.influencerId}+'?isValid=true&platform='+${influencer.platform}"
                                            target="_blank"><span style="color: #2f008d;"
                                                                  th:text="${influencer.influencerHandle}"></span></a><a
                                            style="float: right; color: #2f008d; font-size: 1.2rem;"
                                            th:href="${influencer.influencerLink}" target="_blank"><i
                                            th:if="${influencer.platform} == 'instagram'"
                                            class="fab fa-instagram"></i> <i
                                            th:if="${influencer.platform} == 'youtube'"
                                            class="fab fa-youtube"></i> <img
                                            th:if="${influencer.platform} == 'tiktok'"
                                            style="width: 18px; height: 18px; margin-bottom: 5px;"
                                            th:src="@{/static/svgs/brands/tiktok.svg}"></a></td>
                                    <td
                                            th:text="|${T(io.smartfluence.util.ThymeUtils).getPlatform(influencer.platform)}|"></td>
                                    <td th:data-sort="${influencer.followers}"
                                        th:text="|${T(io.smartfluence.util.ThymeUtils).formatNumber(influencer.followers)}|"></td>
                                    <td th:data-sort="${influencer.engagement}"
                                        th:text="|${T(io.smartfluence.util.ThymeUtils).formatNumber(influencer.engagement)}|"></td>
                                    <!-- <td
                                        th:text="|${#numbers.formatDecimal(influencer.audienceCredibility * 100, 1, 'COMMA', 2, 'POINT')}%|"></td> -->
                                    <td th:data-sort="${influencer.influencerPricing}"
                                        th:text="|$${T(io.smartfluence.util.ThymeUtils).formatNumber(influencer.influencerPricing)}|"></td>
                                    <td th:text="${influencer.bidCount}"></td>
                                    <td style="text-align: center;">
                                        <div class="row">
                                            <div
                                                    style="margin-left: 12%; margin-top: 2%; cursor: pointer; color: #00bb9b"
                                                    title="Send Bid">
                                                <a href="#SubmitBid" id="submitBidButton"
                                                   data-toggle="modal"
                                                   th:onclick="|setInfluencerId('${influencer.influencerId}','${influencer.influencerPricing}','${influencer.influencerHandle}','${influencer.platform}')|"
                                                   class="fa fa-envelope"></a>
                                            </div>
                                            <div
                                                    style="margin-left: 12%; margin-top: 2%; cursor: pointer; color: #8FBC8F;"
                                                    title="Track Post">
                                                <a href="#postTrackingModal" id="postTracking"
                                                   th:onclick="|trackPostModal('${influencer.influencerId}','${influencer.influencerHandle}','${influencer.platform}')|"
                                                   data-toggle="modal" class="fa fa-chart-line"></a>
                                            </div>
                                            <div style="margin-left: 12%; margin-top: 2%;"
                                                 title="Remove From Campaign">
                                                <a href="#removeInfluencer" data-toggle="modal"
                                                   th:onclick="|setLocalInfluencerId('${influencer.influencerId}')|"><i
                                                        class="fas fa-user-times"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- <div class="tab-pane fade in show" id="postAnalytics"
                        role="tabpanel">
                        <div class="clearfix">
                            <table id="tablePostAnalytics"
                                class="table table-sm  table-hover">
                                <thead>
                                    <tr class="text-primary">
                                        <th>Influencer</th>
                                        <th>Post Name</th>
                                        <th>Post URL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        th:each="campaignPostLinkDetail : ${campaignPostLinkDetails}">
                                        <td><span
                                            th:text="${campaignPostLinkDetail.influencerHandle}"></span><a
                                            style="float: right; color: #2f008d; font-size: 1.2rem;"
                                            th:href="${campaignPostLinkDetail.influencerLink}"
                                            target="_blank"><i class="fab fa-instagram"></i></a></td>
                                        <td th:text="${campaignPostLinkDetail.postName}"></td>
                                        <td th:text="${campaignPostLinkDetail.postURL}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> -->
            </div>
        </div>
    </div>
</div>
<div class="modal multi-step" id="SubmitBid">
    <div class="modal-dialog modal-lg" style="width: 1250px;">
        <div class="modal-content">
            <div class="modal-header row ">
                <div class="col-sm-12 row">
                    <button type="button" class="close" data-dismiss="modal"
                            onclick="resetFormSubmitBid()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="col-sm-12 m-progress row">
                    <div class="round col-sm ">
                        <input type="radio" id="progress-step-1" class="form-radio">
                        <label class="submitBid-tab-label" for="progress-step-1">Submit
                            Bid</label>
                    </div>
                    <div class="round col-sm">
                        <input type="radio" id="progress-step-2" class="form-radio">
                        <label class="mailTemplate-label" for="progress-step-2">Mail
                            Template</label>
                    </div>
                    <div class="round col-sm">
                        <input type="radio" id="progress-step-3" class="form-radio">
                        <label for="progress-step-3">Confirm</label>
                    </div>
                </div>
            </div>
            <div class="modal-body step-1" data-step="1">
                <div class="hide">
                    <div class="alert alert-info text-center">Submitting a bid
                        will send an email to the influencer and to your registered
                        email, with details of the bid.
                    </div>
                    <form class="row">
                        <div class="d-none">
                            <label for="platform-submit-bid">Platform</label> <input
                                type="text" id="platform-submit-bid" name="platform-submit-bid"
                                required="required" class="form-control"
                                placeholder="Enter Platform" disabled>
                            <div class="text-danger" id="platform-submit-bidInvalid"></div>
                        </div>
                        <div class="col-md-3 md-form pl-0 d-inline-block affiliate yt">
                            <label id="labelPayment" for="paymentType" class="active">
                                Payment Type</label> <select name="paymentType" required="required"
                                                             id="paymentType" class="mdb-select form-control">
                        </select>
                            <div class="text-danger" id="paymentTypeInvalid"></div>
                        </div>
                        <div
                                class="col-md-3 md-form pl-0 d-inline-block not-affiliate yt">
                            <label id="labelPost" for="postType" class="active">
                                Post Type</label> <select name="postType" required="required"
                                                          id="postType" class="mdb-select form-control">
                        </select>
                            <div class="text-danger" id="postTypeInvalid"></div>
                        </div>
                        <div id="bidPostDuration"
                             class="col-md-3 md-form pl-0 d-inline-block not-affiliate">
                            <label for="postDuration" class="active"> Post Duration</label>
                            <select name="postDuration" required="required"
                                    id="postDuration" class="mdb-select form-control">
                            </select>
                            <div class="text-danger" id="postDurationInvalid"></div>
                        </div>
                        <div class="col-md-3 md-form pl-0 d-none affiliate"
                             id="affiliateSuffixDiv">
                            <label for="affiliateType" class="active">Payment Mode</label> <select
                                name="affiliateType" required="required" id="affiliateType"
                                class="input-group-text md-addon mdb-select form-control">
                            <option value="%">% of Sales</option>
                            <option value="$">$ per Sale</option>
                        </select>
                            <!-- <span class="input-group-text md-addon">.00</span> -->
                        </div>
                        <div class="col-md-3 md-form pl-0 d-inline-block affiliate yt">
                            <label id="bidAmountLabel" for="bid">Bid Amount in $</label> <input
                                type="text" id="bid" name="bidAmount" required="required"
                                min="1" placeholder="0" class="form-control number-format">
                            <div class="text-danger" id="bidAmountInvalid"></div>
                        </div>
                    </form>
                    <div id="payment-non-cash" style="display: none">
                        <!-- <i class="fas fa-info-circle" style="color: #2f008d;"></i> -->
                        <span style="font-size: 14px;">Please include the cash
								equivalent value of the product, service or shoutout you are
								providing in the bid amount</span>
                    </div>
                </div>
            </div>
            <div class="modal-body step-2 " data-step="2">
                <div class="row">
                    <div class="col-sm-12 row p-0">
                        <div class="col-sm-9 md-form pl-0 d-inline-block">
                            <label id="mailCcLabel" for="mailCc">CC</label> <input
                                type="email" id="mailCc" name="mailCc" required="required"
                                placeholder="CC" class="form-control " multiple>
                            <div class="text-danger" id="mailCcInvalid"></div>
                        </div>
                        <div class="col-sm-3 md-form pl-0 d-inline-block">
                            <label for="mailTemplate" class="active">Mail Template</label> <select
                                name=" mailTemplate" required="required" id="mailTemplate"
                                class="mdb-select form-control">
                            <option value="" hidden="true">Select Mail Template</option>
                            <th:block th:each="entry : ${mailTemplates}">
                                <option
                                        th:classappend="|${entry.paymentType} ${entry.subPaymentType} ${entry.isUserCreated ? 'true' : 'false'} ${entry.id}|"
                                        th:value="${entry.id}"
                                        th:attr="data-value=${entry.mailBody},data-subject=${entry.mailSubject},data-isUserCreated=${entry.isUserCreated}?true:false"
                                        th:text="${entry.templateName}" hidden="hidden"></option>
                            </th:block>
                        </select>
                            <div class="text-danger" id="mailTemplateInvalid"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 md-form pl-0 d-inline-block">
                        <label id="mailSubjectLabel" for="mailSubject">Subject</label> <input
                            type="text" id="mailSubject" name="mailSubject"
                            required="required" placeholder="Subject" class="form-control ">
                        <div class="text-danger" id="mailSubjectInvalid"></div>
                    </div>
                    <div class="col-sm-12 md-form pl-0 d-inline-block">
                        <textarea id="mailTextArea" rows="6" style="width: 100%;"></textarea>
                        <div class="text-danger" id="mailTextAreaInvalid"></div>
                    </div>
                </div>
            </div>
            <div class="modal-body step-3 " data-step="3">
                <div class="row">
                    <div class="col-sm-12 pt-3 pb-3">
                        <span style="font-size: 16px; font-weight: 400;" id="step3Body"></span>
                        <table class="d-none submitBidTable"
                               style="width: 100%; margin-top: 3%;">
                            <thead>
                            <tr>
                                <th style="color: #2f008d;">Payment Type</th>
                                <th id="postTypeTableLabel" style="color: #2f008d;">Post
                                    Type
                                </th>
                                <th id="postDurationTableLabel" style="color: #2f008d;">Post
                                    Duration
                                </th>
                                <th id="paymentModeTableLabel" class="d-none"
                                    style="color: #2f008d;">Payment Mode
                                </th>
                                <th id="bidAmountTableLabel" style="color: #2f008d;">Bid
                                    Amount
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td id="paymentTypeTable"></td>
                                <td id="postTypeTable"></td>
                                <td id="postDurationTable"></td>
                                <td class="d-none" id="paymentModeTable"></td>
                                <td id="bidAmountTable"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary"
                    onclick="resetFormSubmitBid()" data-dismiss="modal">Cancel</button> -->
                <span id="pricing" class="step-1" data-step="1"
                      style="margin-top: 5px; font-weight: initial; font-size: 14px; margin-right: auto;">
						<i class="fas fa-info-circle" style="color: #2f008d;"></i><span
                        style="font-weight: 500; padding-left: 6px; font-size: 17px;">Estimated
							pricing for permanent post: </span><span
                        style="font-weight: 500; padding-left: 6px; font-size: 17px;"
                        id="estimatedPrice"></span>
					</span>
                <button type="submit"
                        class="btn btn-sm btn-primary step step-1 submitBid"
                        onclick="validateSubmitBid()" data-step="1">Next
                </button>
                <button type="button"
                        class="btn btn-sm btn-secondary step step-2 back" data-step="2"
                        onclick="sendEvent('#SubmitBid', 1)">Back
                </button>
                <button type="submit"
                        class="btn btn-sm btn-primary step step-2 submitBid"
                        onclick="validateMailContent()" data-step="2">Next
                </button>
                <button type="button"
                        class="btn btn-sm btn-secondary step step-3 back-2" data-step="3"
                        onclick="sendEvent('#SubmitBid', 2)">Back
                </button>
                <button type="button" class="btn btn-sm btn-primary step step-3"
                        id="submitBid" data-step="3" onclick="submitBid()">Confirm
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="SubmitBidSuccessMessage" tabindex="-1"
     role="dialog" aria-labelledby="SubmitBidSuccessMessageLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" id="SubmitBidLabel">Submitted
                    Successfully</h5>
                <button type="button" class="close" data-dismiss="modal"
                        onclick="resetForms();$('#payment-non-cash').hide();"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="bidMessage"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="viewNameMessage" tabindex="-1"
     role="dialog" aria-labelledby="viewNameMessageLabel" style="top: 12%;"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title text-primary tect-center" id="viewNameLabel"></h5>
                <button type="button" class="close" data-dismiss="modal"
                        onclick="resetForms();$('#payment-non-cash').hide();"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="bidMessage"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="removeInfluencer" tabindex="-1"
     role="dialog" aria-labelledby="removeInfluencerLabel"
     style="top: 12%;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary tect-center"
                    id="removeInfluencerHeader">Remove Influencer</h5>
                <button type="button" class="close" data-dismiss="modal"
                        onclick="resetForms();$('#payment-non-cash').hide();"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="removeInfluencerBody">Are you sure that you want to
                    remove the Influencer from the Campaign ?
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary"
                        onclick="resetForms();$('#payment-non-cash').hide();"
                        data-dismiss="modal">Cancel
                </button>
                <button type="submit" class="btn btn-sm btn-primary"
                        onclick="removeInfluencer()">Ok
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exportToCsvModal" tabindex="-1"
     role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" id="SubmitBidLabel">Export
                    To CSV</h5>
                <button type="button" class="close" data-dismiss="modal"
                        onclick="resetExportToCsvModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <span id="fileReadyMessage">Your file is getting ready.</span>
                <div class="" style="display: inline-block"
                     id="reportMessageLoader">
                    <div class="loader"></div>
                </div>
                <span id="downloadCsv" class="d-none">Your file is ready.
						Click <span id="downloadCsvbutton"
                                    style="cursor: pointer; color: #2f008d;" onclick="downloadCSV()">here</span>
						to download.
					</span>
            </div>
            <!-- <div class="modal-footer row p-2 d-none"
                    id="searchInfluencerModalFooter">
                    <div class="col-sm-12 " id="reportMessageDiv"
                        style="text-align: center;">
                        <span style="font-weight: 400;" id="reportMessage">Your
                            report will download shortly</span><span id="reportMessageCount"></span>
                    </div>
                </div> -->
        </div>
    </div>
</div>
<div class="modal fade" id="mailTemplateModal" tabindex="-1"
     role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document"
         style="height: 97%;">
        <div class="modal-content" style="height: 80%;">
            <div class="modal-header">
                <h5 class="modal-title text-primary" id="mailTemplatesLabel"
                    style="margin-top: 1%;">Mail Templates</h5>
                <div id="createNewTemplate" class="row"
                     style="margin-left: 55% !important;">
                    <a type="button" class="btn btn-primary btn-sm waves-effect"
                       onclick="viewMailEditPage('Create New Template',null)">Create
                        New Template</a>
                </div>
                <div style="margin-top: 1%;">
                    <button type="button" class="close" data-dismiss="modal"
                            onclick="resetMailTemplate()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body"
                 style="overflow-y: auto; max-height: calc(117% - 120px); overflow-x: hidden !important;">
                <div class="tab-pane fade in show active" id="mailTemplateTable"
                     role="tabpanel">
                    <div class="clearfix">
                        <table id="table_mailTemplate"
                               class="table table-sm  table-hover">
                            <thead>
                            <tr class="text-primary">
                                <th style="text-align: start;">Templates</th>
                                <th style="width: 167.6px;">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="mailTemplate : ${mailTemplates}">
                                <tr th:if="${mailTemplate.isUserCreated}">
                                    <td style="text-align: start;"
                                        th:text="${mailTemplate.templateName}"></td>
                                    <td style="text-align: center;">
                                        <div class="row">
                                            <div style="margin: auto;">
                                                <a id="viewEditMailPage"
                                                   th:onclick="|viewMailEditPage('${mailTemplate.templateName}','${mailTemplate.id}')|"
                                                   class="btn btn-primary btn-sm waves-effect">Edit</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="d-none tab-pane fade in show active" id="editTemplate"
                     role="tabpanel">
                    <form class="row" id="editTemplateForm">
                        <div class="col-md-12 md-form p-0 d-inline-block">
                            <label for="templateName">Template Name</label> <input
                                type="text" id="templateName" name="templateName"
                                required="required" class="form-control"
                                placeholder="Enter Template Name">
                            <div class="text-danger d-none" id="templateNameInvalid"></div>
                        </div>
                        <div class="col-md-12 md-form p-0 d-inline-block">
                            <div class="row">
                                <div class="col-md-9  md-form pl-0 d-inline-block">
                                    <label for="templateSubject">Subject</label> <input
                                        type="text" id="templateSubject" name="templateSubject"
                                        required="required" class="form-control"
                                        placeholder="Enter Subject">
                                    <div class="text-danger d-none" id="templateSubjectInvalid"></div>
                                </div>
                                <div class="col-md-3 md-form p-0 d-inline-block">
                                    <label for="mailTemplate" class="active">Variables</label> <select
                                        name=" Variables" required="required" id="variables"
                                        class="mdb-select form-control">
                                    <option value="variables">Variables</option>
                                    <option value="<Influencer Handle>">Influencer
                                        Handle
                                    </option>
                                    <option value="<Brand Name>">Brand Name</option>
                                    <option value="<Estimated Pricing>">Estimated
                                        Pricing
                                    </option>
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 md-form p-0 d-inline-block">
								<span style="font-size: .8rem; cursor: text; color: #757575;">Mail
									Content</span>
                            <textarea id="templateTextArea" rows="6" style="width: 100%;"></textarea>
                            <div class="text-danger d-none" id="templateTextAreaInvalid"></div>
                        </div>
                    </form>
                    <div style="padding-top: 1.3rem !important; float: right;">
                        <button id="editTemplateBack" type="button"
                                class="btn btn-sm btn-secondary" onclick="viewTemplatePage()">Back
                        </button>
                        <button type="submit" id="saveTemplate"
                                class="btn btn-sm btn-primary" onclick="saveTemplate()">Save
                        </button>
                    </div>
                </div>
            </div>
            <!-- <div class=" modal-footer row p-2 d-none" id="searchInfluencerModalFooter">
                <div class="col-sm-12 " id="reportMessageDiv"
                    style="text-align: center;">
                    <span style="font-weight: 400;" id="reportMessage">Your
                        report will download shortly</span><span id="reportMessageCount"></span>
                </div>
            </div> -->
        </div>
    </div>
</div>
<div class="modal fade" id="bulkMailModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-primary">Send Bulk Email</h4>
                <button type="button" class="close" data-dismiss="modal"
                        onclick="resetModal()" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 d-inline-block md-form p-0"
                         style="margin-top: 0 !important;">
							<span
                                    style="color: #757575; position: relative; top: 30%; font-size: 16px;">Select
								email template to send in bulk</span>
                    </div>
                    <div id="dropdownTemplates"
                         class="col-sm-12 md-form p-0 d-inline-block"
                         style="margin-top: 2% !important;">
                        <select name=" mailTemplate" required="required"
                                id="bulkMailTemplate" class="mdb-select form-control">
                            <option value="" hidden="true">Mail Template</option>
                            <th:block th:each="entry : ${mailTemplates}">
                                <option th:if="${entry.isUserCreated}" th:value="${entry.id}"
                                        th:text="${entry.templateName}"></option>
                            </th:block>
                        </select>
                        <div class="text-danger" id="bulkMailTemplateInvalid"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="sendBulk" type="button"
                        class="btn btn-primary btn-sm waves-effect"
                        onclick="sendBulkMail()">Send
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="postTrackingModal" tabindex="-1"
     role="dialog" aria-labelledby="addPostModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" id="SubmitBidLabel">Post
                    Tracking</h5>
                <button type="button" class="close" data-dismiss="modal"
                        onclick="resetForms();$('#payment-non-cash').hide();"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="row">
                    <div class="col-md-12 md-form p-0 d-inline-block">
                        <label for="postNameModal">Post Name</label> <input type="text"
                                                                            id="postNameModal" name="postNameModal"
                                                                            required="required"
                                                                            class="form-control"
                                                                            placeholder="Enter Post Name" disabled>
                        <div class="text-danger" id="postNameModalInvalid"></div>
                    </div>
                    <div class="d-none">
                        <label for="platformModal">Platform</label> <input type="text"
                                                                           id="platformModal" name="platformModal"
                                                                           required="required"
                                                                           class="form-control"
                                                                           placeholder="Enter Platform" disabled>
                        <div class="text-danger" id="platformModalInvalid"></div>
                    </div>
                    <div class="col-md-12 md-form p-0 d-inline-block">
                        <label id="labelPaymentType" for="paymentTypeModal"
                               class="active"> Payment Type</label><select name="paymentType"
                                                                           required="required" id="paymentTypeModal"
                                                                           class="mdb-select form-control">
                    </select>
                        <div class="text-danger" id="paymentTypeModalInvalid"></div>
                    </div>
                    <div class="col-md-12 md-form p-0 d-inline-block"
                         id="trackPostType">
                        <label id="labelPost" for="postType" class="active"> Post
                            Type</label> <select name="postType" required="required"
                                                 id="postTypeModal" class="mdb-select form-control">
                    </select>
                        <div class="text-danger" id="postTypeModalInvalid"></div>
                    </div>
                    <div class="col-md-12 md-form p-0 d-inline-block"
                         id="trackPostDuration">
                        <label for="postDuration" class="active"> Post Duration</label> <select
                            name="postDurationModal" required="required"
                            id="postDurationModal" class="mdb-select form-control">
                    </select>
                        <div class="text-danger" id="postDurationModalInvalid"></div>
                    </div>
                    <div class="d-none" id="trackPaymentMode">
                        <label for="paymentMode" class="active"> Payment Mode</label> <select
                            name="paymentTypeModal" required="required"
                            id="paymentModeModal" class="mdb-select form-control">
                        <option value="% of Sales">% of Sales</option>
                        <option value="$ per Sale">$ per Sale</option>
                    </select>
                        <div class="text-danger" id="paymentModeModalInvalid"></div>
                    </div>
                    <div class="d-none" id="trackAffiliatePercentage">
                        <label id="paymentMode" for="paymentMode" class="active">
                            Affiliate %</label> <input type="text" id="affiliatePercentageModal"
                                                       name="affiliatePercentage" required="required"
                                                       class="form-control" placeholder="0">
                        <div class="text-danger" id="affiliatePercentageModalInvalid"></div>
                    </div>
                    <div class="d-none" id="trackAffiliateFee">
                        <label id="paymentMode" for="paymentMode" class="active">
                            Affiliate Fee</label> <input type="text" id="affiliateFeeModal"
                                                         name="affiliateFee" required="required" class="form-control"
                                                         placeholder="0">
                        <div class="text-danger" id="affiliateFeeModalInvalid"></div>
                    </div>
                    <div class="col-md-12 md-form p-0 d-inline-block"
                         id="trackBidAmount">
                        <label for="bidAmountModal">Bid Amount</label> <input type="text"
                                                                              id="bidAmountModal" name="bidAmountModal"
                                                                              required="required"
                                                                              class="form-control form-control number-format"
                                                                              placeholder="Enter Bid Amount">
                        <div class="text-danger d-none" id="bidAmountModalInvalid"></div>
                    </div>
                    <div class="col-md-12 md-form p-0 d-inline-block">
                        <label for="postURL">Post URL</label> <input type="text"
                                                                     id="postUrlModal" name="postURL"
                                                                     required="required"
                                                                     class="form-control" placeholder="Enter Post URL">
                        <div class="text-danger d-none" id="postUrlModalInvalid"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="padding: .5rem !important;">
                <button type="button" class="btn btn-sm btn-secondary"
                        data-dismiss="modal">Cancel
                </button>
                <button type="submit" id="postTrackingSubmit"
                        class="btn btn-sm btn-primary">Track
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="uploadInfluencersModal" tabindex="-1"
     role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary">Upload Influencers</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="downloadTemplate" class="modal-body"
                 style="text-align: center;">
					<span>Click <span style="cursor: pointer; color: #2f008d;"
                                      onclick="downloadTemplate()">here</span> to download the template
						for uploading influencers.
					</span>
            </div>
            <div id="alreadyAddedError" class="modal-body d-none">
                <div>These Influencers have already been added to the
                    Campaign :
                </div>
                <div id="influencersNotAdded" style="color: red;">Added</div>
            </div>
            <div id="notFoundError" class="modal-body d-none">
                <div>Influencers not found :</div>
                <div id="influencersNotFound" style="color: red;">Found</div>
            </div>
            <div id="tryAgainError" class="modal-body d-none">
                <div>The below influencer data will be available in 15
                    minutes. Please try uploading again after 15 minutes! :
                </div>
                <div id="influencersPulling" style="color: red;">Pulling</div>
            </div>
            <div id="uploadError" class="modal-footer d-none">
                <button id="uploadErrorBtn" type="submit"
                        class="btn btn-sm btn-primary">Ok
                </button>
            </div>
            <div id="uploadTemplate" class="modal-footer d-none">
					<span>Fill the downloaded template with Influencer usernames
						and select the file using the Browse button. <br> <span
                                style="color: #2f008d;">Note : </span>Please do not have empty
						rows between Influencer usernames
					</span>
                <button id="browseBtn" type="submit" class="btn btn-sm btn-primary">
                    Browse
                </button>
                <button id="uploadingBtn" type="submit"
                        class="btn btn-sm btn-primary disabled d-none">
                    Uploading
                    <svg style="color: white;"
                         class="svg-inline--fa fa-sync-alt fa-w-16 fa-spin"
                         aria-hidden="true" data-prefix="fas" data-icon="sync-alt"
                         role="img" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 512 512" data-fa-i2svg="">
                        <path fill="currentColor"
                              d="M370.72 133.28C339.458 104.008 298.888 87.962 255.848 88c-77.458.068-144.328 53.178-162.791 126.85-1.344 5.363-6.122 9.15-11.651 9.15H24.103c-7.498 0-13.194-6.807-11.807-14.176C33.933 94.924 134.813 8 256 8c66.448 0 126.791 26.136 171.315 68.685L463.03 40.97C478.149 25.851 504 36.559 504 57.941V192c0 13.255-10.745 24-24 24H345.941c-21.382 0-32.09-25.851-16.971-40.971l41.75-41.749zM32 296h134.059c21.382 0 32.09 25.851 16.971 40.971l-41.75 41.75c31.262 29.273 71.835 45.319 114.876 45.28 77.418-.07 144.315-53.144 162.787-126.849 1.344-5.363 6.122-9.15 11.651-9.15h57.304c7.498 0 13.194 6.807 11.807 14.176C478.067 417.076 377.187 504 256 504c-66.448 0-126.791-26.136-171.315-68.685L48.97 471.03C33.851 486.149 8 475.441 8 454.059V320c0-13.255 10.745-24 24-24z">
                        </path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteCampaignModal" tabindex="-1"
     role="dialog" aria-labelledby="" style="top: 12%;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary tect-center">Delete
                    Campaign</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="deleteCampaignMessage"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary"
                        data-dismiss="modal">Cancel
                </button>
                <button type="submit" class="btn btn-sm btn-primary"
                        onclick="deleteCampaign()">Ok
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="copyInfluencersModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-primary">Copy Influencers</h4>
                <button type="button" class="close" data-dismiss="modal"
                        onclick="resetModal()" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 md-form p-0 d-inline-block"
                         style="margin-top: 2% !important;">
                        <select name=" copyInfluencers" required="required"
                                id="campaignId" class="mdb-select form-control">
                            <option value="" hidden="true">Select Campaign</option>
                            <!--								<th:block th:each="campaign : ${campaigns}">-->
                            <!--									<option th:value="${campaign.campaignId}"-->
                            <!--										th:text="${campaign.campaignName}"></option>-->
                            <!--								</th:block>-->
                            <th:block th:each="newCampaignName : ${allActiveCampaigns}">
                                <option th:text="${newCampaignName.campaign_name}"
                                        th:value="${newCampaignName.campaign_id}"></option>
                            </th:block>

                        </select>
                        <div class="text-danger" id="campaignIdInvalid"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="copyInfluencersConfirm" type="button"
                        class="btn btn-primary btn-sm waves-effect"
                        onclick="copyToCampaign()">Confirm
                </button>
            </div>
        </div>
    </div>
</div>

<th:block th:insert="footer"/>
<!-- <script type="text/javascript" th:src="@{/static/dt_new/datatables.min.js}"></script> -->
<script type="text/javascript" th:src="@{/static/dt_new/datatables.min.js}"></script>
<script type="text/javascript"
        th:src="@{/static/js/dataTables.checkboxes.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/moment.min.js}"></script>
<script type="text/javascript"
        th:src="@{/static/js/moment-timezone.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/xlsx.full.min.js}"></script>
<script th:inline="javascript">
	    var campaignDetails =  /*[[${campaignDetails}]]*/;
	    var campaigns =  /*[[${campaigns}]]*/;
		var influencerCount = /*[[${campaignDetails.influencerCount}]]*/;
		var bids = /*[[${snapshots}]]*/;
		var campaignPostLinkDetails = /*[[${campaignPostLinkDetails}]]*/;
		var influencers = /*[[${influencers}]]*/;
		var allActiveCampaigns = /*[[${allActiveCampaigns}]]*/;
		var profileDetails = /*[[${profileDetails}]]*/;
		var mailTemplates = /*[[${mailTemplates}]]*/;
		var campaignNameOriginal = /*[[${campaignDetails.campaignName}]]*/;

</script>
<script>
		sendEvent = function(sel, step) {
			$(sel).trigger('next.m.' + step);
		}

</script>
<script type="text/javascript"
        th:src="@{/static/script/brand/view_campaign.js}"></script>
</body>
</html>