<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
.in-carousel-container {
	width: 400px;
	height: 460px;
	margin: 20px auto;
}

.in-carousel {
	width: 400px;
	height: 400px;
	background: #ddd;
	overflow: hidden;
}

.in-carousel-item {
	width: inherit;
	height: inherit;
	float: left;
	display: none;
}

.in-carousel-item p {
	color: #fff;
	margin: 0;
	line-height: 300px;
	font-family: Calibri;
	font-size: 50px;
	text-align: center;
}

#item1 {
	background: #404040;
}

#item2 {
	background: #404040;
}

#item3 {
	background: #404040;
}

#item4 {
	background: #404040;
}

.carousel-controls {
	width: inherit;
	height: 35px;
}

.in-carousel-container .carousel-controls .col-sm-12>a {
	color: #777;
	font-family: Calibri;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 2s;
}

.in-carousel-container .carousel-controls>a:hover {
	color: #222;
}

.carousel-status {
	margin: 0;
	color: #444;
	font-family: Calibri;
	font-size: 12px;
	text-align: center;
}





    </style>

    <script th:inline="javascript">
                    var allActiveCampaigns = /*[[${allActiveCampaigns}]]*/


    </script>
    <script type="text/javascript"
            th:src="@{/static/script/brand/view_influencer.js}"></script>
    <script type="text/javascript">
	// Variables:
	var nItems = 0;
	var iCurrentSlide = 1;
	var iNextSlide = 2;
	var iSlideInterval = 30; // in seconds
	var looper = null;

	$(document).ready(function() {
		// Show the first slide and start the slide show:
		$('.in-carousel > #item1').show();
		startSlider();

		// Make the slide show stop on slide hover:
		$('.in-carousel > div').hover(
		function () {
			// onmouseover
			window.clearInterval(looper);
		},
		function () {
			// onmouseout
			startSlider();
		});
		
	});

	function startSlider() {
		nItems = $('.in-carousel > div').length;

		/* looper = setInterval(function () {
			if (iNextSlide > nItems) {
				iCurrentSlide = 1;
				iNextSlide = 1;
			}

			$('.in-carousel > div').hide();
			$('.in-carousel > #item' + iNextSlide).show();

			iCurrentSlide = iNextSlide;
			iNextSlide++;
		}, iSlideInterval * 1000); */
	}

	function showSlide(isPrev) {
		window.clearInterval(looper);
		var iNewSlide = 0;

		if (isPrev) {
			// Show previous slide:
			iNewSlide = --iCurrentSlide;
		} else {
			// Show next slide:
			iNewSlide = ++iCurrentSlide;
		}

		if (iNewSlide > nItems)
			iNewSlide = 1;else
		if (iNewSlide < 1)
			iNewSlide = nItems;

		$('.in-carousel > div').hide();
		$('.in-carousel > #item' + iNewSlide).show();

		iCurrentSlide = iNewSlide;
		iNextSlide = iNewSlide + 1;

		startSlider();
	}





    </script>
    <script type="text/javascript"
            th:src="@{/static/script/brand/view_influencer.js}"></script>
</head>

<div class="card" style="margin-left: 28px; width:90%">
    <div class="panel card-body clearfix bg-lightGreen">
        <div class="wid-148 pull-left">
            <img id="instagramStory" data-toggle="modal"
                 data-target="#instaStoryModal" height="148" width="148"
                 style="border-radius: 50%;"
                 th:src="@{'data:image/jpeg;base64,'+${influencerModel.profileImage}}"
                 onerror="this.src='/static/img/avatar.png'">
        </div>
        <div class="wid-100per-148 py-2 h-149 pull-left bg-lightGreen">
            <div class="row">
                <div class="col-sm-8 text-banner">
                    <div class="row">
                        <div class="col-sm-5">
                            <h5 class="m-0">
								<span class="mb-2" id="influencerHandle"
                                      th:classappend="${influencerModel.subscribed}?name:blurred-name"
                                      th:text="${influencerModel.subscribed?influencerModel.influencerHandle:#strings.replace(influencerModel.influencerId,'-','')}">
								</span> <a th:if="!${influencerModel.subscribed}" href="#"
                                           data-toggle="tooltip" data-placement="right"
                                           sec:authorize="hasAuthority('ROLE_BRAND_APPROVED')||hasAuthority('ROLE_BRAND_INACTIVE')"
                                           onclick="viewName(this)"
                                           class="name-reveal btn btn-sm btn-primary">Reveal handle</a> <span
                                    class="pl-1"><a target="_blank"
                                                    id="influencerInstagramLink" class="d-none"><i
                                    class="fab fa-instagram fa-lg"></i></a> <a target="_blank"
                                                                               id="influencerYoutubeLink"
                                                                               class="d-none"><i
                                    class="fab fa-youtube fa-lg"></i></a> <a target="_blank"
                                                                             id="influencerTiktokLink"
                                                                             class="d-none"><img
                                    style="width: 18px; height: 18px; margin-bottom: 5px;"
                                    th:src="@{/static/svgs/brands/tiktok.svg}"></a></span>
                            </h5>
                            <!-- <h6>
                            <i class="fa fa-map-marker text-primary"></i> <span
                                    th:text="${influencerModel.location==null?'N/A':influencerModel.location} "></span>
                            </h6> -->
                            <!-- <p>
                                Brand Relevance: <span
                                    th:text="${influencerModel.brandRelevance}"></span>
                            </p> -->
                            <th:block th:if="${influencerModel.engagementRate} != null">
                                <p class="campaignName mb-1" id="engagement"
                                   th:classappend="${influencerModel.subscribed} ? mt-4 : mt-3">
                                    Engagement Rate: <span
                                        th:text="|${T(io.smartfluence.util.ThymeUtils).formatNumber(influencerModel.engagementRate * 100)}|+'%'"></span>
                                </p>
                            </th:block>
                            <th:block th:if="${influencerModel.engagementRate} == null">
                                <p class="mb-1" id="engagement"
                                   th:classappend="${influencerModel.subscribed} ? mt-4 : mt-3">
                                    Engagement: <span
                                        th:text="|${T(io.smartfluence.util.ThymeUtils).formatNumber(influencerModel.engagement)}|"></span>
                                </p>
                            </th:block>
                            <p class="mb-2">
                                Followers: <span
                                    th:text="|${T(io.smartfluence.util.ThymeUtils).formatNumber(influencerModel.followers)}|"></span>
                            </p>
                            <p class="mb-2"
                               th:if="${influencerModel.platform} == 'instagram'">
                                Audience Authenticity: <span
                                    th:text="|${#numbers.formatDecimal(influencerModel.audienceCheck * 100, 1, 'COMMA', 2, 'POINT')}%|"></span>
                            </p>
                            <p class="mb-2"
                               th:if="${influencerModel.platform} != 'instagram'">
                                Average Views: <span
                                    th:text="|${T(io.smartfluence.util.ThymeUtils).formatNumber(influencerModel.avgViews)}|"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div>
                        <label for="campName" class="active" style="padding-right:120px;font-weight: 500;"> Campaign
                            Name</label>
                        <select required="required" id="campName" style="background-color:transparent">
                            <option value="">Select Campaign Name</option>
                            <th:block th:each="newCampaignName : ${allActiveCampaigns}">
                                <option th:text="${newCampaignName.campaign_name}"
                                        th:value="${newCampaignName.campaign_id}"></option>
                            </th:block>
                        </select>
                        <div class="text-danger" id="invalidCampaign"></div>
                    </div>
                    <div class="col-sm-12 py-2 text-center" style="margin-top: 20px;">
                        <div style="display: flex;justify-content: flex-end;">
                            <button id="add_to_campaign" class="btn btn-primary btn-sm m-0  waves-effect waves-light"
                                    onclick="addProfilestoCampaignReq()">
                                Add to Campaign
                            </button>
                            <div style="width:20px"></div>
                            <button onclick="generateReport()"
                                    class="btn btn-primary btn-sm m-0  waves-effect waves-light"> Audience Report
                            </button>
                        </div>
                        <div style="">
                            <p th:if="${influencerModel.platform == 'instagram'} " class="mb-1 "
                               style="margin-top: 10px;text-align: end;font-weight: 800;">
                                Estimated Pricing For Permanent Post: <span
                                    th:text="|$${T(io.smartfluence.util.ThymeUtils).formatNumber(influencerModel.lastPrice)}|"></span>
                            </p>
                        </div>
                        <!-- <p th:if="${influencerModel.isValid}" class="mb-1">
                            Estimated Pricing For Permanent Post: <span
                                th:text="|$${T(io.smartfluence.util.ThymeUtils).formatNumber(influencerModel.lastPrice)}|"></span>
                        </p> -->
                        <div class="col-sm-12 d-none pl-0 pr-0" id="reportMessageDiv"
                             style="text-align: center;">
						<span style="font-weight: 400;" id="reportMessage">Your
							report will download shortly</span><span id="reportMessageCount"></span>
                            <div class="" style="display: inline-block">
                                <div id="reportMessageLoader" class="loader"></div>
                            </div>
                        </div>
                    </div>


                    <div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- insta Stoties -->
<div class="modal fade" id="instaStoryModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="background: none;">
            <div class="in-carousel-container">
                <!--   <div class="animated yt-loader"></div> -->
                <div class="in-carousel"></div>
                <div class="carousel-controls row">
                    <div class="col-sm-12">
                        <a href="#" class="left1" onclick="showSlide(true); return false;"><i
                                class="fa fa-chevron-circle-left"></i> </a> <a href="#"
                                                                               class="right1"
                                                                               onclick="showSlide(false); return false;"
                                                                               style="float: right;"> <i
                            class="fa fa-chevron-circle-right"></i>
                    </a>
                    </div>
                </div>
                <!-- <p class="carousel-status">SLIDESHOW: <span id="status-indicator">started</span></p> -->
            </div>
        </div>
    </div>
</div>

<div class="modal multi-step" id="SubmitBid">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header row ">
                <div class="col-sm-12 row">
                    <button type="button" class="close" data-dismiss="modal"
                            onclick="resetFormSubmitBid()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="col-sm-12 m-progress row">
                    <div class="round col-sm">
                        <input type="radio" id="progress-step-1" checked="checked"
                               class="form-radio"> <label for="progress-step-1">Add
                        Campaign</label>
                    </div>
                    <div class="round col-sm ">
                        <input type="radio" id="progress-step-2" class="form-radio">
                        <label class="submitBid-tab-label" for="progress-step-2">Submit
                            Bid</label>
                    </div>
                    <div class="round col-sm">
                        <input type="radio" id="progress-step-3" class="form-radio">
                        <label class="mailTemplate-label" for="progress-step-3">Mail
                            Template</label>
                    </div>
                    <div class="round col-sm">
                        <input type="radio" id="progress-step-4" class="form-radio">
                        <label for="progress-step-4">Confirm</label>
                    </div>
                </div>
            </div>
            <div class="modal-body step-1" data-step="1">
                <div class="row">
                    <div class="col-sm-12 md-form "
                         style="padding-left: 21%; padding-right: 21%;">
                        <label id="labelCampaign" for="campaign" class="active"
                               style="padding-left: 164px;">Campaign Name</label> <input
                            name="campaign" id="campaign" class="mdb-select form-control"
                            placeholder="Select or enter a new campaign name" type="text"
                            list="campaigns" autocomplete="off"/>
                        <datalist id="campaigns">
                            <th:block th:each="campaign : ${campaigns}">
                                <option th:id="${campaign.campaignId}"
                                        th:value="${campaign.campaignName}"></option>
                            </th:block>
                        </datalist>
                        <!--                        <div class="text-danger" id="invalidCampaign"></div>-->
                    </div>
                </div>
            </div>
            <div class="modal-body step-2" data-step="2">
                <div class="hide">
                    <div class="alert alert-info text-center">Submitting a bid
                        will send an email to the influencer and to your registered email,
                        with details of the bid.
                    </div>
                    <div class="row">
                        <div class="d-none">
                            <label for="platform-submit-bid">Platform</label> <input
                                type="text" id="platform-submit-bid" name="platform-submit-bid"
                                required="required" class="form-control"
                                placeholder="Enter Platform" disabled>
                            <div class="text-danger" id="platform-submit-bidInvalid"></div>
                        </div>
                        <div class="col-md-3 md-form pl-0 d-inline-block affiliate yt">
                            <label id="labelPayment" for="paymentType" class="active">
                                Payment Type</label> <select name="paymentType" required="required"
                                                             id="paymentType" class="mdb-select form-control">
                        </select>
                            <div class="text-danger" id="paymentTypeInvalid"></div>
                        </div>
                        <div class="col-md-3 md-form pl-0 d-inline-block not-affiliate yt">
                            <label id="labelPost" for="postType" class="active">Post
                                Type</label> <select name="postType" required="required" id="postType"
                                                     class="mdb-select form-control">
                        </select>
                            <div class="text-danger" id="postTypeInvalid"></div>
                        </div>
                        <div id="view-postDuration"
                             class="col-md-3 md-form pl-0 d-inline-block not-affiliate">
                            <label for="postDuration" class="active"> Post Duration</label> <select
                                name="postDuration" required="required" id="postDuration"
                                class="mdb-select form-control">
                        </select>
                            <div class="text-danger" id="postDurationInvalid"></div>
                        </div>
                        <div class="col-md-3 md-form pl-0 d-none affiliate"
                             id="affiliateSuffixDiv">
                            <label for="affiliateType" class="active">Payment Mode</label> <select
                                name="affiliateType" required="required" id="affiliateType"
                                class="input-group-text md-addon mdb-select form-control">
                            <option value="%">% of Sales</option>
                            <option value="$">$ per Sale</option>
                        </select>
                            <!-- <span class="input-group-text md-addon">.00</span> -->
                        </div>
                        <div class="col-md-3 md-form pl-0 d-inline-block affiliate yt">
                            <label id="bidAmountLabel" for="bid">Bid Amount in $</label> <input
                                type="text" id="bid" name="bidAmount" required="required"
                                min="1" placeholder="0" class="form-control number-format">
                            <div class="text-danger" id="bidAmountInvalid"></div>
                        </div>
                    </div>
                    <div id="payment-non-cash" style="display: none">
						<span style="font-size: 14px;">Please include the cash
							equivalent value of the product, service or shoutout you are
							providing in the bid amount</span>
                    </div>
                </div>
            </div>
            <div class="modal-body step-3 " data-step="3">
                <div class="row">
                    <div class="col-sm-12 row p-0">
                        <div class="col-sm-9 md-form pl-0 d-inline-block">
                            <label id="mailCcLabel" for="mailCc">CC</label> <input
                                type="text" id="mailCc" name="mailCc" required="required"
                                placeholder="CC" class="form-control ">
                            <div class="text-danger" id="mailCcInvalid"></div>
                        </div>
                        <div class="col-sm-3 md-form pl-0 d-inline-block">
                            <label for="mailTemplate" class="active">Mail Template</label> <select
                                name=" mailTemplate" required="required" id="mailTemplate"
                                class="mdb-select form-control">
                            <option value="" hidden="true">Select Mail Template</option>
                            <th:block th:each="entry : ${mailTemplates}">
                                <option
                                        th:classappend="|${entry.paymentType} ${entry.subPaymentType} ${entry.isUserCreated ? 'true' : 'false'}|"
                                        th:value="${entry.id}"
                                        th:attr="data-value=${entry.mailBody},data-subject=${entry.mailSubject}"
                                        th:text="${entry.templateName}" hidden="hidden"></option>
                            </th:block>
                        </select>
                            <div class="text-danger" id="mailTemplateInvalid"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 md-form pl-0 d-inline-block">
                        <label id="mailSubjectLabel" for="mailSubject">Subject</label> <input
                            type="text" id="mailSubject" name="mailSubject"
                            required="required" placeholder="Subject" class="form-control ">
                        <div class="text-danger" id="mailSubjectInvalid"></div>
                    </div>
                    <div class="col-sm-12 md-form pl-0 d-inline-block">
                        <textarea id="mailTextArea" rows="6" style="width: 100%;"></textarea>
                        <div class="text-danger" id="mailTextAreaInvalid"></div>
                    </div>
                </div>
            </div>
            <div class="modal-body step-4 " data-step="4">
                <div class="row">
                    <div class="col-sm-12 pt-3 pb-3">
                        <span style="font-size: 16px; font-weight: 400;" id="step3Body"></span>
                        <table class="d-none submitBidTable"
                               style="width: 100%; margin-top: 3%;">
                            <thead>
                            <tr>
                                <th style="color: #2f008d;">Payment Type</th>
                                <th id="postTypeTableLabel" style="color: #2f008d;">Post
                                    Type
                                </th>
                                <th id="postDurationTableLabel" style="color: #2f008d;">Post
                                    Duration
                                </th>
                                <th id="paymentModeTableLabel" class="d-none"
                                    style="color: #2f008d;">Payment Mode
                                </th>
                                <th id="bidAmountTableLabel" style="color: #2f008d;">Bid
                                    Amount
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td id="paymentTypeTable"></td>
                                <td id="postTypeTable"></td>
                                <td id="postDurationTable"></td>
                                <td class="d-none" id="paymentModeTable"></td>
                                <td id="bidAmountTable"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary"
                    onclick="resetFormSubmitBid()" data-dismiss="modal">Cancel</button> -->
                <span class="step-2" data-step="2"
                      style="margin-top: 5px; font-weight: initial; font-size: 14px; margin-right: auto;">
					<div id="pricing">
						<i class="fas fa-info-circle" style="color: #2f008d;"></i><span
                            style="font-weight: 500; padding-left: 6px; font-size: 17px;">Estimated
							pricing for permanent post: </span><span
                            style="font-weight: 500; padding-left: 6px; font-size: 17px;"
                            th:text="|$${T(io.smartfluence.util.ThymeUtils).formatNumber(influencerModel.lastPrice)}|"></span>
					</div>
				</span>
                <button type="button"
                        class="btn btn-sm btn-secondary step step-2 back" data-step="2"
                        onclick="sendEvent('#SubmitBid', 1)">Back
                </button>
                <button type="button" class="btn btn-sm btn-primary step step-1"
                        data-step="1" onclick="validateCampaign()">Add
                </button>
                <button type="button" id="skipForNow"
                        class="btn btn-sm btn-primary step step-2"
                        onclick="setSubmitBidFalse()" data-step="2">Skip for now
                </button>
                <button type="submit"
                        class="btn btn-sm btn-primary step step-2 submitBid"
                        onclick="setSubmitBidTrue()" data-step="2">Next
                </button>
                <button type="button"
                        class="btn btn-sm btn-secondary step step-3 back-2" data-step="3"
                        onclick="sendEvent('#SubmitBid', 2)">Back
                </button>
                <button type="submit"
                        class="btn btn-sm btn-primary step step-3 submitBid"
                        onclick="validateMailContent()" data-step="3">Next
                </button>
                <div class="step step-4 d-none addToCampaignMesage"
                     style="margin-top: 5px; font-weight: initial; font-size: 14px; margin-right: auto;"
                     data-step="3">
                    <i class="fas fa-info-circle" style="color: #2f008d;"></i> <span
                        style="font-weight: 400;">You can submit a bid later in the
						<a target="_blank" href="/brand/campaign">Manage Campaign</a>
						section
					</span>
                </div>
                <button id="dataStep4Back" type="button"
                        class="btn btn-sm btn-secondary step step-4 back-2" data-step="4"
                        onclick="sendEvent('#SubmitBid', 3)">Back
                </button>
                <button type="button" class="btn btn-sm btn-primary step step-4 "
                        id="addToCampaign" data-step="4" onclick="saveCampaign()">Confirm
                </button>
                <button type="button" class="btn btn-sm btn-primary step step-4 "
                        id="submitBid" data-step="4" onclick="submitBid()">Confirm
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="SubmitBidSuccessMessage" tabindex="-1"
     role="dialog" aria-labelledby="SubmitBidSuccessMessageLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" id="SubmitBidLabel">Submitted
                    Successfully</h5>
                <button type="button" class="close" data-dismiss="modal"
                        onclick="resetForms()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="bidMessage"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="viewNameMessage" tabindex="-1" role="dialog"
     aria-labelledby="viewNameMessageLabel" style="top: 12%;"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary tect-center" id="viewNameLabel"></h5>
                <button type="button" class="close" data-dismiss="modal"
                        onclick="resetForms()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
	var profileDetails=/*[[${profileDetails}]]*/;


</script>
<script>
	sendEvent = function(sel, step) {
		$(sel).trigger('next.m.' + step);
	}


</script>
</html>
