<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Smartfluence | Influencer Details</title>
<th:block th:insert="header" />
<style type="text/css">
</style>
</head>

<body>
	<th:block th:insert="tawk.html" />
	<div id="wrapper" class="">
		<th:block th:insert="Brand/NavPanel" />
		<div id="page-content-wrapper">
			<th:block th:insert="loader" />
			<div th:if="${influencerModel.status} != 200"
				class="container-fluid clearfix">
				<div class="row justify-content-md-center">
					<div class="w-100">
						<section class="form-light">
							<div class="text-center">
								<div class="">
									<a class="navbar-brand" href="#"><img
										th:src="@{/static/img/new-logo-transparent.png}"></a>
								</div>
								<h1 th:if="${influencerModel.message} == 'free'" class="mt-5">Your free account has run out of credits. Please upgrade your account to one of our paid packages <a href='https://www.smartfluence.io/pricing-plans'>here</a>! Please contact help@smartfluence.io in case you need any help.</h1>
								<h1 th:if="${influencerModel.message} != 'free'" th:text="${influencerModel.message}" class="mt-5"></h1>
							</div>
						</section>
					</div>
				</div>
			</div>
			<div th:if="${influencerModel.status} == 200"
				class="container-wrapper">
				<th:block th:insert="Brand/ViewInfluencerPanel"></th:block>
				<div class="row">
					<div class="col-sm-10">
						<div class="container-wrapper">
							<div class="tabs-wrapper">
								<ul class="nav classic-tabs tabs-red rounded-0" role="tablist">
									<li class="nav-item"><a
										class="nav-link waves-light active" data-toggle="tab"
										href="#age" role="tab">Age & Gender</a></li>
									<li class="nav-item"><a class="nav-link waves-light"
										data-toggle="tab" href="#country" role="tab">Countries</a></li>
									<li th:if="${influencerModel.platform == 'instagram'} " class="nav-item"><a class="nav-link waves-light"
										data-toggle="tab" href="#state" role="tab">States</a></li>
									<li th:if="${influencerModel.platform} == 'instagram'" class="nav-item"><a class="nav-link waves-light"
										data-toggle="tab" href="#interests" role="tab">Interests</a></li>
									<!-- <li class="nav-item"><a
										class="nav-link waves-light" data-toggle="tab"
										href="#engagement" role="tab">Engagement</a>
									</li> -->
									<li class="nav-item"><a class="nav-link waves-light"
										data-toggle="tab" href="#contents" role="tab">Content</a></li>
								</ul>
							</div>
							<div class="tab-content card">
								<!--Panel 1-->
								<th:block th:insert="Brand/ViewInfluencerTabAgeGender" />
								<!--Panel 2-->
								<th:block th:insert="Brand/ViewInfluencerTabCountry" />
								<!--Panel 3-->
								<th:block th:insert="Brand/ViewInfluencerTabState" />
								<!--Panel 4-->
								<th:block th:insert="Brand/ViewInfluencerTabInterest" />
								<!--Panel 5-->
								<!-- <th:block th:insert="Brand/ViewInfluencerTabEngagement" /> -->
								<!--/.Panel 6-->
								<th:block th:insert="Brand/ViewInfluencerTabContent" />
							</div>
						</div>
					</div>
					<!-- <div class="col-sm-3 mt-2">
						<th:block th:insert="Brand/ViewInfluencerRightGrid" />
					</div> -->

				</div>
				<div class="pull-left" style="margin-left: 25px;">
					<a class="btn btn-outline-primary" role="button"
					   onclick="backToSearch()"> <i
							class="fas fa-long-arrow-alt-left mr-2"> </i> Back to Search
					</a>
				</div>
			</div>
		</div>
	</div>
	<th:block th:insert="footer" />
	<script type="text/javascript" th:src="@{/static/js/moment.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/js/moment-timezone.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/chart.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/script/brand/view_influencer.js}"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/

		var influencerModal = /*[[${influencerModel}]]*/;
		var allActiveCampaigns = /*[[${allActiveCampaigns}]]*/;

		/*]]>*/
	</script>
</body>
</html>