<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Smartfluence | Campaign Management</title>
    <th:block th:insert="header" />

    <link rel="stylesheet" th:href="@{/static/css/datatables.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/select.dataTables.min.css}">
    <script th:inline="javascript">
        var campaignStatus = /*[[${campaignObj.campaignStatus}]]*/;
        var campaignStatusFromCampaign = campaignStatus == "CLOSED" ? "ENDED" : campaignStatus







    </script>


    </script>
    <style type="text/css">
        input[type=checkbox] {
            position: static;
            visibility: visible;

        }

        .btn-explore {
            display: flex;
            justify-content: end;
        }
    </style>
</head>

<body>
    <th:block th:insert="tawk.html" />
    <div id="wrapper" class="">
        <th:block th:insert="Brand/NavPanel" />
        <!-- Page content -->
        <div id="page-content-wrapper" sec:authorize="hasAuthority('ROLE_BRAND_APPROVED')">
            <th:block th:insert="loader" />
            <div class="container-wrapper">
                <div class="">
                    <div style="margin-top:20px">
                        <h4 style=" color: #2f008d;" class="m-0">
                            <b th:text="${campaignObj.campaignName}"> </b>
                        </h4>
                    </div>
                    <div class="tabs-wrapper" style="margin-top:10px">
                        <ul class="nav classic-tab tabs-red" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#" role="tab">All Influencers</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/workflow'"
                                    role="tab">Workflow</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/details'"
                                    role="tab">Campaign Details</a>
                            </li>
                        </ul>
                    </div>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        var influencers = /*[[${influencers}]]*/ 'default';
                        console.log(influencers);

                        /*]]>*/






                    </script>
                    <div class="tab-content card" style="margin-top: 0px;">
                        <div class="tab-pane fade in show active" id="general" role="tabpanel">
                            <div class="clearfix">
                                <table id="table_general" class="table table-sm  table-hover display">
                                    <thead>
                                        <tr class="text-primary">
                                            <th><input name="select_all" value="1" type="checkbox"></th>
                                            <th>Influencer</th>
                                            <th>Platform</th>
                                            <th>Followers</th>
                                            <th style="width:130px">Engagement</th>
                                            <th>Est Pricing</th>
                                            <th style="width:130px">Offer</th>
                                            <th style="width:130px;">Status</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <th:block th:each="influencer : ${influencers}">
                                            <tr th:id="${influencer.influencerId}" class="influencerClass">
                                                <td><input type="checkbox" value="" class="influencer__id" /></td>
                                                <td><a th:href="'/brand/view-influencer/'+${influencer.influencerId}+'?isValid=true&platform='+${influencer.platform}"
                                                        target="_blank"><span style="color: #2f008d;"
                                                            th:text="${influencer.influencerHandle}"></span></a>
                                                </td>
                                                <td>
                                                    <a style=" color: #2f008d; font-size: 1.2rem;"><i
                                                            th:if="${influencer.platform} == 'instagram'"
                                                            class="fab fa-instagram"></i> <i
                                                            th:if="${influencer.platform} == 'youtube'"
                                                            class="fab fa-youtube"></i> <img
                                                            th:if="${influencer.platform} == 'tiktok'"
                                                            style="width: 18px; height: 18px; margin-bottom: 5px;"
                                                            th:src="@{/static/svgs/brands/tiktok.svg}"></a>
                                                </td>
                                                <td th:data-sort="${influencer.influencerFollowers}"
                                                    th:text="|${T(io.smartfluence.util.ThymeUtils).formatNumber(influencer.influencerFollowers)}|">
                                                </td>

                                                <td th:data-sort="${influencer.influencerEngagement}"
                                                    th:text="|${T(io.smartfluence.util.ThymeUtils).formatNumber(influencer.influencerEngagement)}|">
                                                </td>
                                                <td th:data-sort="${influencer.influencerPricing}"
                                                    th:text="|$${T(io.smartfluence.util.ThymeUtils).formatNumber(influencer.influencerPricing)}|">
                                                </td>
                                                <td>
                                                    <span th:if="(${influencer.offerTypeResponse.paymentOffer} != null)"
                                                        th:text="'$'+|${#numbers.formatDecimal(influencer.offerTypeResponse.paymentOffer,0,0)}|+' Cash'">
                                                    </span>
                                                    <br />

                                                    <span
                                                        th:if="${influencer.offerTypeResponse.commissionValue != null and influencer.offerTypeResponse.commissionAffiliateTypeName != null and influencer.offerTypeResponse.currency == '$'}"
                                                        th:text="${influencer.offerTypeResponse.commissionAffiliateTypeName =='Custom' }
                                                  ? | ${influencer.offerTypeResponse.currency}${#numbers.formatDecimal(influencer.offerTypeResponse.commissionValue,0,0)} per ${influencer.offerTypeResponse.commissionAffiliateCustomName}|
                                                   : | ${influencer.offerTypeResponse.currency}${#numbers.formatDecimal(influencer.offerTypeResponse.commissionValue,0,0)} per ${influencer.offerTypeResponse.commissionAffiliateTypeName}|">
                                                    </span>

                                                    <span
                                                        th:if="${influencer.offerTypeResponse.commissionValue != null and influencer.offerTypeResponse.commissionAffiliateTypeName != null and influencer.offerTypeResponse.currency == '%'}"
                                                        th:text="${influencer.offerTypeResponse.commissionAffiliateTypeName =='Custom' }
                                                    ? |${#numbers.formatDecimal(influencer.offerTypeResponse.commissionValue,0,0)}${influencer.offerTypeResponse.currency} per ${influencer.offerTypeResponse.commissionAffiliateCustomName}|
                                                   : |${#numbers.formatDecimal(influencer.offerTypeResponse.commissionValue,0,0)}${influencer.offerTypeResponse.currency} per ${influencer.offerTypeResponse.commissionAffiliateTypeName}|">
                                                    </span>

                                                    <span
                                                        th:if="${influencer.offerTypeResponse.campaignProductsV1List !=null and influencer.offerTypeResponse.commissionValue == null and influencer.offerTypeResponse.paymentOffer==null  }"
                                                        th:text=" --">
                                                    </span>

                                                </td>
                                                <td>
                                                    <a class="nav-link"
                                                        th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/workflow'"
                                                        role="tab"
                                                        th:if="( (${influencer.proposalStatus} == 'INVITE_NOT_SENT'))"
                                                        style="color: #2f008d"> Pending Invite </a>

                                                    <a class="nav-link" id="reviewProposal-tab"
                                                        th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/workflow?tabId=reviewProposal-tab'"
                                                        role="tab"
                                                        th:if="( (${influencer.proposalStatus} == 'INVITE_SENT'))"
                                                        style="color: #2f008d">Invitation Sent</a>

                                                    <a class="nav-link" id="reviewProposal-tab"
                                                        th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/workflow?tabId=reviewProposal-tab'"
                                                        role="tab"
                                                        th:if="( (${influencer.proposalStatus} == 'INFLUENCER_ACCEPTED'))"
                                                        style="color: #2f008d">Review Proposal</a>

                                                    <a class="nav-link" id="reviewProposal-tab"
                                                        th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/workflow?tabId=reviewProposal-tab'"
                                                        role="tab"
                                                        th:if="( (${influencer.proposalStatus} == 'INFLUENCER_REJECTED'))"
                                                        style="color: #2f008d">Declined by Influencer</a>

                                                    <a class="nav-link" id="reviewProposal-tab"
                                                        th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/workflow?tabId=reviewProposal-tab'"
                                                        role="tab"
                                                        th:if="( (${influencer.proposalStatus} == 'BRAND_REJECTED'))"
                                                        style="color: #2f008d">Rejected By Brand</a>

                                                    <a class="nav-link" id="reviewProposal-tab"
                                                        th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/workflow?tabId=reviewProposal-tab'"
                                                        role="tab"
                                                        th:if="( (${influencer.proposalStatus} == 'BRAND_ACCEPTED'))"
                                                        style="color: #2f008d">Accepted by Brand</a>

                                                    <a class="nav-link" id="makePayments-tab"
                                                        th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/workflow?tabId=makePayments-tab'"
                                                        role="tab"
                                                        th:if="( (${influencer.proposalStatus} == 'NOT_PAID'))"
                                                        style="color: #2f008d">Payment pending</a>

                                                    <a class="nav-link" id="makePayments-tab"
                                                        th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/workflow?tabId=fulfillProducts-tab'"
                                                        role="tab" th:if="( (${influencer.proposalStatus} == 'PAID'))"
                                                        style="color: #2f008d">Payment done</a>

                                                    <a class="nav-link" id="fulfillProducts-tab"
                                                        th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/workflow?tabId=statistics-tab'"
                                                        role="tab"
                                                        th:if="( (${influencer.proposalStatus} == 'PRODUCT_FULFILLED'))"
                                                        style="color: #2f008d">Product fulfilled</a>

                                                    <a class="nav-link" id="statistics-tab"
                                                        th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/workflow?tabId=statistics-tab'"
                                                        role="tab"
                                                        th:if="( (${influencer.proposalStatus} == 'TRACK_POST'))"
                                                        style="color: #2f008d">Track post</a>
                                                </td>


                                                <td style="text-align :center">
                                                    <div id="actionDisabled" class="dropdown">
                                                        <span class="dot-icon"><i class="fa fa-ellipsis-v"></i></span>
                                                        <ul class="dropdown-content">
                                                            <li
                                                                th:if="( (${influencer.proposalStatus} == 'INVITE_NOT_SENT'))">
                                                                <a th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/workflow'"
                                                                    role="tab"
                                                                    th:if="( (${influencer.proposalStatus} == 'INVITE_NOT_SENT'))">View
                                                                </a>
                                                            </li>

                                                            <li
                                                                th:if="( (${influencer.proposalStatus} == 'INVITE_SENT'))">
                                                                <a id="reviewProposal-tab"
                                                                    th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/workflow?tabId=reviewProposal-tab'"
                                                                    role="tab"
                                                                    th:if="( (${influencer.proposalStatus} == 'INVITE_SENT'))">View
                                                                </a>
                                                            </li>

                                                            <li
                                                                th:if="( (${influencer.proposalStatus} == 'INFLUENCER_ACCEPTED'))">
                                                                <a id="reviewProposal-tab"
                                                                    th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/workflow?tabId=reviewProposal-tab'"
                                                                    role="tab"
                                                                    th:if="( (${influencer.proposalStatus} == 'INFLUENCER_ACCEPTED'))">View
                                                                </a>
                                                            </li>

                                                            <li
                                                                th:if="( (${influencer.proposalStatus} == 'INFLUENCER_REJECTED'))">
                                                                <a id="reviewProposal-tab"
                                                                    th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/workflow?tabId=reviewProposal-tab'"
                                                                    role="tab"
                                                                    th:if="( (${influencer.proposalStatus} == 'INFLUENCER_REJECTED'))">View
                                                                </a>
                                                            </li>

                                                            <li
                                                                th:if="( (${influencer.proposalStatus} == 'BRAND_REJECTED'))">
                                                                <a id="reviewProposal-tab"
                                                                    th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/workflow?tabId=reviewProposal-tab'"
                                                                    role="tab"
                                                                    th:if="( (${influencer.proposalStatus} == 'BRAND_REJECTED'))">View
                                                                </a>
                                                            </li>

                                                            <li
                                                                th:if="( (${influencer.proposalStatus} == 'BRAND_ACCEPTED'))">
                                                                <a id="reviewProposal-tab"
                                                                    th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/workflow?tabId=reviewProposal-tab'"
                                                                    role="tab"
                                                                    th:if="( (${influencer.proposalStatus} == 'BRAND_ACCEPTED'))">View
                                                                </a>
                                                            </li>

                                                            <li th:if="( (${influencer.proposalStatus} == 'NOT_PAID'))">
                                                                <a id="makePayments-tab"
                                                                    th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/workflow?tabId=makePayments-tab'"
                                                                    role="tab"
                                                                    th:if="( (${influencer.proposalStatus} == 'NOT_PAID'))">View

                                                                </a>
                                                            </li>

                                                            <li th:if="( (${influencer.proposalStatus} == 'PAID'))">
                                                                <a id="makePayments-tab"
                                                                    th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/workflow?tabId=fulfillProducts-tab'"
                                                                    role="tab"
                                                                    th:if="( (${influencer.proposalStatus} == 'PAID'))">View
                                                                </a>
                                                            </li>

                                                            <li
                                                                th:if="( (${influencer.proposalStatus} == 'PRODUCT_FULFILLED'))">
                                                                <a id="fulfillProducts-tab"
                                                                    th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/workflow?tabId=statistics-tab'"
                                                                    role="tab"
                                                                    th:if="( (${influencer.proposalStatus} == 'PRODUCT_FULFILLED'))">View
                                                                </a>
                                                            </li>

                                                            <li
                                                                th:if="( (${influencer.proposalStatus} == 'TRACK_POST'))">
                                                                <a id="statistics-tab"
                                                                    th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/workflow?tabId=statistics-tab'"
                                                                    role="tab"
                                                                    th:if="( (${influencer.proposalStatus} == 'TRACK_POST'))">View
                                                                </a>
                                                            </li>
                                                            <!-- <li class="removeInfluencer" data-toggle="modal"
                                                                href="#removeInfluencer"
                                                                th:if="((${influencer.proposalStatus} == 'INVITE_NOT_SENT'))"
                                                                th:data-status="${influencer.proposalStatus}"
                                                                th:id="${influencer.influencerId}"
                                                                title="Remove From Campaign"> Delete
                                                            </li> -->

                                                            <li
                                                                th:if="((${influencer.proposalStatus} == 'INVITE_NOT_SENT'))">
                                                                <a class="removeInfluencer" data-toggle="modal"
                                                                    href="#removeInfluencer"
                                                                    th:if="((${influencer.proposalStatus} == 'INVITE_NOT_SENT'))"
                                                                    th:data-status="${influencer.proposalStatus}"
                                                                    th:id="${influencer.influencerId}"
                                                                    title="Remove From Campaign"> Delete</a>
                                                            </li>
                                                            <li
                                                                th:if="((${influencer.proposalStatus} != 'INVITE_NOT_SENT'))">
                                                                <a class="removeInfluencer" href="#removeInfluencer"
                                                                    th:if="((${influencer.proposalStatus} != 'INVITE_NOT_SENT'))"
                                                                    th:data-status="${influencer.proposalStatus}"
                                                                    th:id="${influencer.influencerId}"
                                                                    title="Influencer cannot be deleted at this stagen">
                                                                    Delete</a>
                                                            </li>
                                                            <!-- <li class="removeInfluencer" href="#removeInfluencer"
                                                                th:id="${influencer.influencerId}"
                                                                th:if="((${influencer.proposalStatus} != 'INVITE_NOT_SENT'))"
                                                                th:data-status="${influencer.proposalStatus}"
                                                                title="Influencer cannot be deleted at this stage">
                                                                Delete
                                                             </li> -->
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="mailTemplateModal" tabindex="-1" role="dialog" aria-labelledby=""
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document" style="height: 97%;">
                    <div class="modal-content" style="height: 80%;">
                        <div class="modal-header">
                            <h5 class="modal-title text-primary" id="mailTemplatesLabel" style="margin-top: 1%;">Mail
                                Templates</h5>
                            <div id="createNewTemplate" class="row" style="margin-left: 55% !important;">
                                <a type="button" class="btn btn-primary btn-sm waves-effect"
                                    onclick="viewMailEditPage('Create New Template',null)">Create
                                    New Template</a>
                            </div>
                            <div style="margin-top: 1%;">
                                <button type="button" class="close" data-dismiss="modal" onclick="resetMailTemplate()"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="modal-body"
                            style="overflow-y: auto; max-height: calc(117% - 120px); overflow-x: hidden !important;">
                            <div class="tab-pane fade in show active" id="mailTemplateTable" role="tabpanel">
                                <div class="clearfix">
                                    <table id="table_mailTemplate" class="table table-sm  table-hover">
                                        <thead>
                                            <tr class="text-primary">
                                                <th style="text-align: start;">Templates</th>
                                                <th style="width: 167.6px;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <th:block th:each="mailTemplate : ${mailTemplates}">
                                                <tr th:if="${mailTemplate.isUserCreated}">
                                                    <td style="text-align: start;"
                                                        th:text="${mailTemplate.templateName}">
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <div class="row">
                                                            <div style="margin: auto;">
                                                                <a id="viewEditMailPage"
                                                                    th:onclick="|viewMailEditPage('${mailTemplate.templateName}','${mailTemplate.id}')|"
                                                                    class="btn btn-primary btn-sm waves-effect">Edit</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="d-none tab-pane fade in show active" id="editTemplate" role="tabpanel">
                                <form class="row" id="editTemplateForm">
                                    <div class="col-md-12 md-form p-0 d-inline-block">
                                        <label for="templateName">Template Name</label> <input type="text"
                                            id="templateName" name="templateName" required="required"
                                            class="form-control" placeholder="Enter Template Name">
                                        <div class="text-danger d-none" id="templateNameInvalid"></div>
                                    </div>
                                    <div class="col-md-12 md-form p-0 d-inline-block">
                                        <div class="row">
                                            <div class="col-md-9  md-form pl-0 d-inline-block">
                                                <label for="templateSubject">Subject</label> <input type="text"
                                                    id="templateSubject" name="templateSubject" required="required"
                                                    class="form-control" placeholder="Enter Subject">
                                                <div class="text-danger d-none" id="templateSubjectInvalid"></div>
                                            </div>
                                            <div class="col-md-3 md-form p-0 d-inline-block">
                                                <label for="mailTemplate" class="active">Variables</label> <select
                                                    name=" Variables" required="required" id="variables"
                                                    class="mdb-select form-control">
                                                    <option value="variables">Variables</option>
                                                    <option value="<Full Name>">Full
                                                        Name
                                                    </option>
                                                    <option value="<Brand Name>">Brand Name</option>
                                                    <option value="<Influencer Handle>">Influencer
                                                        Handle
                                                    </option>
                                                    <option value="<Estimated Pricing>">Estimated
                                                        Pricing
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 md-form p-0 d-inline-block">
                                        <span style="font-size: .8rem; cursor: text; color: #757575;">Mail
                                            Content</span>
                                        <textarea id="templateTextArea" rows="6" style="width: 100%;"></textarea>
                                        <div class="text-danger d-none" id="templateTextAreaInvalid"></div>
                                    </div>
                                </form>
                                <div style="padding-top: 1.3rem !important; float: right;">
                                    <button id="editTemplateBack" type="button" class="btn btn-sm btn-secondary"
                                        onclick="viewTemplatePage()">Back
                                    </button>
                                    <button type="submit" id="saveTemplate" class="btn btn-sm btn-primary"
                                        onclick="saveTemplate()">Save
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- <div class=" modal-footer row p-2 d-none" id="searchInfluencerModalFooter">
                        <div class="col-sm-12 " id="reportMessageDiv"
                            style="text-align: center;">
                            <span style="font-weight: 400;" id="reportMessage">Your
                                report will download shortly</span><span id="reportMessageCount"></span>
                        </div>
                    </div> -->
                    </div>
                </div>
            </div>
            <div class="modal fade" id="bulkMailModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-primary">Send Bulk Email</h4>
                            <button type="button" class="close" data-dismiss="modal" onclick="resetModal()"
                                aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12 d-inline-block md-form p-0" style="margin-top: 0 !important;">
                                    <span style="color: #757575; position: relative; top: 30%; font-size: 16px;">Select
                                        email template to send in bulk</span>
                                </div>
                                <div id="dropdownTemplates" class="col-sm-12 md-form p-0 d-inline-block"
                                    style="margin-top: 2% !important;">
                                    <select name=" mailTemplate" required="required" id="bulkMailTemplate"
                                        class="mdb-select form-control">
                                        <option value="" hidden="true">Mail Template</option>
                                        <th:block th:each="entry : ${mailTemplates}">
                                            <option th:if="${entry.isUserCreated}" th:value="${entry.id}"
                                                th:text="${entry.templateName}"></option>
                                        </th:block>
                                    </select>
                                    <div class="text-danger" id="bulkMailTemplateInvalid"></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="sendBulk" type="button" class="btn btn-primary btn-sm waves-effect"
                                onclick="sendBulkMail()">Send
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="uploadInfluencersModal" tabindex="-1" role="dialog" aria-labelledby=""
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-primary">Upload Influencers</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div id="downloadTemplate" class="modal-body" style="text-align: center;">
                            <span>Click <span style="cursor: pointer; color: #2f008d;"
                                    onclick="downloadTemplate()">here</span> to download the template
                                for uploading influencers.
                            </span>
                        </div>
                        <div id="alreadyAddedError" class="modal-body d-none">
                            <div>These Influencers have already been added to the
                                Campaign :
                            </div>
                            <div id="influencersNotAdded" style="color: red;">Added</div>
                        </div>
                        <div id="notFoundError" class="modal-body d-none">
                            <div>Influencers not found :</div>
                            <div id="influencersNotFound" style="color: red;">Found</div>
                        </div>
                        <div id="tryAgainError" class="modal-body d-none">
                            <div>The below influencer data will be available in 15
                                minutes. Please try uploading again after 15 minutes! :
                            </div>
                            <div id="influencersPulling" style="color: red;">Pulling</div>
                        </div>
                        <div id="uploadError" class="modal-footer d-none">
                            <button id="uploadErrorBtn" type="submit" class="btn btn-sm btn-primary">Ok
                            </button>
                        </div>
                        <div id="uploadTemplate" class="modal-footer d-none">
                            <span>Fill the downloaded template with Influencer usernames
                                and select the file using the Browse button. <br> <span style="color: #2f008d;">Note :
                                </span>Please do not have empty
                                rows between Influencer usernames
                            </span>
                            <button id="browseBtn" type="submit" class="btn btn-sm btn-primary">
                                Browse
                            </button>
                            <button id="uploadingBtn" type="submit" class="btn btn-sm btn-primary disabled d-none">
                                Uploading
                                <svg style="color: white;" class="svg-inline--fa fa-sync-alt fa-w-16 fa-spin"
                                    aria-hidden="true" data-prefix="fas" data-icon="sync-alt" role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                        d="M370.72 133.28C339.458 104.008 298.888 87.962 255.848 88c-77.458.068-144.328 53.178-162.791 126.85-1.344 5.363-6.122 9.15-11.651 9.15H24.103c-7.498 0-13.194-6.807-11.807-14.176C33.933 94.924 134.813 8 256 8c66.448 0 126.791 26.136 171.315 68.685L463.03 40.97C478.149 25.851 504 36.559 504 57.941V192c0 13.255-10.745 24-24 24H345.941c-21.382 0-32.09-25.851-16.971-40.971l41.75-41.749zM32 296h134.059c21.382 0 32.09 25.851 16.971 40.971l-41.75 41.75c31.262 29.273 71.835 45.319 114.876 45.28 77.418-.07 144.315-53.144 162.787-126.849 1.344-5.363 6.122-9.15 11.651-9.15h57.304c7.498 0 13.194 6.807 11.807 14.176C478.067 417.076 377.187 504 256 504c-66.448 0-126.791-26.136-171.315-68.685L48.97 471.03C33.851 486.149 8 475.441 8 454.059V320c0-13.255 10.745-24 24-24z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="removeInfluencer" tabindex="-1" role="dialog"
                aria-labelledby="removeInfluencerLabel" style="top: 12%;" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-primary tect-center" id="removeInfluencerHeader">Remove
                                Influencer
                            </h5>
                            <button type="button" class="close" data-dismiss="modal"
                                onclick="resetForms();$('#payment-non-cash').hide();" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="removeInfluencerBody">Are you sure that you want to
                                remove the Influencer from the Campaign ?
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-secondary"
                                onclick="resetForms();$('#payment-non-cash').hide();" data-dismiss="modal">Cancel
                            </button>
                            <button type="submit" class="btn btn-sm btn-primary" onclick="removeNewInfluencer()">Ok
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="copyInfluencersModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-primary">Copy Influencers</h4>
                            <button type="button" class="close" data-dismiss="modal" onclick="resetModal()"
                                aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12 md-form p-0 d-inline-block" style="margin-top: 2% !important;">
                                    <select name="copyInfluencers" required="required" id="campaignId"
                                        class="mdb-select form-control">
                                        <option value="" hidden="true">Select Campaign</option>
                                        <th:block th:each="newCampaignName : ${newCampaignNames}">
                                            <option th:text="${newCampaignName.campaignName}"
                                                th:value="${newCampaignName.campaignId}"></option>
                                        </th:block>
                                    </select>
                                    <div class="text-danger" id="campaignIdInvalid"></div>
                                </div>
                            </div>
                        </div>
                        <div id="alreadyCopiedError" class="modal-body d-none">
                            <div>These Influencers have already been added to the
                                Campaign :
                            </div>
                            <div id="influencersNotCopied" style="color: red;">Added</div>
                        </div>
                        <div class="modal-footer">
                            <button id="copyInfluencersConfirm" type="button"
                                class="btn btn-primary btn-sm waves-effect" onclick="copyToCampaign()">Confirm
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteCampaignModal" tabindex="-1" role="dialog" aria-labelledby=""
            style="top: 12%;" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-primary tect-center">Delete Influencer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="">Are you sure that you want to delete selected Influencers?</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel
                        </button>
                        <button type="submit" class="btn btn-sm btn-primary" onclick="deleteSelectedInfluencer()">Ok
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exportToCsvModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-primary" id="SubmitBidLabel">Export
                            To CSV</h5>
                        <button type="button" class="close" data-dismiss="modal" onclick="resetExportToCsvModal()"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        <span id="fileReadyMessage">Your file is getting ready.</span>
                        <div class="" style="display: inline-block" id="reportMessageLoader">
                            <div class="loader"></div>
                        </div>
                        <span id="downloadCsv" class="d-none">Your file is ready.
                            Click <span id="downloadCsvbutton" style="cursor: pointer; color: #2f008d;"
                                onclick="downloadCSV()">here</span>
                            to download.
                        </span>
                    </div>
                    <div class="modal-footer row p-2 d-none" id="searchInfluencerModalFooter">
                        <div class="col-sm-12 " id="reportMessageDiv" style="text-align: center;">
                            <span style="font-weight: 400;" id="reportMessage">Your
                                report will download shortly</span><span id="reportMessageCount"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:insert="footer" />
        <script type="text/javascript" th:src="@{/static/dt_new/datatables.min.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/dataTables.checkboxes.min.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/moment.min.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/moment-timezone.min.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/xlsx.full.min.js}"></script>
        <script th:inline="javascript">
            var influencers = /*[[${influencers}]]*/;
            var campaignObj = /*[[${campaignObj}]]*/;
            var allActiveCampaigns = /*[[${allActiveCampaigns}]]*/;
            var campaignNameOriginal = /*[[${campaignObj.campaignName}]]*/;
            var profileDetails = /*[[${profileDetails}]]*/;
            var mailTemplates = /*[[${mailTemplates}]]*/;

        </script>
        <script>
            sendEvent = function (sel, step) {
                $(sel).trigger('next.m.' + step);
            }











        </script>

        <script type="text/javascript" th:src="@{/static/script/brand/dashboard.js}"></script>
</body>

</html>