<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:a="http://www.w3.org/1999/xhtml">
    <head>
        <title>Smartfluence | Campaign Management</title>
        <th:block th:insert="header"/>
        <link rel="stylesheet" th:href="@{/static/css/datatables.min.css}">
        <!-- <link rel="stylesheet" th:href="@{/static/dt_new/datatables.min.css}"> -->
    </head>
    <body>
        <script th:inline="javascript">
            var campaignStatusFromCampaignWFFormObj = /*[[${campaignObj.campaignStatus}]]*/;
            var campaignStatusFromCampaignWF = campaignStatusFromCampaignWFFormObj == "CLOSED" ? "ENDED" : campaignStatusFromCampaignWFFormObj;
            console.log("Status of capmpiagn inside mc : ",campaignStatusFromCampaignWF);
            
        </script>
        <th:block th:insert="tawk.html"/>
        <div id="wrapper" class="">
            <th:block th:insert="Brand/NavPanel"/>
            <!-- Page content -->
            <div id="page-content-wrapper" sec:authorize="hasAuthority('ROLE_BRAND_PENDING')">
                <th:block th:insert="loader"/>
                <div class="container-wrapper">
                    <div class="explore-gradient">
                        <div class="position-fixed mr-3">
                            <th:block th:insert="Brand/ApprovalStatus"/>
                        </div>
                    </div>
                </div>
            </div>
            <div id="page-content-wrapper" sec:authorize="hasAuthority('ROLE_BRAND_DECLINED')">
                <th:block th:insert="loader"/>
                <div class="container-wrapper">
                    <div class="explore-gradient">
                        <div class="position-fixed mr-3">
                            <th:block th:insert="Brand/DeclineStatus"/>
                        </div>
                    </div>
                </div>
            </div>
            <div id="page-content-wrapper" sec:authorize="hasAuthority('ROLE_BRAND_APPROVED')">
                <th:block th:insert="loader"/>
                <div class="container-wrapper">
                    <div style="margin-top:20px">
                        <h4 style="text-align: right; color: #2f008d; position: absolute;" class="m-0">
                            <b th:text="${campaignObj.campaignName}"> </b>
                        </h4>
                    </div>
                    <span id="campaignStatusFromWF" th:value="${campaignObj.campaignStatus}"></span>
                    <div class="tabs-wrapper" style="margin-top:70px">
                        <ul class="nav classic-tab tabs-red" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link " th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/influencers'"
                                    role="tab">All Influencers</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" data-toggle="tab" href="#" role="tab">Workflow</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" th:href="'/brand/campaign/'+${campaignObj.campaignId}+'/details'" role="tab">Campaign
                                Details</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="nav nav-tabs tab-style fullWidth" id="workflowTab" role="tablist"
                        style="background-color:#f8f9fc !important">
                        <li style="border:1.5px solid black" class="nav-item">
                            <a class="nav-link active" id="activate-tab" data-toggle="tab" href="#activate" role="tab"
                                aria-controls="activate" aria-selected="true">Activate</a>
                        </li>
                        <li style="border:1.5px solid black;border-left:0px" class="nav-item">
                            <a class="nav-link" id="reviewProposal-tab" data-toggle="tab" href="#reviewProposal" role="tab"
                                aria-controls="reviewProposal" aria-selected="false">Review Proposal</a>
                        </li>
                        <li style="border:1.5px solid black;border-left:0px" class="nav-item">
                            <a class="nav-link" id="makePayments-tab" data-toggle="tab" href="#makePayments" role="tab"
                                aria-controls="makePayments" aria-selected="false">Make Payments</a>
                        </li>
                        <li style="border:1.5px solid black;border-left:0px" class="nav-item">
                            <a class="nav-link" id="fulfillProducts-tab" data-toggle="tab" href="#fulfillProducts"
                                role="tab" aria-controls="fulfillProducts" aria-selected="false">FulFill Products</a>
                        </li>
                        <li style="border:1.5px solid black;border-left:0px" class="nav-item">
                            <a class="nav-link" id="statistics-tab" data-toggle="tab" href="#statistics" role="tab"
                                aria-controls="statistics" aria-selected="false">Status Update</a>
                        </li>
                    </ul>
                    <div class="tab-content" style="padding:0px !important" id="workflowTabContent">
                        <div class="tab-pane fade show active" id="activate" role="tabpanel" aria-labelledby="activate-tab">
                            <th:block th:insert="Brand/Invite"/>
                        </div>
                        <div class="tab-pane fade" id="reviewProposal" role="tabpanel" aria-labelledby="reviewProposal-tab">
                            <th:block th:insert="Brand/ReviewPropsal"/>
                        </div>
                        <div class="tab-pane fade" id="makePayments" role="tabpanel" aria-labelledby="makePayments-tab">
                            <th:block th:insert="Brand/MakePayments"/>
                        </div>
                        <div class="tab-pane fade" id="fulfillProducts" role="tabpanel"
                            aria-labelledby="fulfillProducts-tab">
                            <th:block th:insert="Brand/FulfillProducts"/>
                        </div>
                        <div class="tab-pane fade" id="statistics" role="tabpanel" aria-labelledby="statistics-tab">
                            <th:block th:insert="Brand/StatusUpdate"/>
                        </div>
                    </div>
                    <div class="modal fade" id="viewProducts" tabindex="-1" role="dialog" aria-labelledby="viewProuctsLabel"
                        style="top: 12%;" aria-hidden="true">
                        <div class="modal-dialog modal-md" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-primary tect-center" id="deleteCampaignLabel">Selected
                                        Products
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <input type="hidden" id="dltCampSpnId" style="display: none;"></input>
                                    <div style="display:flex; grid-gap:40px">
                                        <div id="productPopup">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="mailTemplateNewModal" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title text-primary">Mail Template</h4>
                                    <button type="button" class="close" data-dismiss="modal" onclick="resetModal()"
                                        aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12 row p-0">
                                            <div class="col-sm-9 md-form pl-0 d-inline-block">
                                                <label id="mailCcLabel" for="mailCc">CC</label> <input
                                                    type="email" id="mailCc" name="mailCc" required="required"
                                                    placeholder="CC" class="form-control " multiple>
                                                <div class="text-danger" id="mailCcInvalid"></div>
                                            </div>
                                            <div class="col-sm-3 md-form pl-0 d-inline-block">
                                                <label for="mailTemplate" class="active">Mail Template</label> 
                                                <select
                                                    name=" mailTemplate" required="required" id="mailTemplate"
                                                    class="mdb-select form-control">
                                                    <option value="" hidden="true">Select Mail Template</option>
                                                    <th:block th:each="entry : ${mailTemplates}">
                                                        <option
                                                            th:classappend="|${entry.paymentType} ${entry.subPaymentType} ${entry.isUserCreated ? 'true' : 'false'} ${entry.id}|"
                                                            th:value="${entry.id}"
                                                            th:attr="data-value=${entry.mailBody},data-subject=${entry.mailSubject},data-isUserCreated=${entry.isUserCreated}?true:false"
                                                            th:text="${entry.templateName}" hidden="hidden"></option>
                                                    </th:block>
                                                </select>
                                                <div class="text-danger" id="mailTemplateInvalid"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 md-form pl-0 d-inline-block">
                                            <label id="mailSubjectLabel" for="mailSubject">Subject</label> <input
                                                type="text" id="mailSubject" name="mailSubject"
                                                required="required" placeholder="Subject" class="form-control ">
                                            <div class="text-danger" id="mailSubjectInvalid"></div>
                                        </div>
                                        <div class="col-sm-12 md-form pl-0 d-inline-block">
                                            <textarea id="mailTextArea" rows="6" style="width: 100%;"></textarea>
                                            <div class="text-danger" id="mailTextAreaInvalid"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button id="sendBulk" type="button" class="btn btn-primary btn-sm waves-effect"
                                        onclick="submitBid()">Send
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <th:block th:insert="footer"/>
            </div>
        </div>
        <script th:inline="javascript">
            var campaignObj = /*[[${campaignObj}]]*/;
            var campaignNameOriginal = /*[[${campaignObj.campaignName}]]*/;
            var profileDetails = /*[[${profileDetails}]]*/;
            var influencers = /*[[${influencers}]]*/;
            var mailTemplates = /*[[${mailTemplates}]]*/;
        </script>
        <script type="text/javascript" th:src="@{/static/dt_new/datatables.min.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/moment.min.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/moment-timezone.min.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/datetime-moment.js}"></script>
        <script type="text/javascript" th:src="@{/static/script/brand/workflow.js}"></script>
    </body>
</html>