.App {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  height:100vh;
  background: #fff;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heading {

  font-family: 'Bitter';
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  text-transform: capitalize;
  color: #000000;

}

.heading.sm {
  font-size: 15px
}

.normalText {
  font-family: 'Bitter';
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.4;
  color: #212121;
}

.termsConditions {
  scroll-behavior: smooth;
  font-family: 'Bitter';
  font-weight: 400;
  font-size: 17px;
  line-height: 1.4;
  color: #212121;
  max-height: 50vh;
  overflow-y: auto;
}



.showMoreLess {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  /* or 133% */

  text-transform: capitalize;
  color: #3762FB
}

.primaryColor {
  color: #2F008D;
}

.primary-progress-bar .progress-bar {
  background-color: #2F008D;
  color: #2F008D;
}

.main_div {
  height: 100%;
  width: 100%;
  /* border-collapse: collapse; */
  /* color: #2F008D; */
}

.fill-window {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: scroll;
}



.acceptButton {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-block-color: "#2F008D";
  border-block-width: "2px";
  color: #2F008D;
}


.secondaryColor {
  color: #C4C4C4;
}

.divBackGroung {
  background-color: #F8F4FF;
}

/* .dot {
  height: 21px;
  width: 21px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  margin-left: 5px;
} */

.dot1 {
  margin-right: 20px;
  margin-left: 10px;
}


.vl {
  border-left: 2px solid;
  height: 20px;
  width: 20px;
  margin-left: 10px;
  align-items: center;
}

.verticalLine{
  background-color: #2F008D;
  color: #2F008D;
  height:100px;
  width:10px;
  padding: 0;
  border:2px solid;
}



.footer {
  /* position: absolute; */
  bottom: 0;
  display: block;
  width: 100%;
  margin-bottom: 5px;
  margin-top: auto;
}




.loading {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 50px;
}

.screen {
  position: fixed;
  overflow: show;
  /* margin: auto; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 75px;
  width: 100%;
}

.tablet {
  width: 768px;
}











@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.content-wrapper>div {
  min-height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
}

@media(min-width:768px) {
  .container {
    max-width: 768px;
  }
}



body {
  background: #f8f9fc;
}

.content-wrapper {
  background: #fff;
  padding: 20px 5px;
  border-radius: 6px;
}

.spinner-wrapper {
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.forScroll {
  overflow: scroll;
}

.center-wrapper {
  display: flex;
  min-height: 84vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.loginCurve {
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  height: 150px;
  background-color: #c9bfdc;
  align-items: center;
  align-content: center;
}

.circularBackground {
  border-radius: 100%;
}

.sidebar {
  height: 100%;
  width: 160px;
  /* position: fixed; */
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #111; */
  overflow-x: hidden;
  padding-top: 16px;
}

.offcanvas.offcanvas-start.show {
  position: fixed;
  top: 0;
  height: 100%;
  background: #fff;
  padding: 15px;
  width: 60vw;
  /* margin-left: 15px;
  margin-top: 40px;
  margin-bottom: 40px; */
}

.list-group-flush>.list-group-item {
  border-width: 0 0 0;
  padding-left: 0;
}

.lineText {
  display: block;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
pre.__json-pretty-error__ {
  /* break-after: column; */
  white-space: pre-line;
  font-family: 'Bitter';
  /* margin-bottom: 20px; */
  font-weight: 400;
  font-size: 17px;
  /* line-height: 1.4; */
  color: #212121;
}