<div class="mini-loader"
	style="position: absolute; background: white; top: 0; width: 100%; height: 100%; opacity: 0.8; z-index: 2; display: inline-flex; align-items: center; justify-content: center; flex-wrap: wrap;">
	<div class="lds-ellipsis">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>